<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b89d8147-501e-4877-b527-0523d1a79a4b" Alias="casinoBonus" Level="2">
  <Info>
    <Name>Casino Bonus</Name>
    <Icon>icon-bill-dollar color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="5465953d-53a0-4bf2-a617-6b95a7732f52">masterPage</Parent>
    <Compositions>
      <Composition Key="5465953d-53a0-4bf2-a617-6b95a7732f52">masterPage</Composition>
    </Compositions>
    <DefaultTemplate>CasinoBonus</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="11bbc85e-fbd1-4bec-bcdc-4f664512aa39">CasinoBonus</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>