<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ac795be5-e8a3-4aae-9f1c-e12c909593e1" Alias="deposite" Level="2">
  <Info>
    <Name>Deposite Page</Name>
    <Icon>icon-coin-dollar color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="5465953d-53a0-4bf2-a617-6b95a7732f52">masterPage</Parent>
    <Compositions>
      <Composition Key="5465953d-53a0-4bf2-a617-6b95a7732f52">masterPage</Composition>
    </Compositions>
    <DefaultTemplate>DepositPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="516da0db-1172-4f7b-8653-0a75ba2e0b54">DepositPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>