<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bf402e1a-4811-4371-822b-1cee4a446913" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="5465953d-53a0-4bf2-a617-6b95a7732f52">masterPage</Parent>
    <Compositions>
      <Composition Key="5465953d-53a0-4bf2-a617-6b95a7732f52">masterPage</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="64bc5bcd-be57-4bf5-97b9-a6daadda3421">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6c81f290-a0b6-4024-b1f5-d512d935265f" SortOrder="0">signInPage</ContentType>
    <ContentType Key="6368855f-e528-450e-81c6-f2c5bbcea85c" SortOrder="1">signUpPage</ContentType>
    <ContentType Key="8290dd03-bd53-4fc4-9b18-69aa8865384c" SortOrder="2">signOutPage</ContentType>
    <ContentType Key="cf1bd4b9-c311-4c1f-b7e5-700c4524de89" SortOrder="3">verifyPhonePage</ContentType>
    <ContentType Key="3a28bd4b-5e52-4e18-8837-2e557978d3e2" SortOrder="4">test500Page</ContentType>
    <ContentType Key="7a85631f-bc97-4b14-9c40-d6fcb4db8348" SortOrder="5">userAccountPage</ContentType>
    <ContentType Key="ac795be5-e8a3-4aae-9f1c-e12c909593e1" SortOrder="6">deposite</ContentType>
    <ContentType Key="a4607279-906e-4e8d-bf5b-4c7400915747" SortOrder="7">personalInfoPage</ContentType>
    <ContentType Key="202f2233-dd6f-4979-8c98-5b35ff97d4ae" SortOrder="8">identityVerifyPage</ContentType>
    <ContentType Key="6a83a1ef-0bbd-46fa-bedb-5acae8f0580b" SortOrder="9">playedHistoryPage</ContentType>
    <ContentType Key="562607e2-2ce9-4f07-8a80-9b4836cc1585" SortOrder="10">withdrawPage</ContentType>
    <ContentType Key="dc0ac620-3200-4f74-b830-a2cc08ccfddb" SortOrder="11">promoPickerPage</ContentType>
    <ContentType Key="413b4eb0-b516-4af1-ba1c-d6af4b1b0982" SortOrder="12">promoPage</ContentType>
    <ContentType Key="eec186af-ed2e-4c79-ada7-d08594231d67" SortOrder="13">errorPage</ContentType>
    <ContentType Key="67810fc2-ee05-446f-9429-9938747479e4" SortOrder="14">signupVerfication</ContentType>
    <ContentType Key="6a036aa5-aa96-4379-9355-22971b7645db" SortOrder="15">paymentSuccessPage</ContentType>
    <ContentType Key="7c314241-8e1b-4c72-a419-ba9abf61b95f" SortOrder="16">newPassword</ContentType>
    <ContentType Key="6ecad9c4-c74c-4ce6-a836-16c4174c6d6c" SortOrder="17">promotionsPage</ContentType>
    <ContentType Key="517ef5b5-4ae8-4af1-ba16-06788f1fce24" SortOrder="18">withdrawBalance</ContentType>
    <ContentType Key="9db0cd6f-ef7f-4d87-be67-fe3d5ab38738" SortOrder="19">succesfullWithdraw</ContentType>
    <ContentType Key="080ccbca-b15b-4251-ae6c-4d2eae7f7d57" SortOrder="20">landingPage</ContentType>
    <ContentType Key="b89d8147-501e-4877-b527-0523d1a79a4b" SortOrder="21">casinoBonus</ContentType>
    <ContentType Key="b575c51a-4ee5-4b74-8e6b-41e45c336d11" SortOrder="22">verifyEmailPagee</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>