<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="202f2233-dd6f-4979-8c98-5b35ff97d4ae" Alias="identityVerifyPage" Level="2">
  <Info>
    <Name>Identity Verify Page</Name>
    <Icon>icon-addressbook color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="5465953d-53a0-4bf2-a617-6b95a7732f52">masterPage</Parent>
    <Compositions>
      <Composition Key="5465953d-53a0-4bf2-a617-6b95a7732f52">masterPage</Composition>
    </Compositions>
    <DefaultTemplate>IdentityVerifyPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f4edc208-aeeb-4319-8d64-cef423f8ff45">IdentityVerifyPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>