<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0ed5e6d9-60d3-4812-9f17-6e05f964669b" Alias="landingPage1" Level="3">
  <Info>
    <Name>Landing Page1</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="6c81f290-a0b6-4024-b1f5-d512d935265f">signInPage</Parent>
    <Compositions>
      <Composition Key="6c81f290-a0b6-4024-b1f5-d512d935265f">signInPage</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>