<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6a83a1ef-0bbd-46fa-bedb-5acae8f0580b" Alias="playedHistoryPage" Level="2">
  <Info>
    <Name>Played History Page</Name>
    <Icon>icon-time color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="5465953d-53a0-4bf2-a617-6b95a7732f52">masterPage</Parent>
    <Compositions>
      <Composition Key="5465953d-53a0-4bf2-a617-6b95a7732f52">masterPage</Composition>
    </Compositions>
    <DefaultTemplate>HistoryPlayedPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="35d99d1a-73ae-4229-9b81-6345d5fc9494">HistoryPlayedPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>