<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="67810fc2-ee05-446f-9429-9938747479e4" Alias="signupVerfication" Level="2">
  <Info>
    <Name>signup-verfication</Name>
    <Icon>icon-logout color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="5465953d-53a0-4bf2-a617-6b95a7732f52">masterPage</Parent>
    <Compositions>
      <Composition Key="5465953d-53a0-4bf2-a617-6b95a7732f52">masterPage</Composition>
    </Compositions>
    <DefaultTemplate>signupVerfication1</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a2d973df-fe97-499d-8180-f55e61d8d434">signupVerfication1</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>