<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6c81f290-a0b6-4024-b1f5-d512d935265f" Alias="signInPage" Level="2">
  <Info>
    <Name>Sign In Page</Name>
    <Icon>icon-people color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="5465953d-53a0-4bf2-a617-6b95a7732f52">masterPage</Parent>
    <Compositions>
      <Composition Key="5465953d-53a0-4bf2-a617-6b95a7732f52">masterPage</Composition>
    </Compositions>
    <DefaultTemplate>SignInPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1698d619-e10d-4f39-b706-524ed392d005">SignInPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="080ccbca-b15b-4251-ae6c-4d2eae7f7d57" SortOrder="0">landingPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>