<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8290dd03-bd53-4fc4-9b18-69aa8865384c" Alias="signOutPage" Level="2">
  <Info>
    <Name>Sign Out Page</Name>
    <Icon>icon-people color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="5465953d-53a0-4bf2-a617-6b95a7732f52">masterPage</Parent>
    <Compositions>
      <Composition Key="5465953d-53a0-4bf2-a617-6b95a7732f52">masterPage</Composition>
    </Compositions>
    <DefaultTemplate>SignOutPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e90b0006-0993-4b59-b164-91d4b1d107f6">SignOutPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>