<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b575c51a-4ee5-4b74-8e6b-41e45c336d11" Alias="verifyEmailPagee" Level="2">
  <Info>
    <Name>Verify Email Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="5465953d-53a0-4bf2-a617-6b95a7732f52">masterPage</Parent>
    <Compositions>
      <Composition Key="5465953d-53a0-4bf2-a617-6b95a7732f52">masterPage</Composition>
    </Compositions>
    <DefaultTemplate>VerifyEmailPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9cc9ef2b-eed2-42db-82a0-49c700bb17b8">VerifyEmailPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>