<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="562607e2-2ce9-4f07-8a80-9b4836cc1585" Alias="withdrawPage" Level="2">
  <Info>
    <Name>Withdraw Page</Name>
    <Icon>icon-piggy-bank color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="5465953d-53a0-4bf2-a617-6b95a7732f52">masterPage</Parent>
    <Compositions>
      <Composition Key="5465953d-53a0-4bf2-a617-6b95a7732f52">masterPage</Composition>
    </Compositions>
    <DefaultTemplate>Withdraw</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="35841d8d-d7e1-43fb-be82-ac5daf865122">Withdraw</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>