<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="517ef5b5-4ae8-4af1-ba16-06788f1fce24" Alias="withdrawBalance" Level="2">
  <Info>
    <Name>Withdraw Balance</Name>
    <Icon>icon-cash-register color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="5465953d-53a0-4bf2-a617-6b95a7732f52">masterPage</Parent>
    <Compositions>
      <Composition Key="5465953d-53a0-4bf2-a617-6b95a7732f52">masterPage</Composition>
    </Compositions>
    <DefaultTemplate>WithdrawBalance</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5f1e97e0-a4c1-48af-9ee1-9cc160cdfb12">WithdrawBalance</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>