<div class="payment-methods-wrap">
    <div>
        <div class="playerclub-button payment-methods-nav-button"
             onclick="document.querySelector('#payment-methods').previous()">
            <img src="/images/casino/arrow.svg">
        </div>
        <sl-carousel loop id="payment-methods" slides-per-page="10" slides-per-move="1">
            <sl-carousel-item>
                <div>
                    <img src="/images/casino/visa.svg"/>
                </div>
            </sl-carousel-item>
            <sl-carousel-item>
                <div>
                    <img src="/images/casino/mastercard.svg"/>
                </div>
            </sl-carousel-item>
            <sl-carousel-item>
                <div>
                    <img src="/images/casino/bitcoin.svg"/>
                </div>
            </sl-carousel-item>
            <sl-carousel-item>
                <div>
                    <img src="/images/casino/maestro.svg"/>
                </div>
            </sl-carousel-item>
            <sl-carousel-item>
                <div>
                    <img src="/images/casino/skrill.svg"/>
                </div>
            </sl-carousel-item>
            <sl-carousel-item>
                <div>
                    <img src="/images/casino/noda.svg"/>
                </div>
            </sl-carousel-item>
            <sl-carousel-item>
                <div>
                    <img src="/images/casino/neteller.svg"/>
                </div>
            </sl-carousel-item>
            <sl-carousel-item>
                <div>
                    <img src="/images/casino/paysafecard.svg"/>
                </div>
            </sl-carousel-item>
            <sl-carousel-item>
                <div><img src="/images/casino/zimpler.svg"/></div>
            </sl-carousel-item>
            <sl-carousel-item>
                <div>
                    <img src="/images/casino/idebit.svg"/>
                </div>
            </sl-carousel-item>
            <sl-carousel-item>
                <div>
                    <img src="/images/casino/instadebit.svg"/>
                </div>
            </sl-carousel-item>
            <sl-carousel-item>
                <div>
                    <img src="/images/casino/webmoney.svg"/>
                </div>
            </sl-carousel-item>
            <sl-carousel-item>
                <div>
                    <img
                        src="data:image/svg+xml;base64,PHN2ZyBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGwtcnVsZT0iZXZlbm9kZCIgaGVpZ2h0PSIyMjIiIGltYWdlLXJlbmRlcmluZz0ib3B0aW1pemVRdWFsaXR5IiBzaGFwZS1yZW5kZXJpbmc9Imdlb21ldHJpY1ByZWNpc2lvbiIgdGV4dC1yZW5kZXJpbmc9Imdlb21ldHJpY1ByZWNpc2lvbiIgdmlld0JveD0iMCAwIDYwMCAyMjIiIHdpZHRoPSI2MDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbC1ydWxlPSJub256ZXJvIj48cGF0aCBkPSJtNTE0IDQ3aDg2djI1aC0zMHYxMDZoLTI2di0xMDZoLTMwem0tMTExIDBoMjNsNTEgODB2LTgwaDI2djEzMWgtMjNsLTUxLTgwdjgwaC0yNnptLTgyIDBoNjh2MjVoLTYwdjI4aDUxdjI1aC01MXYyOGg2MHYyNWgtNjh2NDRoLTV2LTIyMmg1eiIgZmlsbD0iI2NjYyIvPjxwYXRoIGQ9Im0xMTQgNDdoODZ2MjVoLTU5djI4aDUxdjI1aC01MXYyOGg1OXYyNWgtODZ6bS0xMTQgMGgyNGw1MCA4MHYtODBoMjZ2MTMxaC0yM2wtNTEtODB2ODBoLTI2em0yMTIgMGg4NnYyNWgtMzB2MTA2aC0yNnYtMTA2aC0zMHoiIGZpbGw9IiNmZmYiLz48L2c+PC9zdmc+"/>
                </div>
            </sl-carousel-item>
            <sl-carousel-item>
                <div>
                    <img src="/images/casino/betsoft.svg"/>
                </div>
            </sl-carousel-item>
            <sl-carousel-item>
                <div>
                    <img src="/images/casino/amatic.svg"/>
                </div>
            </sl-carousel-item>
            <sl-carousel-item>
                <div>
                    <img src="/images/casino/bgaming.svg"/>
                </div>
            </sl-carousel-item>
            <sl-carousel-item>
                <div>
                    <img src="/images/logos/belatra.svg"/>
                </div>
            </sl-carousel-item>
            <sl-carousel-item>
                <div>
                    <img src="/images/casino/mascot.svg"/>
                </div>
            </sl-carousel-item>
            <sl-carousel-item>
                <div>
                    <img src="/images/casino/dreamtech.svg"/>
                </div>
            </sl-carousel-item>
            <sl-carousel-item>
                <div>
                    <img src="/images/casino/ezugi.svg"/>
                </div>
            </sl-carousel-item>
        </sl-carousel>
        <div class="playerclub-button payment-methods-nav-button"
             onclick="document.querySelector('#payment-methods').next()">
            <img src="/images/casino/arrow.svg">
        </div>
    </div>
</div>