@using Umbraco.Cms.Web.Common
@inject UmbracoHelper helper

@{
    
}

<div class="cookie-container-message">
    <p>
        @Html.Raw(helper.GetDictionaryValue("CookieMessage"))
    </p>
    <div class="playerclub-button" onclick="SaveCookieAgree()">@Html.Raw(helper.GetDictionaryValue("Got it!"))</div>
</div>

<script>
    function SaveCookieAgree() {
        CookieManager.setCookie("CookieAgree", 1, 365);
        document.querySelector(".cookie-container-message").remove();
    }
</script>