@keyframes shimmer {
  0% {
    background-position:-200%0
  }
  to {
    background-position:200%0
  }
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg)
  }
  to {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg)
  }
}
@keyframes loading {
  0% {
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg)
  }
  to {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg)
  }
}
@keyframes fadeInAnimation {
  to {
    opacity:1
  }
}
#new-payment-method-container {
  flex-direction:column;
  justify-content:center
}
.payment-form {
  position:relative;
  width:100%;
  align-self:center;
  border-radius:7px;
  margin-top:auto;
  margin-bottom:auto;
  min-height:350px
}
.payment-form .skeleton-form {
  position:absolute;
  width:100%;
  padding:20px;
  background:#fff;
  border-radius:10px;
  border:1px solid #ddd;
  margin-top:10px
}
.payment-form .skeleton-form .skeleton {
  background:linear-gradient(90deg,rgba(160,160,160,.1) 25%,rgba(165,165,165,.2) 50%,rgba(197,197,197,.1) 75%);
  background-size:200% 100%;
  animation:shimmer 1.5s infinite linear;
  border-radius:5px
}
.payment-form .skeleton-form .skeleton.header {
  height:50px;
  width:100%;
  margin-bottom:20px
}
.payment-form .skeleton-form .skeleton.input {
  height:50px;
  width:100%;
  margin-bottom:15px
}
.payment-form .skeleton-form .input-row {
  display:flex;
  justify-content:space-between;
  flex-direction:row
}
.payment-form .skeleton-form .skeleton.input-half {
  height:50px;
  width:48%;
  margin-bottom:15px
}
.payment-form .skeleton-form .skeleton.button {
  height:50px;
  width:100%;
  border-radius:5px;
  margin-top:10px
}
.hidden {
  display:none
}
#payment-message {
  color:#697386;
  font-size:16px;
  line-height:20px;
  padding:12px 0;
  text-align:center;
  margin-bottom:initial 10px
}
#payment-element {
  margin-bottom:24px
}
button {
  font-family:Arial,sans-serif;
  border-radius:4px;
  border:0;
  padding:12px 16px;
  font-size:16px;
  font-weight:600;
  cursor:pointer;
  display:block;
  transition:all .2s ease;
  box-shadow:0 4px 5.5px 0 rgba(0,0,0,.07);
  width:100%
}
button:hover {
  filter:contrast(115%)
}
button:disabled {
  opacity:.5;
  cursor:default
}
.spinner {
  border-radius:50%;
  color:#fff;
  font-size:22px;
  text-indent:-99999px;
  margin:0 auto;
  position:relative;
  width:20px;
  height:20px;
  box-shadow:inset 0 0 0 2px;
  -webkit-transform:translateZ(0);
  -ms-transform:translateZ(0);
  transform:translateZ(0)
}
.spinner:after,
.spinner:before {
  position:absolute;
  content:""
}
.spinner:before {
  width:10.4px;
  height:20.4px;
  border-radius:20.4px 0 0 20.4px;
  top:-.2px;
  left:-.2px;
  -webkit-transform-origin:10.4px 10.2px;
  transform-origin:10.4px 10.2px;
  -webkit-animation:loading 2s infinite ease 1.5s;
  animation:loading 2s infinite ease 1.5s
}
.spinner:after {
  width:10.4px;
  height:10.2px;
  border-radius:0 10.2px 10.2px 0;
  top:-.1px;
  left:10.2px;
  -webkit-transform-origin:0 10.2px;
  transform-origin:0 10.2px;
  -webkit-animation:loading 2s infinite ease;
  animation:loading 2s infinite ease
}
#payment-status,
#status-icon {
  display:flex;
  justify-content:center;
  align-items:center
}
#payment-status {
  flex-direction:column;
  row-gap:30px;
  width:30vw;
  min-width:500px;
  min-height:380px;
  align-self:center;
  box-shadow:0 0 0 .5px rgba(50,50,93,.1),0 2px 5px 0 rgba(50,50,93,.1),0 1px 1.5px 0 rgba(0,0,0,.07);
  border-radius:7px;
  padding:40px;
  opacity:0;
  animation:fadeInAnimation 1s ease forwards
}
#status-icon {
  height:40px;
  width:40px;
  border-radius:50%
}
h2 {
  margin:0;
  color:#30313d;
  text-align:center
}
a {
  text-decoration:none;
  font-size:16px;
  font-weight:600;
  font-family:Arial,sans-serif;
  display:block
}
a:hover {
  filter:contrast(120%)
}
#details-table {
  overflow-x:auto;
  width:100%
}
table {
  width:100%;
  font-size:14px;
  border-collapse:collapse
}
table tbody tr:first-child td {
  border-top:1px solid #e6e6e6;
  padding-top:10px
}
table tbody tr:last-child td {
  border-bottom:1px solid #e6e6e6
}
td {
  padding-bottom:10px
}
.TableContent {
  text-align:right;
  color:#6d6e78
}
.TableLabel {
  font-weight:600;
  color:#30313d
}
#view-details {
  color:#0055de
}
#retry-button {
  text-align:center;
  background:#0055de;
  color:#fff;
  border-radius:4px;
  border:0;
  padding:12px 16px;
  transition:all .2s ease;
  box-shadow:0 4px 5.5px 0 rgba(0,0,0,.07);
  width:100%
}
@media only screen and (max-width:600px) {
  #payment-status,
  form {
    width:80vw;
    min-width:initial
  }
}
