.product-card {
  background:#fff;
  border-radius:8px;
  box-shadow:0 2px 10px rgba(0,0,0,.15);
  max-width:450px;
  padding:30px;
  text-align:left;
  font-family:"SF Pro Text",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica Neue","Ubuntu",sans-serif!important
}
.product-title {
  font-size:1rem;
  font-weight:400;
  color:#555;
  margin-bottom:10px
}
.product-price {
  font-size:2rem;
  font-weight:600;
  color:#333;
  margin:15px 0;
  font-family:"SF Pro Text",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica Neue","Ubuntu",sans-serif!important
}
.price-details {
  font-size:.85rem;
  color:#555;
  margin-left:4px
}
.product-description {
  font-size:1rem;
  line-height:1.6;
  color:#555;
  margin:20px 0
}
.product-card-container {
  border-left:2px solid #e0e0e0;
  width:600px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  margin-top:15px;
  padding-left:25px
}
@media (max-width:880px) {
  .product-card-container {
    border:0;
    width:100%
  }
}
.payment-method,
.saved-payment-methods div {
  display:flex;
  align-items:center;
  padding:10px
}
.payment-method {
  justify-content:space-between;
  margin:5px 0;
  background:#f8f9fa;
  border:1px solid #ced4da;
  border-radius:5px;
  box-shadow:0 2px 4px rgba(0,0,0,.1)
}
.payment-method span {
  font-weight:700;
  font-size:14px
}
.payment-method button {
  padding:5px 10px;
  background-color:#007bff;
  color:#fff;
  border:0;
  border-radius:3px;
  cursor:pointer;
  font-size:14px
}
.payment-method button:hover {
  background-color:#0056b3
}
.saved-payment-methods {
  margin-bottom:20px;
  padding:0;
  border-radius:8px
}
.saved-payment-methods h3 {
  font-size:1.2rem;
  margin-bottom:15px;
  color:#333
}
.saved-payment-methods label {
  display:inline-flex;
  margin:0;
  font-size:18px
}
.saved-payment-methods label input {
  align-self:center
}
.saved-payment-methods div {
  margin-bottom:10px;
  border:1px solid #ccc;
  border-radius:6px;
  background-color:#fff;
  transition:all .3s ease;
  cursor:pointer
}
.saved-payment-methods div:hover {
  border-color:#007bff;
  background-color:#f0f8ff
}
.saved-payment-methods div input[type=radio] {
  margin-right:10px;
  accent-color:#007bff;
  width:18px;
  height:18px
}
.saved-payment-methods div span {
  font-size:1rem;
  color:#555
}
.saved-payment-methods div:focus-within {
  outline:2px solid #007bff;
  outline-offset:2px
}
.pricing-plan {
  font-family:Arial,sans-serif;
  padding:0 15px;
  max-width:100%
}
.plan-title {
  font-size:2rem;
  font-weight:700;
  color:#222;
  margin-bottom:15px;
  text-align:left
}
.plan-description,
.plan-price {
  margin-bottom:20px;
  text-align:left
}
.plan-description {
  font-size:20px;
  color:#555;
  line-height:1.6
}
.plan-price {
  font-size:1.8rem;
  color:#000;
  font-weight:600
}
.price-value {
  font-size:2rem;
  color:#333;
  font-weight:600
}
.per-year {
  font-size:.9rem;
  color:#666
}
.plan-details {
  list-style:none;
  padding:0;
  margin:0 0 20px
}
.plan-details li {
  font-size:20px;
  color:#333;
  margin-bottom:8px;
  line-height:1.6;
  display:flex;
  align-items:center
}
.plan-details b {
  font-size:16px;
  font-weight:600;
  color:#555;
  background:#e0e0e0;
  border-radius:12px;
  padding:0 8px;
  margin:0 5px
}
.plan-details .start b {
  margin-left:-1px
}
.plan-details li:before {
  content:"";
  width:5px;
  height:5px;
  background:#777;
  border-radius:50%;
  display:inline-block;
  margin-right:10px
}
.payment-method-title {
  font-size:1.1rem;
  font-weight:700;
  color:#222;
  margin-top:20px;
  text-align:left
}
