/**** Roboto Fonts ****/
@font-face {
  font-family: 'Roboto-Black';
  src: url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

.is-homepage .roboto-black {
  font-family: 'Roboto-Black';
}

.is-homepage .roboto-bold {
  font-family: 'Roboto-Bold';
}

.is-homepage .roboto-light {
  font-family: 'Roboto-Light';
}

.is-homepage .roboto-medium {
  font-family: 'Roboto-Medium';
}

.is-homepage .roboto-regular {
  font-family: 'Roboto-Regular';
}
