<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c7f4f503-d416-4e74-9799-b0b78baf8dfa" Alias="a few seconds ago" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">a few seconds ago</Translation>
    <Translation Language="es">Hace unos segundos</Translation>
    <Translation Language="fr">Il y a quelques secondes</Translation>
    <Translation Language="he">לפני כמה שניות</Translation>
    <Translation Language="ms">beberapa saat yang lalu</Translation>
    <Translation Language="pt">há alguns segundos</Translation>
    <Translation Language="ru">Несколько секунд назад</Translation>
    <Translation Language="th">ไม่กี่วินาทีที่ผ่านมา</Translation>
    <Translation Language="uk">Кілька секунд тому</Translation>
    <Translation Language="vi">vài giây trước</Translation>
  </Translations>
</Dictionary>