<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2d7b312a-6c3c-4d77-8ded-d617af7bd0f1" Alias="Account suspended" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">&lt;b&gt;Account Suspended&lt;/b&gt;
&lt;br/&gt;
&lt;br/&gt;
After reviewing your account, we have found that you violated our Terms and Conditions. As a result, your account has been suspended.
&lt;br/&gt;
&lt;br/&gt;
If you wish to appeal this decision or need further information, please &lt;a href="/blog/en/page/Contact-player1"&gt;contact our support&lt;/a&gt; team.</Translation>
    <Translation Language="es">&lt;b&gt;Cuenta suspendida&lt;/b&gt; 
&lt;br/&gt;
&lt;br/&gt;
Después de revisar tu cuenta, hemos encontrado que violaste nuestros Términos y Condiciones. Como resultado, tu cuenta ha sido suspendida.
&lt;br/&gt;
&lt;br/&gt;
Si deseas apelar esta decisión o necesitas más información, por favor &lt;a href="/blog/en/page/Contact-player1"&gt;contacta a nuestro equipo de soporte&lt;/a&gt;.</Translation>
    <Translation Language="fr">&lt;b&gt;Compte suspendu&lt;/b&gt; 
&lt;br/&gt;
&lt;br/&gt;
Après avoir examiné votre compte, nous avons constaté que vous aviez enfreint nos conditions générales. En conséquence, votre compte a été suspendu.
&lt;br/&gt;
&lt;br/&gt;
Si vous souhaitez contester cette décision ou avez besoin de plus d'informations, veuillez &lt;a href="/blog/en/page/Contact-player1"&gt;contacter notre équipe de support&lt;/a&gt;.</Translation>
    <Translation Language="he">&lt;b&gt;החשבון שלך הושהה&lt;/b&gt;
&lt;br/&gt;
&lt;br/&gt;
לאחר בדיקה של חשבונך, נמצא כי הפרת את תנאי התקנון שלנו. כתוצאה מכך, חשבונך הושהה.
&lt;br/&gt;
&lt;br/&gt;
אם ברצונך לערער על החלטה זו או לקבל פרטים נוספים, אנא &lt;a href="/blog/he/page/Contact-player1"&gt;פנה לצוות התמיכה&lt;/a&gt; שלנו</Translation>
    <Translation Language="ms">&lt;b&gt;Akaun Digantung&lt;/b&gt;
&lt;br/&gt;
&lt;br/&gt;
Selepas menyemak akaun anda, kami mendapati bahawa anda telah melanggar Terma dan Syarat kami. Akibatnya, akaun anda telah digantung.
&lt;br/&gt;
&lt;br/&gt;
Jika anda ingin membuat rayuan terhadap keputusan ini atau memerlukan maklumat lanjut, sila &lt;a href="/blog/en/page/Contact-player1"&gt;hubungi pasukan sokongan kami&lt;/a&gt;.</Translation>
    <Translation Language="pt">&lt;b&gt;Conta suspensa&lt;/b&gt;
&lt;br/&gt;
&lt;br/&gt;
Após analisar a sua conta, constatámos que violou os nossos Termos e Condições. Como resultado, a sua conta foi suspensa.
&lt;br/&gt;
&lt;br/&gt;
Se desejar recorrer desta decisão ou precisar de mais informações, por favor &lt;a href="/blog/en/page/Contact-player1"&gt;contacte a nossa equipa de suporte&lt;/a&gt;.</Translation>
    <Translation Language="ru">&lt;b&gt;Аккаунт заблокирован&lt;/b&gt; 
&lt;br/&gt;
&lt;br/&gt;
После проверки вашего аккаунта мы обнаружили, что вы нарушили наши Условия и Положения. В результате ваш аккаунт был приостановлен.
&lt;br/&gt;
&lt;br/&gt;
Если вы хотите обжаловать это решение или вам нужна дополнительная информация, пожалуйста, &lt;a href="/blog/en/page/Contact-player1"&gt;свяжитесь с нашей службой поддержки&lt;/a&gt;.</Translation>
    <Translation Language="th">&lt;b&gt;บัญชีถูกระงับ&lt;/b&gt;
&lt;br/&gt;
&lt;br/&gt;
หลังจากตรวจสอบบัญชีของคุณแล้ว เราพบว่าคุณได้ละเมิดข้อกำหนดและเงื่อนไขของเรา ดังนั้นบัญชีของคุณจึงถูกระงับ
&lt;br/&gt;
&lt;br/&gt;
หากคุณต้องการยื่นอุทธรณ์การตัดสินใจนี้หรือต้องการข้อมูลเพิ่มเติม โปรด &lt;a href="/blog/en/page/Contact-player1"&gt;ติดต่อทีมสนับสนุนของเรา&lt;/a&gt;</Translation>
    <Translation Language="uk">&lt;b&gt;Обліковий запис призупинено&lt;/b&gt; 
&lt;br/&gt;
&lt;br/&gt;
Після перевірки вашого облікового запису ми виявили, що ви порушили наші Умови та Положення. Як результат, ваш обліковий запис було призупинено.
&lt;br/&gt;
&lt;br/&gt;
Якщо ви хочете оскаржити це рішення або вам потрібна додаткова інформація, будь ласка, &lt;a href="/blog/en/page/Contact-player1"&gt;зв'яжіться з нашою службою підтримки&lt;/a&gt;.</Translation>
    <Translation Language="vi">&lt;b&gt;Tài khoản bị đình chỉ&lt;/b&gt;
&lt;br/&gt;
&lt;br/&gt;
Sau khi xem xét tài khoản của bạn, chúng tôi nhận thấy bạn đã vi phạm các Điều khoản và Điều kiện của chúng tôi. Do đó, tài khoản của bạn đã bị đình chỉ.
&lt;br/&gt;
&lt;br/&gt;
Nếu bạn muốn kháng nghị quyết định này hoặc cần thêm thông tin, vui lòng &lt;a href="/blog/en/page/Contact-player1"&gt;liên hệ với đội ngũ hỗ trợ&lt;/a&gt; của chúng tôi.</Translation>
  </Translations>
</Dictionary>