<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="12b2587b-d832-4806-96fb-d017d1283e5b" Alias="Add Wire transfer" Level="1">
  <Info>
    <Parent>Withdraw Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Add Wire transfer</Translation>
    <Translation Language="es">Agregar transferencia bancaria</Translation>
    <Translation Language="fr">Ajouter un virement bancaire</Translation>
    <Translation Language="he">הוספת העברה בנקאית</Translation>
    <Translation Language="ms">Tambah Pindahan Wang melalui Wayar</Translation>
    <Translation Language="pt">Adicionar transferência bancária</Translation>
    <Translation Language="ru">Добавить банковский перевод</Translation>
    <Translation Language="th">เพิ่มการโอนเงินผ่านธนาคาร</Translation>
    <Translation Language="uk">Додати банківський переказ</Translation>
    <Translation Language="vi">Thêm chuyển khoản ngân hàng</Translation>
  </Translations>
</Dictionary>