<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="80495ce3-09bb-476a-8bc3-96b0a9de1663" Alias="Add new bank account" Level="1">
  <Info>
    <Parent>Withdraw Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Add new bank account</Translation>
    <Translation Language="es">Agregar nueva cuenta bancaria</Translation>
    <Translation Language="fr">Ajouter un nouveau compte bancaire</Translation>
    <Translation Language="he">הוספת חשבון בנק חדש</Translation>
    <Translation Language="ms">Tambah akaun bank baharu</Translation>
    <Translation Language="pt">Adicionar nova conta bancária</Translation>
    <Translation Language="ru">Добавить новый банковский счет</Translation>
    <Translation Language="th">เพิ่มบัญชีธนาคารใหม่</Translation>
    <Translation Language="uk">Додати новий банківський рахунок</Translation>
    <Translation Language="vi">Thêm tài khoản ngân hàng mới</Translation>
  </Translations>
</Dictionary>