<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="659889b8-ed36-4672-a1c5-e9f786b5b481" Alias="Address information" Level="1">
  <Info>
    <Parent>Personal Info Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Address information</Translation>
    <Translation Language="es">Datos del Domicilio</Translation>
    <Translation Language="fr">Informations d'adresse</Translation>
    <Translation Language="he">כתובת מידע</Translation>
    <Translation Language="ms">Maklumat alamat</Translation>
    <Translation Language="pt">Informações de endereço</Translation>
    <Translation Language="ru">Информация об адресе</Translation>
    <Translation Language="th">ข้อมูลที่อยู่</Translation>
    <Translation Language="uk">Інформація про адресу</Translation>
    <Translation Language="vi">Thông tin địa chỉ</Translation>
  </Translations>
</Dictionary>