<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8e54db3d-efae-447c-b6e3-fe3c8bc8b518" Alias="Affilite activity:" Level="1">
  <Info>
    <Parent>Account Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Affilite activity:</Translation>
    <Translation Language="es">Actividad de afiliados:</Translation>
    <Translation Language="fr">Activité d'affiliation :</Translation>
    <Translation Language="he">פעילות השותפות:</Translation>
    <Translation Language="ms">Aktiviti ahli gabungan:</Translation>
    <Translation Language="pt">Atividade de afiliado:</Translation>
    <Translation Language="ru">Активность партнерства:</Translation>
    <Translation Language="th">กิจกรรมพันธมิตร:</Translation>
    <Translation Language="uk">Активність партнерства:</Translation>
    <Translation Language="vi">Hoạt động liên kết:</Translation>
  </Translations>
</Dictionary>