<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f7c479a4-e4f8-462a-8f51-739535b362f5" Alias="After the charge" Level="2">
  <Info>
    <Parent>Page 2</Parent>
  </Info>
  <Translations>
    <Translation Language="en">After the charge appears on your statement, you will need to log in to our website and enter the exact amount of the charge that appeared on your statement.</Translation>
    <Translation Language="es">Después de que el cargo aparezca en su extracto, deberá iniciar sesión en nuestro sitio web e ingresar el monto exacto del cargo que apareció en su extracto.</Translation>
    <Translation Language="fr">Après que la charge apparaisse sur votre relevé, vous devrez vous connecter à notre site Web et saisir le montant exact de la charge qui est apparu sur votre relevé.</Translation>
    <Translation Language="he">לאחר שהחיוב מופיע בתנועות שלך, יהיה עליך להתחבר לאתר שלנו ולהזין את הסכום המדויק של החיוב שנראה בתנועות שלך.</Translation>
    <Translation Language="ms">Selepas caj muncul pada penyata anda, anda perlu log masuk ke laman web kami dan masukkan jumlah tepat caj yang muncul pada penyata anda.</Translation>
    <Translation Language="pt">Depois que a cobrança aparecer no seu extrato, você precisará fazer login no nosso site e inserir o valor exato da cobrança que apareceu no seu extrato.</Translation>
    <Translation Language="ru">После того, как платеж появится в вашей выписке, вам потребуется войти на наш сайт и ввести точную сумму платежа, которая появилась в вашей выписке.</Translation>
    <Translation Language="th">หลังจากที่ค่าธรรมเนียมปรากฏบนใบแจ้งยอดของคุณแล้ว คุณจะต้องเข้าสู่ระบบเว็บไซต์ของเราและกรอกจำนวนเงินของค่าธรรมเนียมที่ปรากฏบนใบแจ้งยอดของคุณให้ตรงตามที่ปรากฏ</Translation>
    <Translation Language="uk">Після того, як платіж з'явиться в вашій виписці, вам потрібно буде увійти на наш веб-сайт і ввести точну суму платежу, яка з'явилася в вашій виписці.</Translation>
    <Translation Language="vi">Sau khi khoản phí xuất hiện trên sao kê của bạn, bạn sẽ cần đăng nhập vào trang web của chúng tôi và nhập chính xác số tiền của khoản phí đã xuất hiện trên sao kê của bạn.</Translation>
  </Translations>
</Dictionary>