<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e4d2fa65-d597-4dfe-ad1b-aa3007c50841" Alias="ago" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">ago</Translation>
    <Translation Language="es">hace</Translation>
    <Translation Language="fr">il y a</Translation>
    <Translation Language="he">לפני</Translation>
    <Translation Language="ms">lalu</Translation>
    <Translation Language="pt">atrás</Translation>
    <Translation Language="ru">назад</Translation>
    <Translation Language="th">ที่ผ่านมา</Translation>
    <Translation Language="uk">тому</Translation>
    <Translation Language="vi">trước</Translation>
  </Translations>
</Dictionary>