<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2d3e7e7d-6244-410f-b4be-e37f03b75987" Alias="All withdrawal transactions" Level="1">
  <Info>
    <Parent>Withdraw Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">All withdrawal transactions</Translation>
    <Translation Language="es">Todas las transacciones de retiro</Translation>
    <Translation Language="fr">All withdrawal transactions</Translation>
    <Translation Language="he">כל העסקאות המשיכה</Translation>
    <Translation Language="ms">Semua transaksi pengeluaran</Translation>
    <Translation Language="pt">Todas as transações de levantamento</Translation>
    <Translation Language="ru">Все операции вывода</Translation>
    <Translation Language="th">ธุรกรรมการถอนเงินทั้งหมด</Translation>
    <Translation Language="uk">Всі операції виведення</Translation>
    <Translation Language="vi">Tất cả giao dịch rút tiền</Translation>
  </Translations>
</Dictionary>