<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="485e82ff-f22b-4a1b-8811-4c5951ba5684" Alias="Amount" Level="1">
  <Info>
    <Parent>Withdraw Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Amount</Translation>
    <Translation Language="es">Cantidad</Translation>
    <Translation Language="fr">Montante</Translation>
    <Translation Language="he">כמות</Translation>
    <Translation Language="ms">Jumlah</Translation>
    <Translation Language="pt">Quantidade</Translation>
    <Translation Language="ru">Сумма</Translation>
    <Translation Language="th">จำนวน</Translation>
    <Translation Language="uk">Сума</Translation>
    <Translation Language="vi">Số tiền</Translation>
  </Translations>
</Dictionary>