<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1bb2548f-590b-44da-9e63-b700ac716ee9" Alias="APPROVED" Level="1">
  <Info>
    <Parent>Withdraw Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">APPROVED</Translation>
    <Translation Language="es">APROBADO</Translation>
    <Translation Language="fr">APPROUVÉ</Translation>
    <Translation Language="he">אושר</Translation>
    <Translation Language="ms">DILULUSKAN</Translation>
    <Translation Language="pt">APROVADO</Translation>
    <Translation Language="ru">УТВЕРЖДЕНО</Translation>
    <Translation Language="th">อนุมัติแล้ว</Translation>
    <Translation Language="uk">ЗАТВЕРДЖЕНО</Translation>
    <Translation Language="vi">ĐÃ PHÊ DUYỆT</Translation>
  </Translations>
</Dictionary>