<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="dad99a26-f9da-41c8-9ba0-ab0075b97453" Alias="Are you sure you want to delete" Level="1">
  <Info>
    <Parent>Withdraw Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Are you sure you want to delete</Translation>
    <Translation Language="es">¿Estás seguro de que quieres eliminar</Translation>
    <Translation Language="fr">Êtes-vous sûr de vouloir supprimer</Translation>
    <Translation Language="he">האם אתה בטוח שברצונך למחוק</Translation>
    <Translation Language="ms">Adakah anda pasti ingin memadamkan</Translation>
    <Translation Language="pt">Tem a certeza de que pretende eliminar?</Translation>
    <Translation Language="ru">Вы уверены, что хотите удалить</Translation>
    <Translation Language="th">คุณแน่ใจหรือว่าต้องการลบ</Translation>
    <Translation Language="uk">Ви впевнені, що хочете видалити</Translation>
    <Translation Language="vi">Bạn có chắc chắn muốn xóa không</Translation>
  </Translations>
</Dictionary>