<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e5335b69-8f8e-4752-9e69-8af65c95d806" Alias="Available balance" Level="1">
  <Info>
    <Parent>Withdraw Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Available balance</Translation>
    <Translation Language="es">Saldo disponible</Translation>
    <Translation Language="fr">Solde disponible</Translation>
    <Translation Language="he">יתרה זמינה</Translation>
    <Translation Language="ms">Baki tersedia</Translation>
    <Translation Language="pt">Saldo disponível</Translation>
    <Translation Language="ru">Доступный баланс</Translation>
    <Translation Language="th">ยอดคงเหลือที่ใช้ได้</Translation>
    <Translation Language="uk">Доступний баланс</Translation>
    <Translation Language="vi">Số dư khả dụng</Translation>
  </Translations>
</Dictionary>