<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="15a8cb23-b961-4b3b-9f8a-da320c0e7737" Alias="Back" Level="1">
  <Info>
    <Parent>Personal Info Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Back</Translation>
    <Translation Language="es">Atrás</Translation>
    <Translation Language="fr">Dos</Translation>
    <Translation Language="he">חזור</Translation>
    <Translation Language="ms">Kembali</Translation>
    <Translation Language="pt">Voltar</Translation>
    <Translation Language="ru">Назад</Translation>
    <Translation Language="th">ย้อนกลับ</Translation>
    <Translation Language="uk">Назад</Translation>
    <Translation Language="vi">Quay lại</Translation>
  </Translations>
</Dictionary>