<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bdfed418-e6ce-479f-a702-2ab4aca17c05" Alias="Best Social Casino Experience" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Best Social Casino Experience</Translation>
    <Translation Language="es">La mejor experiencia de casino social</Translation>
    <Translation Language="fr">La meilleure expérience de casino social</Translation>
    <Translation Language="he">חוויית הקזינו החברתית הטובה ביותר</Translation>
    <Translation Language="ms">Pengalaman Kasino Sosial Terbaik</Translation>
    <Translation Language="pt">A melhor experiência de cassino social</Translation>
    <Translation Language="ru">Лучший опыт игры в социальном казино</Translation>
    <Translation Language="th">ประสบการณ์คาสิโนโซเชียลที่ดีที่สุด</Translation>
    <Translation Language="uk">Найкращий досвід у соціальному казино</Translation>
    <Translation Language="vi">Trải nghiệm Casino Mạng Xã hội tốt nhất</Translation>
  </Translations>
</Dictionary>