<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2e1f6aaf-48b2-415c-87db-e750d43ed479" Alias="Bet" Level="1">
  <Info>
    <Parent>Played History Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Bet</Translation>
    <Translation Language="es">Apuesta</Translation>
    <Translation Language="fr">Pari</Translation>
    <Translation Language="he">הימור</Translation>
    <Translation Language="ms">Taruhan</Translation>
    <Translation Language="pt">Aposta</Translation>
    <Translation Language="ru">Ставка</Translation>
    <Translation Language="th">เดิมพัน</Translation>
    <Translation Language="uk">Ставка</Translation>
    <Translation Language="vi">Cược</Translation>
  </Translations>
</Dictionary>