<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="761dde27-9bbb-4521-bfd5-e16e3c388131" Alias="Big Wins" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Big Wins</Translation>
    <Translation Language="es">Grandes ganancias</Translation>
    <Translation Language="fr">Gros gains</Translation>
    <Translation Language="he">זכיות גדולות</Translation>
    <Translation Language="ms">Kemenangan Besar</Translation>
    <Translation Language="pt">Grandes vitórias</Translation>
    <Translation Language="ru">Большие выигрыши</Translation>
    <Translation Language="th">ชัยชนะครั้งใหญ่</Translation>
    <Translation Language="uk">Великі виграші</Translation>
    <Translation Language="vi">Chiến thắng lớn</Translation>
  </Translations>
</Dictionary>