<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="da18c7fd-6c84-48b2-ac6b-b951ba92fcf6" Alias="Birthday" Level="2">
  <Info>
    <Parent>Personal information</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Birthday</Translation>
    <Translation Language="es">Cumpleaños</Translation>
    <Translation Language="fr">Anniversaire</Translation>
    <Translation Language="he">יום הולדת</Translation>
    <Translation Language="ms">Hari Jadi</Translation>
    <Translation Language="pt">Aniversário</Translation>
    <Translation Language="ru">День рождения</Translation>
    <Translation Language="th">วันเกิด</Translation>
    <Translation Language="uk">День народження</Translation>
    <Translation Language="vi">Sinh nhật</Translation>
  </Translations>
</Dictionary>