<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e6f1093d-e888-484a-95eb-dd749f0c3fad" Alias="Bonus" Level="1">
  <Info>
    <Parent>Deposit Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">bonus</Translation>
    <Translation Language="es">bono</Translation>
    <Translation Language="fr">bonus</Translation>
    <Translation Language="he">בונוס</Translation>
    <Translation Language="ms">bonus</Translation>
    <Translation Language="pt">bónus</Translation>
    <Translation Language="ru">бонус</Translation>
    <Translation Language="th">โบนัส</Translation>
    <Translation Language="uk">бонус</Translation>
    <Translation Language="vi">tiền thưởng</Translation>
  </Translations>
</Dictionary>