<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e9272ae2-a16f-4080-9ff9-7320fca6dee9" Alias="BOOST WINNINGS NOW" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Boost Winnings Now</Translation>
    <Translation Language="es">Aumenta tus ganancias ahora</Translation>
    <Translation Language="fr">Augmentez vos gains maintenant</Translation>
    <Translation Language="he">הגדל את הזכיות עכשיו</Translation>
    <Translation Language="ms">Tingkatkan Kemenangan Sekarang</Translation>
    <Translation Language="pt">Aumente os ganhos agora</Translation>
    <Translation Language="ru">Увеличьте выигрыш прямо сейчас</Translation>
    <Translation Language="th">เพิ่มเงินรางวัลตอนนี้</Translation>
    <Translation Language="uk">Збільште виграш зараз</Translation>
    <Translation Language="vi">Tăng tiền thắng ngay bây giờ</Translation>
  </Translations>
</Dictionary>