<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="08637168-5633-4c7e-b4bc-24561e616b13" Alias="By cheque" Level="1">
  <Info>
    <Parent>Withdraw Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">By cheque</Translation>
    <Translation Language="es">Por cheque</Translation>
    <Translation Language="fr">Par chèque</Translation>
    <Translation Language="he">באמצעות שיק</Translation>
    <Translation Language="ms">Melalui cek</Translation>
    <Translation Language="pt">Por cheque</Translation>
    <Translation Language="ru">Чеком</Translation>
    <Translation Language="th">โดยเช็ค</Translation>
    <Translation Language="uk">Чеком</Translation>
    <Translation Language="vi">Bằng séc</Translation>
  </Translations>
</Dictionary>