<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f8a5fa74-e381-420e-818b-c926bd99caf7" Alias="Cancel" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Cancel</Translation>
    <Translation Language="es">Cancel</Translation>
    <Translation Language="fr">Cancel</Translation>
    <Translation Language="he">Cancel</Translation>
    <Translation Language="ms">Cancel</Translation>
    <Translation Language="pt">Cancel</Translation>
    <Translation Language="ru">Cancel</Translation>
    <Translation Language="th">Cancel</Translation>
    <Translation Language="uk">Cancel</Translation>
    <Translation Language="vi">Cancel</Translation>
  </Translations>
</Dictionary>