<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="32753924-2eb2-4276-aa89-df7b4dfe929b" Alias="Card Number" Level="1">
  <Info>
    <Parent>Deposit Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Card Number</Translation>
    <Translation Language="es">Número de tarjeta</Translation>
    <Translation Language="fr">Numéro de carte</Translation>
    <Translation Language="he">מספר כרטיס</Translation>
    <Translation Language="ms">Nombor Kad</Translation>
    <Translation Language="pt">Número do cartão</Translation>
    <Translation Language="ru">Номер карты</Translation>
    <Translation Language="th">หมายเลขบัตร</Translation>
    <Translation Language="uk">Номер карти</Translation>
    <Translation Language="vi">Số thẻ</Translation>
  </Translations>
</Dictionary>