<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4a850f4f-133f-4a58-8f9b-6ee4a754fc46" Alias="Changed" Level="1">
  <Info>
    <Parent>Personal Info Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Changed</Translation>
    <Translation Language="es">Cambiado</Translation>
    <Translation Language="fr">Modifié</Translation>
    <Translation Language="he">השתנה</Translation>
    <Translation Language="ms">Diubah</Translation>
    <Translation Language="pt">Alterado</Translation>
    <Translation Language="ru">Изменен</Translation>
    <Translation Language="th">เปลี่ยนแล้ว</Translation>
    <Translation Language="uk">Змінено</Translation>
    <Translation Language="vi">Đã thay đổi</Translation>
  </Translations>
</Dictionary>