<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="88e9961c-dc5c-4f04-a5c9-09b25f4a101a" Alias="Chat with us" Level="2">
  <Info>
    <Parent>VPP - Page0</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Chat with us</Translation>
    <Translation Language="es">Chatea con nosotros</Translation>
    <Translation Language="fr">Discutez avec nous</Translation>
    <Translation Language="he">שוחח איתנו</Translation>
    <Translation Language="ms">Sembang dengan kami</Translation>
    <Translation Language="pt">Converse connosco</Translation>
    <Translation Language="ru">Общайтесь с нами</Translation>
    <Translation Language="th">แชทกับเรา</Translation>
    <Translation Language="uk">Чат з нами</Translation>
    <Translation Language="vi">Trò chuyện với chúng tôi</Translation>
  </Translations>
</Dictionary>