<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b6b72f75-8c78-4500-ae0c-c1682dac5d5b" Alias="Choose where to you want to withdraw your winning" Level="1">
  <Info>
    <Parent>Withdraw Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Choose where to you want to withdraw your winning</Translation>
    <Translation Language="es">Elige dónde quieres retirar tus ganancias</Translation>
    <Translation Language="fr">Choisissez où vous souhaitez retirer vos gains</Translation>
    <Translation Language="he">בחרו איפה ברצונכם למשוך את הזכיות שלכם</Translation>
    <Translation Language="ms">Pilih di mana anda mahu mengeluarkan kemenangan anda</Translation>
    <Translation Language="pt">Escolha onde pretende levantar os seus ganhos</Translation>
    <Translation Language="ru">Выберите, куда вы хотите вывести свои выигрыши</Translation>
    <Translation Language="th">เลือกที่ที่คุณต้องการถอนเงินรางวัลของคุณ</Translation>
    <Translation Language="uk">Виберіть, куди ви хочете вивести свої виграші</Translation>
    <Translation Language="vi">Chọn nơi bạn muốn rút tiền thắng của mình</Translation>
  </Translations>
</Dictionary>