<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="55edde5d-8a8b-45a2-a95e-7adc43dd3103" Alias="Choose the payment method" Level="1">
  <Info>
    <Parent>Deposit Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Choose a payment method</Translation>
    <Translation Language="es">Elija el método de pago</Translation>
    <Translation Language="fr">Choisissez le mode de paiement</Translation>
    <Translation Language="he">בחרו את אמצעי התשלום</Translation>
    <Translation Language="ms">Pilih kaedah pembayaran</Translation>
    <Translation Language="pt">Escolha um método de pagamento</Translation>
    <Translation Language="ru">Выберите способ оплаты</Translation>
    <Translation Language="th">เลือกวิธีการชำระเงิน</Translation>
    <Translation Language="uk">Виберіть спосіб оплати</Translation>
    <Translation Language="vi">Chọn phương thức thanh toán</Translation>
  </Translations>
</Dictionary>