<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a07c7dd0-e39c-45ae-b765-95bd18f81738" Alias="Choose where to you want to withdraw your earnings" Level="1">
  <Info>
    <Parent>Withdraw Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Choose where to you want to withdraw your earnings</Translation>
    <Translation Language="es">Elige dónde quieres retirar tus ganancias</Translation>
    <Translation Language="fr">Choisissez où vous souhaitez retirer vos gains</Translation>
    <Translation Language="he">בחר איפה אתה רוצה למשוך את הרווחים שלך</Translation>
    <Translation Language="ms">Pilih di mana anda mahu mengeluarkan pendapatan anda</Translation>
    <Translation Language="pt">Escolha para onde deseja retirar os seus ganhos</Translation>
    <Translation Language="ru">Выберите, откуда вы хотите вывести свои заработки</Translation>
    <Translation Language="th">เลือกที่ที่คุณต้องการถอนรายได้ของคุณ</Translation>
    <Translation Language="uk">Виберіть, звідки ви хочете зняти свої заробітки</Translation>
    <Translation Language="vi">Chọn nơi bạn muốn rút thu nhập của mình</Translation>
  </Translations>
</Dictionary>