<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2a8b86e8-235b-4b94-9f48-6ac85faddd7d" Alias="City" Level="2">
  <Info>
    <Parent>Address information</Parent>
  </Info>
  <Translations>
    <Translation Language="en">City</Translation>
    <Translation Language="es">Ciudad</Translation>
    <Translation Language="fr">Ville</Translation>
    <Translation Language="he">עִיר</Translation>
    <Translation Language="ms">Bandar</Translation>
    <Translation Language="pt">Cidade</Translation>
    <Translation Language="ru">Город</Translation>
    <Translation Language="th">เมือง</Translation>
    <Translation Language="uk">Місто</Translation>
    <Translation Language="vi">Thành phố</Translation>
  </Translations>
</Dictionary>