<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e19119d1-4e93-4c50-b8a5-755e274ea0af" Alias="Clear" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Clear</Translation>
    <Translation Language="es">Clear</Translation>
    <Translation Language="fr">Clear</Translation>
    <Translation Language="he">Clear</Translation>
    <Translation Language="ms">Clear</Translation>
    <Translation Language="pt">Clear</Translation>
    <Translation Language="ru">Clear</Translation>
    <Translation Language="th">Clear</Translation>
    <Translation Language="uk">Clear</Translation>
    <Translation Language="vi">Clear</Translation>
  </Translations>
</Dictionary>