<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fcb5e0ee-5ca1-4ec8-9be7-af0c6cce8370" Alias="Click here to know how affiliate" Level="1">
  <Info>
    <Parent>Promotions Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">&lt;p class="affiliate_program"&gt;&lt;a href="/blog/en/post/how-affiliate-programs-work" target="_blank"&gt;Click&amp;nbsp;here &lt;/a&gt;to learn how our affiliate program works&lt;/p&gt;</Translation>
    <Translation Language="es">&lt;p class="affiliate_program"&gt;&lt;a href="/blog/es/post/how-affiliate-programs-work" target="_blank"&gt;Haz&amp;nbsp;clic aquí &lt;/a&gt;para conocer cómo funciona nuestro programa de afiliados&lt;/p&gt;</Translation>
    <Translation Language="fr">&lt;p class="affiliate_program"&gt;&lt;a href="/blog/fr/post/how-affiliate-programs-work" target="_blank"&gt;Cliquez&amp;nbsp;ici &lt;/a&gt;pour découvrir le fonctionnement de notre programme d'affiliation&lt;/p&gt;</Translation>
    <Translation Language="he">&lt;p class="affiliate_program"&gt;&lt;a href="/blog/he/post/how-affiliate-programs-work" target="_blank"&gt;לחצו&amp;nbsp;כאן &lt;/a&gt;למידע נוסף על אופן פעולת התוכנית השותפים שלנו&lt;/p&gt;</Translation>
    <Translation Language="ms">&lt;p class="affiliate_program"&gt;&lt;a href="/blog/en/post/how-affiliate-programs-work" target="_blank"&gt;Klik&amp;nbsp;di sini &lt;/a&gt;untuk mengetahui cara program afiliasi kami berfungsi&lt;/p&gt;</Translation>
    <Translation Language="pt">&lt;p class="affiliate_program"&gt;&lt;a href="/blog/en/post/how-affiliate-programs-work" target="_blank"&gt;Clique&amp;nbsp;aqui &lt;/a&gt;para saber como funciona o nosso programa de afiliados&lt;/p&gt;</Translation>
    <Translation Language="ru">&lt;p class="affiliate_program"&gt;&lt;a href="/blog/ru/post/how-affiliate-programs-work" target="_blank"&gt;Нажмите&amp;nbsp;здесь &lt;/a&gt;чтобы узнать, как работает наша партнерская программа&lt;/p&gt;</Translation>
    <Translation Language="th">&lt;p class="affiliate_program"&gt;&lt;a href="/blog/en/post/how-affiliate-programs-work" target="_blank"&gt;คลิก&amp;nbsp;ที่นี่ &lt;/a&gt;เพื่อเรียนรู้ว่าโปรแกรมพันธมิตรของเราทำงานอย่างไร&lt;/p&gt;</Translation>
    <Translation Language="uk">&lt;p class="affiliate_program"&gt;&lt;a href="/blog/uk/post/how-affiliate-programs-work" target="_blank"&gt;Натисніть&amp;nbsp;тут &lt;/a&gt;, щоб дізнатися, як працює наш партнерська програма&lt;/p&gt;</Translation>
    <Translation Language="vi">&lt;p class="affiliate_program"&gt;&lt;a href="/blog/en/post/how-affiliate-programs-work" target="_blank"&gt;Nhấp&amp;nbsp;vào đây &lt;/a&gt;để tìm hiểu cách chương trình tiếp thị liên kết của chúng tôi hoạt động&lt;/p&gt;</Translation>
  </Translations>
</Dictionary>