<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="659e55d0-33e2-43de-acc7-dbc322269633" Alias="Closing Line" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Closing Line</Translation>
    <Translation Language="es">Closing Line</Translation>
    <Translation Language="fr">Closing Line</Translation>
    <Translation Language="he">Closing Line</Translation>
    <Translation Language="ms">Closing Line</Translation>
    <Translation Language="pt">Closing Line</Translation>
    <Translation Language="ru">Closing Line</Translation>
    <Translation Language="th">Closing Line</Translation>
    <Translation Language="uk">Closing Line</Translation>
    <Translation Language="vi">Closing Line</Translation>
  </Translations>
</Dictionary>