<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7f40b9da-cf48-46bd-9fc0-225acf69e703" Alias="Closed" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Closed</Translation>
    <Translation Language="es">Closed</Translation>
    <Translation Language="fr">Closed</Translation>
    <Translation Language="he">Closed</Translation>
    <Translation Language="ms">Closed</Translation>
    <Translation Language="pt">Closed</Translation>
    <Translation Language="ru">Closed</Translation>
    <Translation Language="th">Closed</Translation>
    <Translation Language="uk">Closed</Translation>
    <Translation Language="vi">Closed</Translation>
  </Translations>
</Dictionary>