<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6b99d9b1-275c-4087-b034-f66074f73859" Alias="collected" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">{0} collected</Translation>
    <Translation Language="es">{0} recogidos</Translation>
    <Translation Language="fr">{0} collectés</Translation>
    <Translation Language="he">{0} נאספו</Translation>
    <Translation Language="ms">{0} dikumpulkan</Translation>
    <Translation Language="pt">{0} coletado</Translation>
    <Translation Language="ru">{0} собрано</Translation>
    <Translation Language="th">{0} เก็บรวบรวมแล้ว</Translation>
    <Translation Language="uk">{0} зібрано</Translation>
    <Translation Language="vi">{0} đã thu thập</Translation>
  </Translations>
</Dictionary>