<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fa6a3c3d-6578-4194-9fad-92dece911536" Alias="Coming Soon" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Coming Soon</Translation>
    <Translation Language="es">Próximamente</Translation>
    <Translation Language="fr">Bientôt disponible</Translation>
    <Translation Language="he">בקרוב</Translation>
    <Translation Language="ms">Akan Datang</Translation>
    <Translation Language="pt">Em breve</Translation>
    <Translation Language="ru">Скоро будет</Translation>
    <Translation Language="th">เร็วๆ นี้</Translation>
    <Translation Language="uk">Незабаром</Translation>
    <Translation Language="vi">Sắp ra mắt</Translation>
  </Translations>
</Dictionary>