<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1144d496-ea2c-4475-b4c4-a5fd29cb7eec" Alias="Confirm" Level="2">
  <Info>
    <Parent>Page 3</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Confirm</Translation>
    <Translation Language="es">Confirmar</Translation>
    <Translation Language="fr">Confirmer</Translation>
    <Translation Language="he">אשר</Translation>
    <Translation Language="ms">Sahkan</Translation>
    <Translation Language="pt">Confirmar</Translation>
    <Translation Language="ru">Подтвердить</Translation>
    <Translation Language="th">ยืนยัน</Translation>
    <Translation Language="uk">Підтвердити</Translation>
    <Translation Language="vi">Xác nhận</Translation>
  </Translations>
</Dictionary>