<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="285a575d-4e96-4ba4-b699-8cf5a660a556" Alias="Congratulations!" Level="1">
  <Info>
    <Parent>Payment Success Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Congratulations!</Translation>
    <Translation Language="es">¡Felicidades!</Translation>
    <Translation Language="fr">Félicitations !</Translation>
    <Translation Language="he">מזל טוב!</Translation>
    <Translation Language="ms">Tahniah!</Translation>
    <Translation Language="pt">Parabéns!</Translation>
    <Translation Language="ru">Поздравляем!</Translation>
    <Translation Language="th">ขอแสดงความยินดี!</Translation>
    <Translation Language="uk">Вітаю!</Translation>
    <Translation Language="vi">Chúc mừng!</Translation>
  </Translations>
</Dictionary>