<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b025c9da-74ef-4586-995d-8f2fa468f625" Alias="CookieMessage" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">This website uses cookies to ensure you get the best experience on our website. &lt;a href="/blog/en/page/privacy-policy" target="_blank"&gt;Learn more&lt;/a&gt;</Translation>
    <Translation Language="es">Este sitio web utiliza cookies para garantizar que obtenga la mejor experiencia en nuestro sitio. &lt;a href="/blog/es/page/privacy-policy" target="_blank"&gt;Aprende más&lt;/a&gt;</Translation>
    <Translation Language="fr">Ce site utilise des cookies pour vous garantir la meilleure expérience sur notre site. &lt;a href="/blog/fr/page/privacy-policy" target="_blank"&gt;En savoir plus&lt;/a&gt;</Translation>
    <Translation Language="he">אתר זה משתמש בעוגיות כדי להבטיח שתקבל את החוויה הטובה ביותר באתר שלנו. &lt;a href="/blog/he/page/privacy-policy" target="_blank"&gt;למד עוד&lt;/a&gt;</Translation>
    <Translation Language="ms">Laman web ini menggunakan kuki untuk memastikan anda mendapat pengalaman terbaik di laman web kami. &lt;a href="/blog/en/page/privacy-policy" target="_blank"&gt;Ketahui lebih lanjut&lt;/a&gt;</Translation>
    <Translation Language="pt">Este site utiliza cookies para garantir que você tenha a melhor experiência em nosso site. &lt;a href="/blog/en/page/privacy-policy" target="_blank"&gt;Saiba mais&lt;/a&gt;</Translation>
    <Translation Language="ru">Этот сайт использует файлы cookie, чтобы обеспечить вам лучший опыт на нашем сайте. &lt;a href="/blog/ru/page/privacy-policy" target="_blank"&gt;Узнать больше&lt;/a&gt;</Translation>
    <Translation Language="th">เว็บไซต์นี้ใช้คุกกี้เพื่อให้แน่ใจว่าคุณจะได้รับประสบการณ์ที่ดีที่สุดบนเว็บไซต์ของเรา &lt;a href="/blog/en/page/privacy-policy" target="_blank"&gt;เรียนรู้เพิ่มเติม&lt;/a&gt;</Translation>
    <Translation Language="uk">Цей вебсайт використовує файли cookie, щоб забезпечити вам найкращий досвід на нашому сайті. &lt;a href="/blog/uk/page/privacy-policy" target="_blank"&gt;Дізнатися більше&lt;/a&gt;</Translation>
    <Translation Language="vi">Trang web này sử dụng cookie để đảm bảo bạn có được trải nghiệm tốt nhất trên trang web của chúng tôi. &lt;a href="/blog/en/page/privacy-policy" target="_blank"&gt;Tìm hiểu thêm&lt;/a&gt;</Translation>
  </Translations>
</Dictionary>