<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2e42b610-7f64-4f5e-b068-8330c90e0208" Alias="Country" Level="2">
  <Info>
    <Parent>Address information</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Country</Translation>
    <Translation Language="es">País</Translation>
    <Translation Language="fr">Pays</Translation>
    <Translation Language="he">מדינה</Translation>
    <Translation Language="ms">Negara</Translation>
    <Translation Language="pt">País</Translation>
    <Translation Language="ru">Страна</Translation>
    <Translation Language="th">ประเทศ</Translation>
    <Translation Language="uk">Країна</Translation>
    <Translation Language="vi">Quốc gia</Translation>
  </Translations>
</Dictionary>