<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7dbaf795-d9d0-4193-ba4d-b7115b47b490" Alias="Cryptocurrency" Level="1">
  <Info>
    <Parent>Deposit Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Cryptocurrency</Translation>
    <Translation Language="es">Criptomoneda</Translation>
    <Translation Language="fr">Cryptomonnaie</Translation>
    <Translation Language="he">מטבע קריפטוגרפי</Translation>
    <Translation Language="ms">Mata wang kripto</Translation>
    <Translation Language="pt">Criptomoeda</Translation>
    <Translation Language="ru">Криптовалюта</Translation>
    <Translation Language="th">สกุลเงินดิจิทัล</Translation>
    <Translation Language="uk">Криптовалюта</Translation>
    <Translation Language="vi">Tiền điện tử</Translation>
  </Translations>
</Dictionary>