<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="58d52589-2dba-42bd-8551-72290d859b67" Alias="Customer" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Customer</Translation>
    <Translation Language="es">Cliente</Translation>
    <Translation Language="fr">Client</Translation>
    <Translation Language="he">לקוח</Translation>
    <Translation Language="ms">Pelanggan</Translation>
    <Translation Language="pt">Cliente</Translation>
    <Translation Language="ru">Клиент</Translation>
    <Translation Language="th">ลูกค้า</Translation>
    <Translation Language="uk">Клієнт</Translation>
    <Translation Language="vi">Khách hàng</Translation>
  </Translations>
</Dictionary>