<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a389f6df-cd0e-42a6-83de-a139714f16d9" Alias="Cvv number can't be longer than 4 characters" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Cvv number can't be longer than 4 characters</Translation>
    <Translation Language="es">Cvv number can't be longer than 4 characters</Translation>
    <Translation Language="fr">Cvv number can't be longer than 4 characters</Translation>
    <Translation Language="he">Cvv number can't be longer than 4 characters</Translation>
    <Translation Language="ms">Cvv number can't be longer than 4 characters</Translation>
    <Translation Language="pt">Cvv number can't be longer than 4 characters</Translation>
    <Translation Language="ru">Cvv number can't be longer than 4 characters</Translation>
    <Translation Language="th">Cvv number can't be longer than 4 characters</Translation>
    <Translation Language="uk">Cvv number can't be longer than 4 characters</Translation>
    <Translation Language="vi">Cvv number can't be longer than 4 characters</Translation>
  </Translations>
</Dictionary>