<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e9afc324-93e5-41bf-bc52-70d2023fcba5" Alias="d ago" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">d</Translation>
    <Translation Language="es">d</Translation>
    <Translation Language="fr">j</Translation>
    <Translation Language="he">י</Translation>
    <Translation Language="ms">d</Translation>
    <Translation Language="pt">d</Translation>
    <Translation Language="ru">д</Translation>
    <Translation Language="th">d</Translation>
    <Translation Language="uk">д</Translation>
    <Translation Language="vi">d</Translation>
  </Translations>
</Dictionary>