<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e3b9f255-80f6-470c-a0e9-1fe31fbd7939" Alias="Date" Level="1">
  <Info>
    <Parent>Withdraw Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Date</Translation>
    <Translation Language="es">Fecha</Translation>
    <Translation Language="fr">Date</Translation>
    <Translation Language="he">תאריך</Translation>
    <Translation Language="ms">Tarikh</Translation>
    <Translation Language="pt">Data</Translation>
    <Translation Language="ru">Дата</Translation>
    <Translation Language="th">วันที่</Translation>
    <Translation Language="uk">Дата</Translation>
    <Translation Language="vi">Ngày</Translation>
  </Translations>
</Dictionary>