<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f5393438-58af-46d2-9a84-2ba97f6dc703" Alias="Date requested" Level="2">
  <Info>
    <Parent>Page 1</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Date requested</Translation>
    <Translation Language="es">Fecha solicitada</Translation>
    <Translation Language="fr">Date demandée</Translation>
    <Translation Language="he">תאריך בקשה</Translation>
    <Translation Language="ms">Tarikh diminta</Translation>
    <Translation Language="pt">Data solicitada</Translation>
    <Translation Language="ru">Запрошенная дата</Translation>
    <Translation Language="th">วันที่ร้องขอ</Translation>
    <Translation Language="uk">Дата запиту</Translation>
    <Translation Language="vi">Ngày yêu cầu</Translation>
  </Translations>
</Dictionary>