<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e253fdc8-57de-4596-88d0-ac332cb87302" Alias="Deposit" Level="1">
  <Info>
    <Parent>Account Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Deposit</Translation>
    <Translation Language="es">Depósito</Translation>
    <Translation Language="fr">Dépôt</Translation>
    <Translation Language="he">הפקדה</Translation>
    <Translation Language="ms">Deposit</Translation>
    <Translation Language="pt">Depósito</Translation>
    <Translation Language="ru">Депозит</Translation>
    <Translation Language="th">ฝากเงิน</Translation>
    <Translation Language="uk">Депозит</Translation>
    <Translation Language="vi">Nạp tiền</Translation>
  </Translations>
</Dictionary>