<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="60425f6f-6734-4597-9c95-31a8262733ac" Alias="Deposit bonus" Level="1">
  <Info>
    <Parent>Gift popup</Parent>
  </Info>
  <Translations>
    <Translation Language="en">{0} Deposit bonus</Translation>
    <Translation Language="es">Bono de depósito de {0}</Translation>
    <Translation Language="fr">Bonus de dépôt de {0}</Translation>
    <Translation Language="he">בונוס הפקדה של {0}</Translation>
    <Translation Language="ms">Bonus deposit {0}</Translation>
    <Translation Language="pt">{0} Bónus de depósito</Translation>
    <Translation Language="ru">Бонус на депозит {0}</Translation>
    <Translation Language="th">{0} โบนัสเงินฝาก</Translation>
    <Translation Language="uk">Бонус на депозит {0}</Translation>
    <Translation Language="vi">{0} Tiền thưởng nạp tiền</Translation>
  </Translations>
</Dictionary>