<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="30abf545-3918-4736-8860-4469a2e59a16" Alias="Deposit $100 and get a $200 bonus!" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">DEPOSIT {0} AND &lt;span class="limited_time_offer_bigger"&gt;GET A {1} BONUS!&lt;/span&gt;</Translation>
    <Translation Language="es">DEPOSITA {0} Y &lt;span class="limited_time_offer_bigger"&gt;¡OBTÉN UN BONO DE {1}!&lt;/span&gt;</Translation>
    <Translation Language="fr">DÉPOSEZ {0} ET &lt;span class="limited_time_offer_bigger"&gt;OBTENEZ {1} DE BONUS !&lt;/span&gt;</Translation>
    <Translation Language="he">הפקידו {0} &lt;span class="limited_time_offer_bigger"&gt;קבלו בונוס של {1}!&lt;/span&gt;
</Translation>
    <Translation Language="ms">DEPOSIT {0} DAN &lt;span class="limited_time_offer_bigger"&gt;DAPATKAN BONUS {1}!&lt;/span&gt;</Translation>
    <Translation Language="pt">DEPOSITE {0} E &lt;span class="limited_time_offer_bigger"&gt;GANHE UM BÔNUS DE {1}!&lt;/span&gt;</Translation>
    <Translation Language="ru">ПОПОЛНИТЕ СЧЁТ НА {0} И &lt;span class="limited_time_offer_bigger"&gt;ПОЛУЧИТЕ БОНУС {1}!&lt;/span&gt;</Translation>
    <Translation Language="th">ฝาก {0} และ &lt;span class="limited_time_offer_bigger"&gt;รับโบนัส {1}!&lt;/span&gt;</Translation>
    <Translation Language="uk">ВНЕСІТЬ {0} І &lt;span class="limited_time_offer_bigger"&gt;ОТРИМАЙТЕ БОНУС {1}!&lt;/span&gt;</Translation>
    <Translation Language="vi">NẠP {0} VÀ &lt;span class="limited_time_offer_bigger"&gt;NHẬN THƯỞNG {1}!&lt;/span&gt;</Translation>
  </Translations>
</Dictionary>