<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="eff0204d-496b-46a9-aec9-131467d69102" Alias="Device Compatibility" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Device Compatibility</Translation>
    <Translation Language="es">Device Compatibility</Translation>
    <Translation Language="fr">Device Compatibility</Translation>
    <Translation Language="he">Device Compatibility</Translation>
    <Translation Language="ms">Device Compatibility</Translation>
    <Translation Language="pt">Device Compatibility</Translation>
    <Translation Language="ru">Device Compatibility</Translation>
    <Translation Language="th">Device Compatibility</Translation>
    <Translation Language="uk">Device Compatibility</Translation>
    <Translation Language="vi">Device Compatibility</Translation>
  </Translations>
</Dictionary>