<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fca5c9c7-7820-412e-acbe-b3a40f54fbf6" Alias="Done" Level="1">
  <Info>
    <Parent>Withdraw Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">DONE</Translation>
    <Translation Language="es">Hecho</Translation>
    <Translation Language="fr">FAIT</Translation>
    <Translation Language="he">בוצע</Translation>
    <Translation Language="ms">SELESAI</Translation>
    <Translation Language="pt">CONCLUÍDO</Translation>
    <Translation Language="ru">ГОТОВО</Translation>
    <Translation Language="th">เสร็จสิ้น</Translation>
    <Translation Language="uk">ГОТОВО</Translation>
    <Translation Language="vi">XONG</Translation>
  </Translations>
</Dictionary>