<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3d6406a3-c903-4028-9b49-c9befb148dda" Alias="E-mail" Level="1">
  <Info>
    <Parent>Personal Info Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">E-mail</Translation>
    <Translation Language="es">Correo electrónico</Translation>
    <Translation Language="fr">E-mail</Translation>
    <Translation Language="he">אימייל</Translation>
    <Translation Language="ms">E-mel</Translation>
    <Translation Language="pt">E-mail</Translation>
    <Translation Language="ru">Электронная почта</Translation>
    <Translation Language="th">อีเมล</Translation>
    <Translation Language="uk">Електронна пошта</Translation>
    <Translation Language="vi">E-mail</Translation>
  </Translations>
</Dictionary>