<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="eb646ee3-7554-4218-a113-fa0ccd97aee6" Alias="Earnings:" Level="1">
  <Info>
    <Parent>Account Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Earnings:</Translation>
    <Translation Language="es">Ganancias:</Translation>
    <Translation Language="fr">Gains :</Translation>
    <Translation Language="he">רווחים:</Translation>
    <Translation Language="ms">Pendapatan:</Translation>
    <Translation Language="pt">Ganhos:</Translation>
    <Translation Language="ru">Доходы:</Translation>
    <Translation Language="th">รายได้:</Translation>
    <Translation Language="uk">Доходи:</Translation>
    <Translation Language="vi">Thu nhập:</Translation>
  </Translations>
</Dictionary>