<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e3caebbe-6c7b-49b6-9972-bdb34ca6be59" Alias="Earn money by referring friends to play." Level="1">
  <Info>
    <Parent>Account Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Earn money by referring friends to play.</Translation>
    <Translation Language="es">Gana dinero recomendando a tus amigos que jueguen.</Translation>
    <Translation Language="fr">Gagnez de l'argent en recommandant à vos amis de jouer.</Translation>
    <Translation Language="he">הרווח כסף על ידי הפניית חברים לשחק.</Translation>
    <Translation Language="ms">Dapatkan wang dengan menjemput rakan untuk bermain.</Translation>
    <Translation Language="pt">Ganhe dinheiro ao indicar amigos para jogar.</Translation>
    <Translation Language="ru">Зарабатывайте деньги, рекомендуя друзьям играть.</Translation>
    <Translation Language="th">รับเงินโดยการชวนเพื่อนมาเล่น</Translation>
    <Translation Language="uk">Заробляйте гроші, рекомендуючи друзям грати.</Translation>
    <Translation Language="vi">Kiếm tiền bằng cách giới thiệu bạn bè chơi.</Translation>
  </Translations>
</Dictionary>