<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="502f0733-fb11-4a4c-bf73-89959485f033" Alias="Email F.A.Q 2 Topic" Level="2">
  <Info>
    <Parent>Email F.A.Q</Parent>
  </Info>
  <Translations>
    <Translation Language="en"></Translation>
    <Translation Language="es"></Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="he"></Translation>
    <Translation Language="ru"></Translation>
    <Translation Language="uk"></Translation>
  </Translations>
</Dictionary>