<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="29d6e44d-d03a-41d3-bd20-7b4284da48d0" Alias="Email verification" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Email verification</Translation>
    <Translation Language="es">Email verification</Translation>
    <Translation Language="fr">Email verification</Translation>
    <Translation Language="he">Email verification</Translation>
    <Translation Language="ms">Email verification</Translation>
    <Translation Language="pt">Email verification</Translation>
    <Translation Language="ru">Email verification</Translation>
    <Translation Language="th">Email verification</Translation>
    <Translation Language="uk">Email verification</Translation>
    <Translation Language="vi">Email verification</Translation>
  </Translations>
</Dictionary>