<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="13fa2411-95ae-4adc-b63b-7afcc26af697" Alias="Email verification gift" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Email verification gift</Translation>
    <Translation Language="es">Regalo por verificación de correo electrónico</Translation>
    <Translation Language="fr">Cadeau de vérification d'email</Translation>
    <Translation Language="he">מתנה לאימות כתובת האימייל</Translation>
    <Translation Language="ms">Hadiah pengesahan e-mel</Translation>
    <Translation Language="pt">Presente de verificação de e-mail</Translation>
    <Translation Language="ru">Подарок за подтверждение электронной почты</Translation>
    <Translation Language="th">ของขวัญสำหรับการยืนยันอีเมล</Translation>
    <Translation Language="uk">Подарунок за підтвердження електронної пошти</Translation>
    <Translation Language="vi">Quà tặng xác minh email</Translation>
  </Translations>
</Dictionary>