<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6d83085e-139a-4c12-ae38-3ea56de320cb" Alias="Email" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Email</Translation>
    <Translation Language="es">Email</Translation>
    <Translation Language="fr">Email</Translation>
    <Translation Language="he">Email</Translation>
    <Translation Language="ms">Email</Translation>
    <Translation Language="pt">Email</Translation>
    <Translation Language="ru">Email</Translation>
    <Translation Language="th">Email</Translation>
    <Translation Language="uk">Email</Translation>
    <Translation Language="vi">Email</Translation>
  </Translations>
</Dictionary>