<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="eaeec998-8435-4f8c-ba51-ee558be0000e" Alias="Enable notifications via Telegram." Level="1">
  <Info>
    <Parent>Account Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Enable notifications via Telegram.</Translation>
    <Translation Language="es">Habilitar notificaciones a través de Telegram</Translation>
    <Translation Language="fr">Activer les notifications via Telegram</Translation>
    <Translation Language="he">הפעל התראות דרך טלגרם</Translation>
    <Translation Language="ms">Aktifkan pemberitahuan melalui Telegram.</Translation>
    <Translation Language="pt">Ativar notificações via Telegram.</Translation>
    <Translation Language="ru">Включить уведомления через Telegram</Translation>
    <Translation Language="th">เปิดใช้งานการแจ้งเตือนผ่าน Telegram</Translation>
    <Translation Language="uk">Увімкнути сповіщення через Telegram</Translation>
    <Translation Language="vi">Bật thông báo qua Telegram.</Translation>
  </Translations>
</Dictionary>