<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="90aef518-57b1-4da5-ba6b-93a92d03332b" Alias="Enter the amount you wish to deposit" Level="1">
  <Info>
    <Parent>Deposit Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Enter the amount you wish to deposit</Translation>
    <Translation Language="es">Ingrese la cantidad que desea depositar</Translation>
    <Translation Language="fr">Entrez le montant que vous souhaitez déposer</Translation>
    <Translation Language="he">הזינו את הסכום שתרצו להפקיד</Translation>
    <Translation Language="ms">Masukkan jumlah yang ingin anda depositkan</Translation>
    <Translation Language="pt">Introduza o montante que pretende depositar</Translation>
    <Translation Language="ru">Введите сумму, которую вы хотите внести</Translation>
    <Translation Language="th">กรุณากรอกจำนวนเงินที่คุณต้องการฝาก</Translation>
    <Translation Language="uk">Введіть суму, яку ви бажаєте покласти</Translation>
    <Translation Language="vi">Nhập số tiền bạn muốn nạp</Translation>
  </Translations>
</Dictionary>