<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c7a97390-0086-4565-a1fb-27aa4fa2bf57" Alias="ENTER THE AMOUNT YOU WISH TO WITHDRAW" Level="1">
  <Info>
    <Parent>Withdraw Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">ENTER THE AMOUNT YOU WISH TO WITHDRAW:</Translation>
    <Translation Language="es">INGRESA LA CANTIDAD QUE DESEA RETIRAR:</Translation>
    <Translation Language="fr">SAISISSEZ LE MONTANT QUE VOUS SOUHAITEZ RETRAIT:</Translation>
    <Translation Language="he">הזן את הסכום שברצונך למשוך:</Translation>
    <Translation Language="ms">MASUKKAN JUMLAH YANG ANDA INGIN KELUARKAN:</Translation>
    <Translation Language="pt">DIGITE O VALOR QUE DESEJA SACAR:</Translation>
    <Translation Language="ru">ВВЕДИТЕ СУММУ, КОТОРУЮ ЖЕЛАЕТЕ ВЫВЕСТИ:</Translation>
    <Translation Language="th">ป้อนจำนวนเงินที่คุณต้องการถอน:</Translation>
    <Translation Language="uk">ВВЕДІТЬ СУМУ, ЯКУ БАЖАЄТЕ ЗНЯТИ:</Translation>
    <Translation Language="vi">NHẬP SỐ TIỀN BẠN MUỐN RÚT:</Translation>
  </Translations>
</Dictionary>