<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8b304f07-917b-4cec-99bb-be8f16531747" Alias="Error Page" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Sorry Error Happened. Please contact our tech support</Translation>
    <Translation Language="es">Lo sentimos, ocurrió un error. Póngase en contacto con nuestro soporte técnico</Translation>
    <Translation Language="fr">Désolé, une erreur s'est produite. Veuillez contacter notre support technique</Translation>
    <Translation Language="he">צטערים, ארעה שגיאה. אנא צרו קשר עם תמיכה הטכנית שלנו.</Translation>
    <Translation Language="ms">Maaf, ralat telah berlaku. Sila hubungi sokongan teknikal kami</Translation>
    <Translation Language="pt">Lamentamos, ocorreu um erro. Entre em contato com o nosso suporte técnico</Translation>
    <Translation Language="ru">Произошла ошибка. Пожалуйста, свяжитесь с нашей техподдержкой</Translation>
    <Translation Language="th">ขออภัย เกิดข้อผิดพลาด โปรดติดต่อฝ่ายสนับสนุนด้านเทคนิคของเรา</Translation>
    <Translation Language="uk">Вибачте, сталася помилка. Зверніться до нашої технічної підтримки</Translation>
    <Translation Language="vi">Xin lỗi, đã xảy ra lỗi. Vui lòng liên hệ bộ phận hỗ trợ kỹ thuật của chúng tôi</Translation>
  </Translations>
</Dictionary>