<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5909b20b-2a90-41ab-8aa8-e05f3cfa2d58" Alias="Exciting Feature" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Exciting Feature</Translation>
    <Translation Language="es">Función emocionante</Translation>
    <Translation Language="fr">Fonctionnalité passionnante</Translation>
    <Translation Language="he">תכונה מרגשת</Translation>
    <Translation Language="ms">Ciri Menarik</Translation>
    <Translation Language="pt">Funcionalidade Empolgante</Translation>
    <Translation Language="ru">Захватывающая функция</Translation>
    <Translation Language="th">ฟีเจอร์ที่น่าตื่นเต้น</Translation>
    <Translation Language="uk">Захоплива функція</Translation>
    <Translation Language="vi">Tính năng thú vị</Translation>
  </Translations>
</Dictionary>