<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="54ec603d-8f33-45b6-b199-db9cdaba8a49" Alias="F.A.Q. Phone Verification Question 2" Level="3">
  <Info>
    <Parent>Topic 2 Phone Verification</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Is mobile verification mandatory?</Translation>
    <Translation Language="es">¿Es obligatoria la verificación móvil?</Translation>
    <Translation Language="fr">La vérification mobile est-elle obligatoire ?</Translation>
    <Translation Language="he">האימות הנייד הוא חובה?</Translation>
    <Translation Language="ms">Adakah pengesahan mudah alih wajib?</Translation>
    <Translation Language="pt">A verificação por telemóvel é obrigatória?</Translation>
    <Translation Language="ru">Обязательна ли мобильная верификация?</Translation>
    <Translation Language="th">จำเป็นต้องยืนยันเบอร์มือถือหรือไม่?</Translation>
    <Translation Language="uk">Чи є обов'язковою мобільна верифікація?</Translation>
    <Translation Language="vi">Xác minh trên thiết bị di động có bắt buộc không?</Translation>
  </Translations>
</Dictionary>