<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="08cc1fa7-e39f-43c7-b125-4247542df887" Alias="F.A.Q. Email Question 4" Level="3">
  <Info>
    <Parent>Email F.A.Q 4 Topic</Parent>
  </Info>
  <Translations>
    <Translation Language="en">I no longer have access to the email address I used for verification. What should I do?</Translation>
    <Translation Language="es">Ya no tengo acceso a la dirección de correo electrónico que utilicé para la verificación. ¿Qué debo hacer?</Translation>
    <Translation Language="fr">Je n'ai plus accès à l'adresse e-mail que j'ai utilisée pour la vérification. Que dois-je faire ?</Translation>
    <Translation Language="he">אני לא יודע כבר לגשת לכתובת הדוא"ל שהשתמשתי בה לצורך אימות. מה אני צריך לעשות?</Translation>
    <Translation Language="ms">Saya tidak lagi mempunyai akses kepada alamat e-mel yang saya gunakan untuk pengesahan. Apakah yang patut saya lakukan?</Translation>
    <Translation Language="pt">Já não tenho acesso ao endereço de e-mail que usei para verificação. O que devo fazer?</Translation>
    <Translation Language="ru">У меня больше нет доступа к адресу электронной почты, который я использовал для верификации. Что мне делать?</Translation>
    <Translation Language="th">ฉันไม่สามารถเข้าถึงที่อยู่อีเมลที่ฉันใช้สำหรับการยืนยันได้อีกต่อไป ฉันควรทำอย่างไร?</Translation>
    <Translation Language="uk">Я більше не маю доступу до адреси електронної пошти, яку я використовував для верифікації. Що мені робити?</Translation>
    <Translation Language="vi">Tôi không còn quyền truy cập vào địa chỉ email mà tôi đã dùng để xác minh. Tôi nên làm gì?</Translation>
  </Translations>
</Dictionary>