<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ca169ccc-0bcd-4471-8c3a-487412a207a8" Alias="F.A.Q. Phone Verification Answer 3" Level="3">
  <Info>
    <Parent>Topic 3 Phone Verification</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Mobile verification ensures that each user has a unique and verified mobile number associated with their account. This helps us prevent unauthorized access and fraudulent activities on the platform</Translation>
    <Translation Language="es">La verificación móvil asegura que cada usuario tenga un número de teléfono móvil único y verificado asociado a su cuenta. Esto nos ayuda a prevenir el acceso no autorizado y actividades fraudulentas en la plataforma.</Translation>
    <Translation Language="fr">La vérification mobile garantit que chaque utilisateur dispose d'un numéro de téléphone mobile unique et vérifié associé à son compte. Cela nous aide à prévenir les accès non autorisés et les activités frauduleuses sur la plateforme.</Translation>
    <Translation Language="he">אימות הטלפון הנייד מבטיח שכל משתמש יש לו מספר טלפון סלולרי ייחודי ומאומת הקשור לחשבון שלו. זה עוזר לנו למנוע גישה לא מורשית ופעילויות מרמות בפלטפורמה.</Translation>
    <Translation Language="ms">Pengesahan mudah alih memastikan bahawa setiap pengguna mempunyai nombor mudah alih yang unik dan disahkan yang dikaitkan dengan akaun mereka. Ini membantu kami mencegah akses tanpa kebenaran dan aktiviti penipuan di platform ini</Translation>
    <Translation Language="pt">A verificação móvel garante que cada utilizador tem um número de telemóvel único e verificado associado à sua conta. Isto ajuda-nos a impedir acessos não autorizados e atividades fraudulentas na plataforma</Translation>
    <Translation Language="ru">Мобильная верификация гарантирует, что у каждого пользователя есть уникальный и подтвержденный мобильный номер, связанный с его учетной записью. Это помогает нам предотвращать несанкционированный доступ и мошенническую деятельность на платформе.</Translation>
    <Translation Language="th">การยืนยันหมายเลขโทรศัพท์มือถือช่วยให้มั่นใจว่าแต่ละผู้ใช้มีหมายเลขโทรศัพท์มือถือที่ไม่ซ้ำกันและได้รับการยืนยันซึ่งเชื่อมโยงกับบัญชีของตน ซึ่งช่วยให้เราป้องกันการเข้าถึงโดยไม่ได้รับอนุญาตและกิจกรรมฉ้อโกงบนแพลตฟอร์มได้</Translation>
    <Translation Language="uk">Мобільна верифікація гарантує, що кожен користувач має унікальний та підтверджений мобільний номер, пов'язаний із його обліковим записом. Це допомагає нам запобігти несанкціонованому доступу та шахрайським діям на платформі.</Translation>
    <Translation Language="vi">Xác minh di động đảm bảo rằng mỗi người dùng có một số điện thoại di động duy nhất và đã được xác minh liên kết với tài khoản của họ. Điều này giúp chúng tôi ngăn chặn truy cập trái phép và các hoạt động gian lận trên nền tảng</Translation>
  </Translations>
</Dictionary>