<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0c1c7b24-d4d5-485f-a2ae-ea54a785e776" Alias="F.A.Q. Phone Verification Answer 2" Level="3">
  <Info>
    <Parent>Topic 2 Phone Verification</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Yes, mobile verification is mandatory for all users. It is a key step to prevent multiple accounts per user and maintain a safe environment on our platform.</Translation>
    <Translation Language="es">Sí, la verificación móvil es obligatoria para todos los usuarios. Es un paso clave para prevenir la creación de múltiples cuentas por usuario y mantener un entorno seguro en nuestra plataforma.</Translation>
    <Translation Language="fr">Oui, la vérification mobile est obligatoire pour tous les utilisateurs. C'est une étape essentielle pour éviter plusieurs comptes par utilisateur et maintenir un environnement sûr sur notre plateforme.</Translation>
    <Translation Language="he">כן, אימות הטלפון הנייד הוא חובה לכל המשתמשים. זהו שלב מרכזי למניעת יצירת מספר חשבונות רבים למשתמש ולשמור על סביבה בטוחה בפלטפורמתנו.</Translation>
    <Translation Language="ms">Ya, pengesahan mudah alih adalah wajib untuk semua pengguna. Ia merupakan langkah utama untuk mencegah berbilang akaun bagi setiap pengguna dan mengekalkan persekitaran yang selamat di platform kami.</Translation>
    <Translation Language="pt">Sim, a verificação móvel é obrigatória para todos os utilizadores. É um passo fundamental para impedir várias contas por utilizador e manter um ambiente seguro na nossa plataforma.</Translation>
    <Translation Language="ru">Да, мобильная верификация обязательна для всех пользователей. Это ключевой шаг для предотвращения создания нескольких учетных записей одним пользователем и поддержания безопасной среды на нашей платформе.</Translation>
    <Translation Language="th">ใช่ การยืนยันหมายเลขมือถือเป็นข้อบังคับสำหรับผู้ใช้ทุกคน เป็นขั้นตอนสำคัญเพื่อป้องกันการมีหลายบัญชีต่อผู้ใช้หนึ่งราย และรักษาสภาพแวดล้อมที่ปลอดภัยบนแพลตฟอร์มของเรา</Translation>
    <Translation Language="uk">Так, мобільна верифікація обов'язкова для всіх користувачів. Це ключовий крок для запобігання створенню декількох облікових записів одним користувачем і забезпечення безпечного середовища на нашій платформі.</Translation>
    <Translation Language="vi">Có, xác minh di động là bắt buộc đối với tất cả người dùng. Đây là một bước quan trọng để ngăn chặn việc mỗi người dùng có nhiều tài khoản và duy trì một môi trường an toàn trên nền tảng của chúng tôi.</Translation>
  </Translations>
</Dictionary>