<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6ccf21d0-6628-4191-bb5d-93fa37560056" Alias="F.A.Q. Email Question 3" Level="3">
  <Info>
    <Parent>Email F.A.Q 3 Topic</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Why should I verify my email address?</Translation>
    <Translation Language="es">¿Por qué debería verificar mi dirección de correo electrónico?</Translation>
    <Translation Language="fr">Pourquoi devrais-je vérifier mon adresse e-mail ?</Translation>
    <Translation Language="he">למה עלי לאמת את כתובת האימייל שלי?</Translation>
    <Translation Language="ms">Mengapa saya perlu mengesahkan alamat e-mel saya?</Translation>
    <Translation Language="pt">Por que devo verificar meu endereço de e-mail?</Translation>
    <Translation Language="ru">Почему мне стоит подтвердить свой адрес электронной почты?</Translation>
    <Translation Language="th">ทำไมฉันจึงควรยืนยันที่อยู่อีเมลของฉัน?</Translation>
    <Translation Language="uk">Чому мені варто підтвердити мою адресу електронної пошти?</Translation>
    <Translation Language="vi">Tại sao tôi nên xác minh địa chỉ email của mình?</Translation>
  </Translations>
</Dictionary>