<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b29223c4-1b6b-4a9e-ac2b-f7e350416b06" Alias="F.A.Q. Phone Verification Question 4" Level="3">
  <Info>
    <Parent>Topic 4 Phone Verification</Parent>
  </Info>
  <Translations>
    <Translation Language="en">I didn't receive the SMS verification code. What should I do?</Translation>
    <Translation Language="es">No he recibido el código de verificación por SMS. ¿Qué debo hacer?</Translation>
    <Translation Language="fr">Je n'ai pas reçu le code de vérification par SMS. Que dois-je faire ?</Translation>
    <Translation Language="he">לא קיבלתי את קוד האימות ב-SMS. מה לעשות?</Translation>
    <Translation Language="ms">Saya tidak menerima kod pengesahan SMS. Apa yang patut saya lakukan?</Translation>
    <Translation Language="pt">Não recebi o código de verificação por SMS. O que devo fazer?</Translation>
    <Translation Language="ru">Я не получил код подтверждения по SMS. Что делать?</Translation>
    <Translation Language="th">ฉันไม่ได้รับรหัสยืนยันทาง SMS ฉันควรทำอย่างไร?</Translation>
    <Translation Language="uk">Я не отримав SMS-код верифікації. Що мені робити?</Translation>
    <Translation Language="vi">Tôi chưa nhận được mã xác minh SMS. Tôi nên làm gì?</Translation>
  </Translations>
</Dictionary>