<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="35f6f971-dd67-48eb-b9cf-e193eb25bab9" Alias="F.A.Q. Email Answer 1" Level="3">
  <Info>
    <Parent>Email F.A.Q 1 Topic</Parent>
  </Info>
  <Translations>
    <Translation Language="en">To make sure it’s you who’s opening this account, we just sent a verification email to your email address. When you receive it, simply click the link in that email. If the link is not clickable, right-click it and choose “Copy Link” from the menu. Then, paste it into your web browser. Once you’re verified you’ll be one step away from getting into the draws. Yay!</Translation>
    <Translation Language="es">Para asegurarnos de que eres tú quien está abriendo esta cuenta, acabamos de enviarte un correo de verificación a tu dirección de correo electrónico. Cuando lo recibas, simplemente haz clic en el enlace de ese correo. Si el enlace no es clickable, haz clic derecho sobre él y elige 'Copiar enlace' en el menú. Luego, pégalo en tu navegador web. Una vez que estés verificado, estarás a un paso de participar en los sorteos. ¡Hurra!</Translation>
    <Translation Language="fr">Pour vous assurer que c'est bien vous qui ouvrez ce compte, nous venons de vous envoyer un e-mail de vérification à votre adresse e-mail. Lorsque vous le recevrez, il vous suffira de cliquer sur le lien dans cet e-mail. Si le lien n'est pas cliquable, faites un clic droit dessus et choisissez « Copier le lien » dans le menu. Ensuite, collez-le dans votre navigateur web. Une fois que vous serez vérifié, vous ne serez plus qu'à un pas de participer aux tirages. Hourra !</Translation>
    <Translation Language="he">כדי לוודא שזה אכן אתה שפותח את החשבון הזה, אנחנו פשוט שלחנו אימייל אימות אל כתובת האימייל שלך. כשתקבל את האימייל, פשוט לחץ על הקישור באימייל הזה. אם הקישור אינו לחיצה, לחץ ימני עליו ובחר 'העתק קישור' מהתפריט. אז, הדבק אותו בדפדפן האינטרנט שלך. לאחר שתועבר את האימות, אתה תהיה רק במרחק צעד אחד מהשתתפות בהגרלות. יום גיל!</Translation>
    <Translation Language="ms">Untuk memastikan bahawa anda yang membuka akaun ini, kami baru sahaja menghantar e-mel pengesahan ke alamat e-mel anda. Apabila anda menerimanya, hanya klik pautan dalam e-mel tersebut. Jika pautan itu tidak boleh diklik, klik kanan padanya dan pilih “Salin Pautan” daripada menu. Kemudian, tampalkannya ke dalam pelayar web anda. Setelah anda disahkan, anda hanya selangkah lagi untuk menyertai cabutan bertuah. Yay!</Translation>
    <Translation Language="pt">Para garantir que é você quem está abrindo esta conta, acabamos de enviar um e-mail de verificação para o seu endereço de e-mail. Quando o receber, basta clicar no link nesse e-mail. Se o link não estiver clicável, clique com o botão direito nele e escolha “Copiar link” no menu. Em seguida, cole-o no seu navegador. Assim que estiver verificado, estará a um passo de participar nos sorteios. Boa!</Translation>
    <Translation Language="ru">Чтобы удостовериться, что это именно вы открываете эту учетную запись, мы только что отправили вам письмо для подтверждения на ваш адрес электронной почты. Как только вы его получите, просто щелкните по ссылке в этом письме. Если ссылка не является активной, щелкните правой кнопкой мыши и выберите 'Копировать ссылку' в меню. Затем вставьте ее в свой веб-браузер. Как только вы подтвердите, вы будете всего в одном шаге от участия в розыгрышах. Ура!</Translation>
    <Translation Language="th">เพื่อให้แน่ใจว่าเป็นคุณที่กำลังเปิดบัญชีนี้ เราเพิ่งส่งอีเมลยืนยันไปยังที่อยู่อีเมลของคุณ เมื่อคุณได้รับแล้ว เพียงคลิกลิงก์ในอีเมลนั้น หากลิงก์ไม่สามารถคลิกได้ ให้คลิกขวาที่ลิงก์และเลือก “คัดลอกลิงก์” จากเมนู จากนั้นวางลงในเว็บเบราว์เซอร์ของคุณ เมื่อยืนยันแล้ว คุณก็จะเหลืออีกเพียงก้าวเดียวก็จะได้เข้าร่วมการจับรางวัลแล้ว เย้!</Translation>
    <Translation Language="uk">Щоб переконатися, що саме ви відкриваєте цей обліковий запис, ми щойно надіслали вам лист для підтвердження на вашу адресу електронної пошти. Коли ви його отримаєте, просто клацніть по посиланню у цьому листі. Якщо посилання не є активним, клацніть правою кнопкою миші і оберіть 'Скопіювати посилання' у меню. Потім вставте його у свій веб-браузер. Як тільки ви підтвердите, ви будете в одному кроці від участі у розіграшах. Ура!</Translation>
    <Translation Language="vi">Để đảm bảo chính bạn là người đang mở tài khoản này, chúng tôi vừa gửi một email xác minh đến địa chỉ email của bạn. Khi nhận được, chỉ cần nhấp vào liên kết trong email đó. Nếu liên kết không thể nhấp được, hãy nhấp chuột phải vào liên kết và chọn “Sao chép liên kết” từ menu. Sau đó, dán nó vào trình duyệt web của bạn. Khi bạn được xác minh, bạn sẽ chỉ còn cách việc tham gia các lượt quay thưởng một bước nữa. Yay!</Translation>
  </Translations>
</Dictionary>