<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="59f6afcd-61d1-4936-816f-1b70bf44f95b" Alias="F.A.Q. Email Question 2" Level="3">
  <Info>
    <Parent>Email F.A.Q 2 Topic</Parent>
  </Info>
  <Translations>
    <Translation Language="en">I haven't received the verification email. What should I do?</Translation>
    <Translation Language="es">No he recibido el correo de verificación. ¿Qué debo hacer?</Translation>
    <Translation Language="fr">Je n'ai pas reçu l'e-mail de vérification. Que dois-je faire ?</Translation>
    <Translation Language="he">לא קיבלתי את האימייל לאימות. מה לעשות?</Translation>
    <Translation Language="ms">Saya belum menerima e-mel pengesahan. Apa yang perlu saya lakukan?</Translation>
    <Translation Language="pt">Não recebi o e-mail de verificação. O que devo fazer?</Translation>
    <Translation Language="ru">Я не получил письмо для подтверждения. Что мне делать?</Translation>
    <Translation Language="th">ฉันยังไม่ได้รับอีเมลยืนยัน ฉันควรทำอย่างไร?</Translation>
    <Translation Language="uk">Я не отримав лист для підтвердження. Що мені робити?</Translation>
    <Translation Language="vi">Tôi chưa nhận được email xác minh. Tôi nên làm gì?</Translation>
  </Translations>
</Dictionary>