<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a2879853-0cea-47e1-bc51-9cca206ac264" Alias="F.A.Q. Email Answer 2" Level="3">
  <Info>
    <Parent>Email F.A.Q 2 Topic</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Wait a few seconds: your ISP may delay sending it to you if they are experiencing heavy traffic;
Check your spam filter (and while there, we recommend you allow all emails from noreply@smart-winners.com
If you still haven't received our email, please contact Customer Support directly below and we'll be happy to assist you.</Translation>
    <Translation Language="es">Espere unos segundos: su proveedor de servicios de Internet puede retrasar el envío si están experimentando tráfico pesado;
Revise su filtro de correo no deseado (y mientras lo hace, le recomendamos permitir todos los correos electrónicos de noreply@smart-winners.com);
Si todavía no ha recibido nuestro correo electrónico, por favor póngase en contacto directamente con el servicio de atención al cliente a continuación y estaremos encantados de ayudarle.</Translation>
    <Translation Language="fr">Attendez quelques secondes : votre fournisseur d'accès Internet peut retarder l'envoi si son réseau est congestionné ;
Vérifiez votre filtre anti-spam (et pendant que vous y êtes, nous vous recommandons d'autoriser tous les e-mails de noreply@smart-winners.com) ;
Si vous n'avez toujours pas reçu notre e-mail, veuillez contacter notre service client directement ci-dessous, et nous serons heureux de vous aider.</Translation>
    <Translation Language="he">חכה כמה שניות: ספק השירות שלך עשוי להשהות את שליחת הדוא"ל אליך אם יש לו הרבה תנועת תעבורה ;
בדוק את מסנני הספאם שלך (ובעת הזו, אנו ממליצים לאפשר את כל הדואר האלקטרוני מ-noreply@smart-winners.com) ;
אם עדיין לא קיבלת את הדוא"ל שלנו, אנא צור קשר ישירות עם שירות הלקוחות למטה, ונשמח לעזור.</Translation>
    <Translation Language="ms">Tunggu beberapa saat: ISP anda mungkin melambatkan penghantarannya kepada anda jika mereka sedang mengalami trafik yang tinggi;
Semak penapis spam anda (dan semasa di sana, kami mengesyorkan anda membenarkan semua e-mel daripada noreply@smart-winners.com
Jika anda masih belum menerima e-mel kami, sila hubungi Sokongan Pelanggan secara terus di bawah dan kami dengan senang hati akan membantu anda.</Translation>
    <Translation Language="pt">Aguarde alguns segundos: o seu ISP pode atrasar o envio para si se estiver a enfrentar tráfego intenso;
Verifique o seu filtro de spam (e, já agora, recomendamos que permita todos os e-mails de noreply@smart-winners.com
Se ainda não tiver recebido o nosso e-mail, contacte diretamente o Apoio ao Cliente abaixo e teremos todo o gosto em ajudá-lo.</Translation>
    <Translation Language="ru">Подождите несколько секунд: ваш интернет-поставщик может задерживать отправку, если у них много трафика;
Проверьте вашу почту на наличие спама (и в этой связи, мы рекомендуем разрешить все электронные письма от noreply@smart-winners.com);
Если вы до сих пор не получили наше письмо, пожалуйста, свяжитесь напрямую с нашей службой поддержки клиентов ниже, и мы будем рады вам помочь.</Translation>
    <Translation Language="th">รอสักครู่: ผู้ให้บริการอินเทอร์เน็ตของคุณอาจหน่วงเวลาการส่งให้คุณหากพวกเขากำลังประสบปัญหาการรับส่งข้อมูลหนาแน่น;
ตรวจสอบตัวกรองสแปมของคุณ (และในระหว่างนั้น เราแนะนำให้คุณอนุญาตอีเมลทั้งหมดจาก noreply@smart-winners.com
หากคุณยังไม่ได้รับอีเมลของเรา โปรดติดต่อฝ่ายสนับสนุนลูกค้าโดยตรงด้านล่าง และเรายินดีที่จะช่วยเหลือคุณ.</Translation>
    <Translation Language="uk">Зачекайте кілька секунд: ваш постачальник інтернет-послуг може затримувати відправку, якщо у них є великий трафік;
Перевірте свій фільтр спаму (і поки ви тут, ми рекомендуємо дозволити всі електронні листи від noreply@smart-winners.com) ;
Якщо ви все ще не отримали наш лист, будь ласка, зв'яжіться безпосередньо з нашою службою підтримки нижче, і ми будемо раді допомогти вам.</Translation>
    <Translation Language="vi">Vui lòng đợi vài giây: ISP của bạn có thể trì hoãn việc gửi đến bạn nếu họ đang gặp tình trạng lưu lượng truy cập cao;
Kiểm tra bộ lọc thư rác của bạn (và khi ở đó, chúng tôi khuyến nghị bạn cho phép tất cả email từ noreply@smart-winners.com
Nếu bạn vẫn chưa nhận được email của chúng tôi, vui lòng liên hệ trực tiếp với Bộ phận Hỗ trợ Khách hàng bên dưới và chúng tôi sẽ sẵn lòng hỗ trợ bạn.</Translation>
  </Translations>
</Dictionary>