<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="162f3942-76bf-4a41-ab87-52150327ac37" Alias="F.A.Q. Phone Verification Question 3" Level="3">
  <Info>
    <Parent>Topic 3 Phone Verification</Parent>
  </Info>
  <Translations>
    <Translation Language="en">How does mobile verification enhance account security?</Translation>
    <Translation Language="es">¿Cómo mejora la verificación móvil la seguridad de la cuenta?</Translation>
    <Translation Language="fr">Comment la vérification mobile renforce-t-elle la sécurité du compte ?</Translation>
    <Translation Language="he">איך האימות הנייד משפר את בטיחות החשבון?</Translation>
    <Translation Language="ms">Bagaimanakah pengesahan mudah alih meningkatkan keselamatan akaun?</Translation>
    <Translation Language="pt">Como é que a verificação móvel melhora a segurança da conta?</Translation>
    <Translation Language="ru">Как мобильная верификация увеличивает безопасность учетной записи?</Translation>
    <Translation Language="th">การยืนยันผ่านมือถือช่วยเพิ่มความปลอดภัยของบัญชีได้อย่างไร?</Translation>
    <Translation Language="uk">Як мобільна верифікація підвищує безпеку облікового запису?</Translation>
    <Translation Language="vi">Xác minh trên thiết bị di động nâng cao bảo mật tài khoản như thế nào?</Translation>
  </Translations>
</Dictionary>