<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="25589d79-1629-48c8-bdd2-94db6c14d93a" Alias="F.A.Q. Email Answer 4" Level="3">
  <Info>
    <Parent>Email F.A.Q 4 Topic</Parent>
  </Info>
  <Translations>
    <Translation Language="en">If you no longer have access to the email address you used for verification, don't worry! You can update your email address by following these steps:
&lt;a class="emailLink" href="@langIso/verify-email?change=1"&gt;Click here &lt;/a&gt; to change your email address
Complete the verification process again with your new email address.</Translation>
    <Translation Language="es">Si ya no tienes acceso a la dirección de correo electrónico que utilizaste para la verificación, ¡no te preocupes! Puedes actualizar tu dirección de correo electrónico siguiendo estos pasos:
&lt;a class="emailLink" href="@langIso/verify-email?change=1"&gt;Haz clic aquí&lt;/a&gt; para cambiar tu dirección de correo electrónico.
Completa nuevamente el proceso de verificación con tu nueva dirección de correo electrónico.</Translation>
    <Translation Language="fr">Si vous n'avez plus accès à l'adresse e-mail que vous avez utilisée pour la vérification, ne vous inquiétez pas ! Vous pouvez mettre à jour votre adresse e-mail en suivant ces étapes :
&lt;a class="emailLink" href="@langIso/verify-email?change=1"&gt;Cliquez ici&lt;/a&gt; pour changer votre adresse e-mail.
Effectuez à nouveau le processus de vérification avec votre nouvelle adresse e-mail.</Translation>
    <Translation Language="he">אם אין לך כבר גישה לכתובת הדוא"ל שהשתמשת בה לאימות, אל תדאג! ניתן לעדכן את כתובת הדוא"ל שלך על ידי מעקב אחר השלבים הבאים:
&lt;a class="emailLink" href="@langIso/verify-email?change=1"&gt;לחץ כאן&lt;/a&gt; כדי לשנות את כתובת הדוא"ל שלך.
השלם מחדש את תהליך האימות עם כתובת הדוא"ל החדשה שלך</Translation>
    <Translation Language="ms">Jika anda tidak lagi mempunyai akses kepada alamat e-mel yang anda gunakan untuk pengesahan, jangan risau! Anda boleh mengemas kini alamat e-mel anda dengan mengikuti langkah-langkah ini:
&lt;a class="emailLink" href="@langIso/verify-email?change=1"&gt;Klik di sini &lt;/a&gt; untuk menukar alamat e-mel anda
Lengkapkan proses pengesahan sekali lagi dengan alamat e-mel baharu anda.</Translation>
    <Translation Language="pt">Se você não tiver mais acesso ao endereço de e-mail que usou para verificação, não se preocupe! Você pode atualizar seu endereço de e-mail seguindo estas etapas:
&lt;a class="emailLink" href="@langIso/verify-email?change=1"&gt;Clique aqui &lt;/a&gt; para alterar seu endereço de e-mail
Conclua o processo de verificação novamente com o seu novo endereço de e-mail.</Translation>
    <Translation Language="ru">Если у вас больше нет доступа к адресу электронной почты, который вы использовали для верификации, не волнуйтесь! Вы можете обновить свой адрес электронной почты, следуя этим шагам:
&lt;a class="emailLink" href="@langIso/verify-email?change=1"&gt;Нажмите здесь&lt;/a&gt;, чтобы изменить свой адрес электронной почты.
Завершите процесс верификации снова, используя свой новый адрес электронной почты.</Translation>
    <Translation Language="th">หากคุณไม่สามารถเข้าถึงที่อยู่อีเมลที่คุณใช้สำหรับการยืนยันได้อีกต่อไป ไม่ต้องกังวล! คุณสามารถอัปเดตที่อยู่อีเมลของคุณได้โดยทำตามขั้นตอนเหล่านี้:
&lt;a class="emailLink" href="@langIso/verify-email?change=1"&gt;คลิกที่นี่ &lt;/a&gt; เพื่อเปลี่ยนที่อยู่อีเมลของคุณ
ทำขั้นตอนการยืนยันให้เสร็จสมบูรณ์อีกครั้งด้วยที่อยู่อีเมลใหม่ของคุณ</Translation>
    <Translation Language="uk">Якщо у вас більше немає доступу до адреси електронної пошти, яку ви використовували для верифікації, не турбуйтеся! Ви можете оновити свою адресу електронної пошти, дотримуючись цих кроків:
&lt;a class="emailLink" href="@langIso/verify-email?change=1"&gt;Натисніть тут&lt;/a&gt;, щоб змінити свою адресу електронної пошти.
Завершіть процес верифікації знову, використовуючи свою нову адресу електронної пошти.</Translation>
    <Translation Language="vi">Nếu bạn không còn quyền truy cập vào địa chỉ email bạn đã dùng để xác minh, đừng lo! Bạn có thể cập nhật địa chỉ email của mình bằng cách làm theo các bước sau:
&lt;a class="emailLink" href="@langIso/verify-email?change=1"&gt;Nhấp vào đây &lt;/a&gt; để thay đổi địa chỉ email của bạn
Hoàn tất lại quy trình xác minh bằng địa chỉ email mới của bạn.</Translation>
  </Translations>
</Dictionary>