<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ac4c7a15-11da-4916-ad32-e7857b0f71e3" Alias="F.A.Q. Phone Verification Answer 4" Level="3">
  <Info>
    <Parent>Topic 4 Phone Verification</Parent>
  </Info>
  <Translations>
    <Translation Language="en">If you didn't receive the SMS verification code, please make sure that your mobile number is entered correctly. Also, some mobile operators may block computer-generated SMS or have strict spam filters in place. Contact your mobile operator to ensure that you can receive SMS from our platform.
If the problem persists or if you'd like an alternative, you can verify your account using Telegram. By clicking &lt;b class="telegram_faq_click green-link"&gt;"Verify with Telegram"&lt;/b&gt; and following the instructions, you'll also receive platform updates through Telegram for your convenience.</Translation>
    <Translation Language="es">Si no recibió el código de verificación por SMS, asegúrese de que su número de teléfono móvil esté ingresado correctamente. Además, algunos operadores móviles pueden bloquear los SMS generados por computadora o tener filtros de spam estrictos en su lugar. Póngase en contacto con su operador móvil para asegurarse de que pueda recibir SMS de nuestra plataforma.
Si el problema persiste o si prefiere una alternativa, puede verificar su cuenta usando Telegram. Al hacer clic en &lt;b class="telegram_faq_click green-link"&gt;"Verificar con Telegram"&lt;/b&gt; y siguiendo las instrucciones, también recibirá actualizaciones de la plataforma a través de Telegram para su comodidad.</Translation>
    <Translation Language="fr">Si vous n'avez pas reçu le code de vérification par SMS, veuillez vous assurer que votre numéro de mobile est correctement saisi. De plus, certains opérateurs mobiles peuvent bloquer les SMS générés par ordinateur ou avoir des filtres anti-spam stricts en place. Contactez votre opérateur mobile pour vous assurer que vous pouvez recevoir des SMS de notre plateforme.
Si le problème persiste ou si vous souhaitez une alternative, vous pouvez vérifier votre compte en utilisant Telegram. En cliquant sur &lt;b class="telegram_faq_click green-link"&gt;"Vérifiez avec Telegram"&lt;/b&gt; et en suivant les instructions, vous recevrez également les mises à jour de la plateforme via Telegram pour votre commodité.</Translation>
    <Translation Language="he">אם לא קיבלת את קוד האימות ב-SMS, ודא שמספר הטלפון הנייד שלך מוקלד נכון. בנוסף, יתכן שספקי סלולר חסמום SMSים הנשלחים על ידי מערכת ממוחשבת. צור קשר עם חברת הסלולר שלך כדי לוודא שאין בעיה לקבל SMS מהאתר. אם הבעיה ממשיכה, אפשר לאמת את החשבון שלך באמצעות Telegram. על ידי לחיצה על "&lt;b class="telegram_faq_click green-link"&gt;אמת עם Telegram&lt;/b&gt;" ועקוב אחר ההוראות, לנוחותך, תקבל גם עדכוני הפלטפורמה דרך Telegram.</Translation>
    <Translation Language="ms">Jika anda tidak menerima kod pengesahan SMS, sila pastikan nombor telefon bimbit anda dimasukkan dengan betul. Selain itu, sesetengah pengendali mudah alih mungkin menyekat SMS yang dijana oleh komputer atau mempunyai penapis spam yang ketat. Hubungi pengendali mudah alih anda untuk memastikan anda boleh menerima SMS daripada platform kami.
Jika masalah berterusan atau jika anda mahukan alternatif, anda boleh mengesahkan akaun anda menggunakan Telegram. Dengan mengklik &lt;b class="telegram_faq_click green-link"&gt;"Sahkan dengan Telegram"&lt;/b&gt; dan mengikuti arahan, anda juga akan menerima kemas kini platform melalui Telegram untuk kemudahan anda.</Translation>
    <Translation Language="pt">Se não tiver recebido o código de verificação por SMS, certifique-se de que o seu número de telemóvel foi introduzido corretamente. Além disso, alguns operadores móveis podem bloquear SMS geradas por computador ou ter filtros de spam rigorosos. Contacte o seu operador móvel para garantir que consegue receber SMS da nossa plataforma.
Se o problema persistir ou se pretender uma alternativa, pode verificar a sua conta utilizando o Telegram. Ao clicar em &lt;b class="telegram_faq_click green-link"&gt;"Verificar com o Telegram"&lt;/b&gt; e seguir as instruções, também receberá atualizações da plataforma através do Telegram para sua conveniência.</Translation>
    <Translation Language="ru">Если вы не получили код подтверждения по SMS, убедитесь, что ваш мобильный номер введен правильно. Кроме того, некоторые мобильные операторы могут блокировать SMS, созданные на компьютере, или иметь строгие фильтры для спама. Свяжитесь с вашим мобильным оператором, чтобы убедиться, что вы можете получать SMS с нашей платформы.
Если проблема продолжает возникать или если вам нужна альтернатива, вы можете подтвердить свою учетную запись с помощью Telegram. Нажмите &lt;b class="telegram_faq_click green-link"&gt;"Подтвердить с помощью Telegram"&lt;/b&gt; и следуйте инструкциям, вы также будете получать обновления платформы через Telegram для вашего удобства.</Translation>
    <Translation Language="th">หากคุณไม่ได้รับรหัสยืนยันทาง SMS โปรดตรวจสอบให้แน่ใจว่าได้กรอกหมายเลขโทรศัพท์มือถือของคุณถูกต้อง นอกจากนี้ ผู้ให้บริการเครือข่ายมือถือบางรายอาจบล็อก SMS ที่สร้างโดยคอมพิวเตอร์หรือมีตัวกรองสแปมที่เข้มงวด โปรดติดต่อผู้ให้บริการเครือข่ายมือถือของคุณเพื่อให้แน่ใจว่าคุณสามารถรับ SMS จากแพลตฟอร์มของเราได้
หากปัญหายังคงอยู่หรือหากคุณต้องการทางเลือกอื่น คุณสามารถยืนยันบัญชีของคุณผ่าน Telegram ได้ โดยคลิก &lt;b class="telegram_faq_click green-link"&gt;"ยืนยันด้วย Telegram"&lt;/b&gt; และทำตามคำแนะนำ คุณจะได้รับอัปเดตของแพลตฟอร์มผ่าน Telegram เพื่อความสะดวกของคุณด้วย</Translation>
    <Translation Language="uk">Якщо ви не отримали код підтвердження по SMS, переконайтеся, що ваш мобільний номер правильно введено. Крім того, деякі мобільні оператори можуть блокувати SMS, створені на комп'ютері, або мати суворі фільтри для спаму. Зв'яжіться з вашим мобільним оператором, щоб переконатися, що ви можете отримувати SMS з нашої платформи.
Якщо проблема продовжується або якщо ви бажаєте альтернативу, ви можете підтвердити свій обліковий запис за допомогою &lt;b class="telegram_faq_click green-link"&gt;"Verify with Telegram"&lt;/b&gt; і слідуйте інструкціям, ви також отримаєте оновлення платформи через Telegram для вашої зручності.</Translation>
    <Translation Language="vi">Nếu bạn không nhận được mã xác minh SMS, vui lòng đảm bảo rằng số điện thoại di động của bạn được nhập chính xác. Ngoài ra, một số nhà mạng di động có thể chặn SMS được tạo tự động bằng máy tính hoặc áp dụng các bộ lọc thư rác nghiêm ngặt. Hãy liên hệ với nhà mạng di động của bạn để đảm bảo rằng bạn có thể nhận SMS từ nền tảng của chúng tôi.
Nếu sự cố vẫn tiếp diễn hoặc nếu bạn muốn một phương án thay thế, bạn có thể xác minh tài khoản của mình bằng Telegram. Bằng cách nhấp vào &lt;b class="telegram_faq_click green-link"&gt;"Xác minh bằng Telegram"&lt;/b&gt; và làm theo hướng dẫn, bạn cũng sẽ nhận được các cập nhật của nền tảng qua Telegram để thuận tiện cho bạn.</Translation>
  </Translations>
</Dictionary>