<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="431a550e-1611-4b32-ae78-78bacf8e1192" Alias="F.A.Q. Email Question 1" Level="3">
  <Info>
    <Parent>Email F.A.Q 1 Topic</Parent>
  </Info>
  <Translations>
    <Translation Language="en">How do I verify my email address? </Translation>
    <Translation Language="es">¿Cómo verifico mi dirección de correo electrónico?</Translation>
    <Translation Language="fr">Comment puis-je vérifier mon adresse e-mail ?</Translation>
    <Translation Language="he">איך אני מאמת את כתובת האימייל שלי?</Translation>
    <Translation Language="ms">Bagaimanakah saya mengesahkan alamat e-mel saya?</Translation>
    <Translation Language="pt">Como posso verificar o meu endereço de e-mail?</Translation>
    <Translation Language="ru">Как мне подтвердить свой адрес электронной почты?</Translation>
    <Translation Language="th">ฉันจะยืนยันที่อยู่อีเมลของฉันได้อย่างไร?</Translation>
    <Translation Language="uk">Як підтвердити мою адресу електронної пошти?</Translation>
    <Translation Language="vi">Làm thế nào để tôi xác minh địa chỉ email của mình?</Translation>
  </Translations>
</Dictionary>