<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a5154746-3617-4ed2-822f-c323562e55e4" Alias="F.A.Q. Phone Verification Question 5" Level="3">
  <Info>
    <Parent>Topic 5 Phone Verification</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Is Telegram verification as secure as SMS verification?</Translation>
    <Translation Language="es">¿Es la verificación a través de Telegram tan segura como la verificación por SMS?</Translation>
    <Translation Language="fr">La vérification via Telegram est-elle aussi sécurisée que la vérification par SMS ?</Translation>
    <Translation Language="he">האימות באמצעות Telegram הוא כמובן בטחוני כמו אימות באמצעות SMS?</Translation>
    <Translation Language="ms">Adakah pengesahan Telegram sama selamat seperti pengesahan SMS?</Translation>
    <Translation Language="pt">A verificação do Telegram é tão segura quanto a verificação por SMS?</Translation>
    <Translation Language="ru">Насколько безопасна проверка через Telegram по сравнению с проверкой по SMS?</Translation>
    <Translation Language="th">การยืนยันตัวตนผ่าน Telegram ปลอดภัยเท่ากับการยืนยันตัวตนผ่าน SMS หรือไม่?</Translation>
    <Translation Language="uk">Наскільки безпечна перевірка через Telegram у порівнянні з перевіркою через SMS?</Translation>
    <Translation Language="vi">Xác minh Telegram có an toàn như xác minh bằng SMS không?</Translation>
  </Translations>
</Dictionary>