<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d7634451-8d4b-42a1-aa4b-eeb586220c34" Alias="F.A.Q. Phone Verification Question 1" Level="3">
  <Info>
    <Parent>Topic 1 Phone Verification</Parent>
  </Info>
  <Translations>
    <Translation Language="en">What is the purpose of mobile verification?</Translation>
    <Translation Language="es">¿Cuál es el propósito de la verificación móvil?</Translation>
    <Translation Language="fr">Quel est l'objectif de la vérification mobile ?</Translation>
    <Translation Language="he">מהו מטרת אימות הטלפון הנייד?</Translation>
    <Translation Language="ms">Apakah tujuan pengesahan mudah alih?</Translation>
    <Translation Language="pt">Qual é a finalidade da verificação móvel?</Translation>
    <Translation Language="ru">Какова цель проверки мобильного телефона?</Translation>
    <Translation Language="th">การยืนยันผ่านมือถือมีวัตถุประสงค์อะไร?</Translation>
    <Translation Language="uk">Яка мета мобільної верифікації?</Translation>
    <Translation Language="vi">Mục đích của việc xác minh trên thiết bị di động là gì?</Translation>
  </Translations>
</Dictionary>