<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="aa94d508-9769-46e2-b276-1bff60ab69b1" Alias="F.A.Q. Phone Verification Answer 1" Level="3">
  <Info>
    <Parent>Topic 1 Phone Verification</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Mobile verification is a crucial step to ensure the security and integrity of your account on our platform. It helps us confirm that you are a legitimate user and provides an additional layer of protection for your account.</Translation>
    <Translation Language="es">La verificación móvil es un paso crucial para garantizar la seguridad y la integridad de su cuenta en nuestra plataforma. Nos ayuda a confirmar que usted es un usuario legítimo y proporciona una capa adicional de protección para su cuenta.</Translation>
    <Translation Language="fr">La vérification mobile est une étape cruciale pour garantir la sécurité et l'intégrité de votre compte sur notre plateforme. Elle nous aide à confirmer que vous êtes un utilisateur légitime et offre une couche supplémentaire de protection pour votre compte.</Translation>
    <Translation Language="he">האימות הנייד הוא שלב קריטי להבטחת ביטחון ותקינות החשבון שלך בפלטפורמה שלנו. הוא עוזר לנו לאמת כי אתה משתמש חוקי ומספק שכבת הגנה נוספת לחשבון שלך.</Translation>
    <Translation Language="ms">Pengesahan mudah alih ialah langkah penting untuk memastikan keselamatan dan integriti akaun anda di platform kami. Ia membantu kami mengesahkan bahawa anda ialah pengguna yang sah dan menyediakan lapisan perlindungan tambahan untuk akaun anda.</Translation>
    <Translation Language="pt">A verificação móvel é um passo crucial para garantir a segurança e a integridade da sua conta na nossa plataforma. Ela nos ajuda a confirmar que você é um usuário legítimo e oferece uma camada adicional de proteção para a sua conta.</Translation>
    <Translation Language="ru">Мобильная верификация - это важный шаг для обеспечения безопасности и целостности вашей учетной записи на нашей платформе. Она помогает нам подтвердить, что вы являетесь законным пользователем и обеспечивает дополнительный уровень защиты для вашей учетной записи.</Translation>
    <Translation Language="th">การยืนยันหมายเลขโทรศัพท์มือถือเป็นขั้นตอนสำคัญเพื่อให้มั่นใจในความปลอดภัยและความถูกต้องสมบูรณ์ของบัญชีของคุณบนแพลตฟอร์มของเรา โดยช่วยให้เรายืนยันได้ว่าคุณเป็นผู้ใช้ที่ถูกต้องตามกฎหมาย และเพิ่มชั้นการปกป้องเพิ่มเติมให้กับบัญชีของคุณ</Translation>
    <Translation Language="uk">Мобільна верифікація - це важливий крок для забезпечення безпеки та цілісності вашого облікового запису на нашій платформі. Вона допомагає нам підтвердити, що ви є законним користувачем і забезпечує додатковий рівень захисту для вашого облікового запису.</Translation>
    <Translation Language="vi">Xác minh số điện thoại là một bước quan trọng để đảm bảo tính bảo mật và toàn vẹn cho tài khoản của bạn trên nền tảng của chúng tôi. Việc này giúp chúng tôi xác nhận rằng bạn là người dùng hợp lệ và cung cấp thêm một lớp bảo vệ cho tài khoản của bạn.</Translation>
  </Translations>
</Dictionary>