<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9e6bc8ae-d962-4b79-baa5-660a51e64868" Alias="F.A.Q." Level="0">
  <Info />
  <Translations>
    <Translation Language="en">FREQUENTLY ASKED QUESTION (F.A.Q.)</Translation>
    <Translation Language="es">PREGUNTAS FRECUENTES (F.A.Q.)</Translation>
    <Translation Language="fr">QUESTIONS FRÉQUEMMENT POSÉES (F.A.Q.)</Translation>
    <Translation Language="he">שאלות נפוצות (F.A.Q.)</Translation>
    <Translation Language="ms">SOALAN LAZIM (S.L.)</Translation>
    <Translation Language="pt">PERGUNTAS FREQUENTES (F.A.Q.)</Translation>
    <Translation Language="ru">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ (F.A.Q.)</Translation>
    <Translation Language="th">คำถามที่พบบ่อย (F.A.Q.)</Translation>
    <Translation Language="uk">ЧАСТО ЗАДАВАНІ ПИТАННЯ (F.A.Q.)</Translation>
    <Translation Language="vi">CÂU HỎI THƯỜNG GẶP (F.A.Q.)</Translation>
  </Translations>
</Dictionary>