<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="36b4e44d-1148-4692-9716-e66eb2d5d654" Alias="Find game" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Find game or game studio (try roulette, book...)</Translation>
    <Translation Language="es">Encontrar juego o estudio de juegos (prueba ruleta, libro...)</Translation>
    <Translation Language="fr">Trouver un jeu ou un studio de jeu (essayez la roulette, le livre...)</Translation>
    <Translation Language="he">מצא משחק או אולפן משחקים (נסו רולטה, ספר...)</Translation>
    <Translation Language="ms">Cari permainan atau studio permainan (cuba rolet, buku...)</Translation>
    <Translation Language="pt">Encontrar jogo ou estúdio de jogos (experimente roleta, livro...)</Translation>
    <Translation Language="ru">Найти игру или игровую студию (попробуйте рулетку, книгу...)</Translation>
    <Translation Language="th">ค้นหาเกมหรือสตูดิโอเกม (ลองรูเล็ต, บุ๊ก...)</Translation>
    <Translation Language="uk">Знайти гру або ігрову студію (спробуйте рулетку, книгу...)</Translation>
    <Translation Language="vi">Tìm trò chơi hoặc studio trò chơi (thử roulette, book...)</Translation>
  </Translations>
</Dictionary>