<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a0687adb-fb31-47a9-ab4e-ac2a51904ec3" Alias="Find Out More" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Find Out More</Translation>
    <Translation Language="es">Saber más</Translation>
    <Translation Language="fr">En savoir plus</Translation>
    <Translation Language="he">גלה עוד</Translation>
    <Translation Language="ms">Ketahui Lebih Lanjut</Translation>
    <Translation Language="pt">Saiba mais</Translation>
    <Translation Language="ru">Узнать больше</Translation>
    <Translation Language="th">ค้นหาข้อมูลเพิ่มเติม</Translation>
    <Translation Language="uk">Дізнатися більше</Translation>
    <Translation Language="vi">Tìm hiểu thêm</Translation>
  </Translations>
</Dictionary>