<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cca032a8-58f9-4f05-87cd-b187969f078d" Alias="Footer - Live Chat Telegram" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Live&amp;nbsp;chat&amp;nbsp;by Telegram</Translation>
    <Translation Language="es">Chat&amp;nbsp;en&amp;nbsp;vivo&amp;nbsp;por Telegram</Translation>
    <Translation Language="fr">Chat&amp;nbsp;en&amp;nbsp;direct&amp;nbsp;via Telegram</Translation>
    <Translation Language="he">צ'אט דרך Telegram</Translation>
    <Translation Language="ms">Sembang&amp;nbsp;langsung&amp;nbsp;oleh Telegram</Translation>
    <Translation Language="pt">Chat&amp;nbsp;ao&amp;nbsp;vivo&amp;nbsp;via Telegram</Translation>
    <Translation Language="ru">Онлайн-чат&amp;nbsp;через Telegram</Translation>
    <Translation Language="th">แชท&amp;nbsp;สด&amp;nbsp;โดย Telegram</Translation>
    <Translation Language="uk">Онлайн-чат&amp;nbsp;через Telegram</Translation>
    <Translation Language="vi">Trò&amp;nbsp;chuyện&amp;nbsp;trực&amp;nbsp;tiếp&amp;nbsp;bằng Telegram</Translation>
  </Translations>
</Dictionary>