<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="71e29a74-9122-496c-aa2f-e89d75c04d8e" Alias="Footer - Customer Service" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Customer Service</Translation>
    <Translation Language="es">Servicio al Cliente</Translation>
    <Translation Language="fr">Service Clients</Translation>
    <Translation Language="he">שירות לקוחות</Translation>
    <Translation Language="ms">Perkhidmatan Pelanggan</Translation>
    <Translation Language="pt">Atendimento ao Cliente</Translation>
    <Translation Language="ru">Обслуживание клиентов</Translation>
    <Translation Language="th">ฝ่ายบริการลูกค้า</Translation>
    <Translation Language="uk">Обслуговування клієнтів</Translation>
    <Translation Language="vi">Dịch vụ khách hàng</Translation>
  </Translations>
</Dictionary>