<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="80b37a7e-b79b-4622-95ad-d8d72496a478" Alias="Game Page" Level="0">
  <Info />
  <Translations>
    <Translation Language="en"></Translation>
    <Translation Language="es"></Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="he"></Translation>
    <Translation Language="ru"></Translation>
    <Translation Language="uk"></Translation>
  </Translations>
</Dictionary>