<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ab053427-ac94-4627-a23c-e8690fc0ab37" Alias="Game" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Game</Translation>
    <Translation Language="es">Juego</Translation>
    <Translation Language="fr">Jeu</Translation>
    <Translation Language="he">משחק</Translation>
    <Translation Language="ms">Permainan</Translation>
    <Translation Language="pt">Jogo</Translation>
    <Translation Language="ru">Игра</Translation>
    <Translation Language="th">เกม</Translation>
    <Translation Language="uk">Гра</Translation>
    <Translation Language="vi">Trò chơi</Translation>
  </Translations>
</Dictionary>