<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="56b2ebb5-0dfa-42b9-a8c3-7f60e5db6706" Alias="Game Studios" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">👾Game Studios</Translation>
    <Translation Language="es">👾Estudios de Juegos</Translation>
    <Translation Language="fr">👾Studios de Jeux</Translation>
    <Translation Language="he">👾אולפני משחקים</Translation>
    <Translation Language="ms">👾Studio Permainan</Translation>
    <Translation Language="pt">👾Estúdios de Jogos</Translation>
    <Translation Language="ru">👾Игровые студии</Translation>
    <Translation Language="th">👾สตูดิโอเกม</Translation>
    <Translation Language="uk">👾Ігрові студії</Translation>
    <Translation Language="vi">👾Studio Trò chơi</Translation>
  </Translations>
</Dictionary>