<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f103b88a-b7ca-4f9b-986e-e7dc783a1e80" Alias="Game Description Footer" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Game Description Footer</Translation>
    <Translation Language="es">Game Description Footer</Translation>
    <Translation Language="fr">Game Description Footer</Translation>
    <Translation Language="he">Game Description Footer</Translation>
    <Translation Language="ms">Game Description Footer</Translation>
    <Translation Language="pt">Game Description Footer</Translation>
    <Translation Language="ru">Game Description Footer</Translation>
    <Translation Language="th">Game Description Footer</Translation>
    <Translation Language="uk">Game Description Footer</Translation>
    <Translation Language="vi">Game Description Footer</Translation>
  </Translations>
</Dictionary>