<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="349942a2-40e4-49ca-967e-a493c8fc0b1b" Alias="GET 150% EXTRA COINS" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">GET 150% EXTRA COINS</Translation>
    <Translation Language="es">OBTÉN UN 150% DE MONEDAS EXTRA</Translation>
    <Translation Language="fr">OBTENEZ 150 % DE PIÈCES EN PLUS</Translation>
    <Translation Language="he">קבלו 150% מטבעות נוספים</Translation>
    <Translation Language="ms">DAPATKAN 150% SYILING TAMBAHAN</Translation>
    <Translation Language="pt">GANHE 150% DE MOEDAS EXTRA</Translation>
    <Translation Language="ru">ПОЛУЧИТЕ НА 150% БОЛЬШЕ МОНЕТ</Translation>
    <Translation Language="th">รับเหรียญเพิ่มอีก 150%</Translation>
    <Translation Language="uk">ОТРИМАЙТЕ 150% ДОДАТКОВИХ МОНЕТ</Translation>
    <Translation Language="vi">NHẬN THÊM 150% XU</Translation>
  </Translations>
</Dictionary>