<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="223238d8-c787-4cbb-a6b9-1cbe7940c5b1" Alias="GET BONUS" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">GET BONUS</Translation>
    <Translation Language="es">OBTENER BONIFICACIÓN</Translation>
    <Translation Language="fr">OBTENIR UN BONUS</Translation>
    <Translation Language="he">קבל בונוס</Translation>
    <Translation Language="ms">DAPATKAN BONUS</Translation>
    <Translation Language="pt">RECEBER BÔNUS</Translation>
    <Translation Language="ru">ПОЛУЧИТЬ БОНУС</Translation>
    <Translation Language="th">รับโบนัส</Translation>
    <Translation Language="uk">ОТРИМАТИ БОНУС</Translation>
    <Translation Language="vi">NHẬN THƯỞNG</Translation>
  </Translations>
</Dictionary>