<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0f9b09f9-720a-456b-b7e7-0eb01c628598" Alias="Get Ready to Love Our Bonuses" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Get Ready to Love Our Bonuses.</Translation>
    <Translation Language="es">Prepárate para amar nuestros bonos.</Translation>
    <Translation Language="fr">Préparez-vous à adorer nos bonus.</Translation>
    <Translation Language="he">התכונן להתאהב בבונוסים שלנו</Translation>
    <Translation Language="ms">Bersedia untuk Menyukai Bonus Kami.</Translation>
    <Translation Language="pt">Prepare-se para adorar os nossos bônus.</Translation>
    <Translation Language="ru">Приготовьтесь полюбить наши бонусы.</Translation>
    <Translation Language="th">เตรียมพร้อมที่จะรักโบนัสของเรา</Translation>
    <Translation Language="uk">Приготуйтеcя полюбити наші бонуси.</Translation>
    <Translation Language="vi">Sẵn sàng yêu các phần thưởng của chúng tôi.</Translation>
  </Translations>
</Dictionary>