<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cc37188e-6c6c-4fba-b361-4ee7412fa980" Alias="Gift popup" Level="0">
  <Info />
  <Translations>
    <Translation Language="en"></Translation>
    <Translation Language="es"></Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="he"></Translation>
    <Translation Language="ru"></Translation>
    <Translation Language="uk"></Translation>
  </Translations>
</Dictionary>