<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cdda418b-c630-42d7-ae7f-ac9192abd52f" Alias="Give your friends a free ticket. Get a free ticket when they play." Level="1">
  <Info>
    <Parent>Promotions Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Give your friends a {0} signup bonus. Get {0} in play money.</Translation>
    <Translation Language="es">Dale a tus amigos un bono de registro de {0}. Consigue {0} en dinero de juego.</Translation>
    <Translation Language="fr">Offrez à vos amis un bonus d'inscription de {0}. Recevez {0} en argent de jeu.</Translation>
    <Translation Language="he">תן לחברים שלך בונוס הרשמה של {0}. קבל {0} בכסף למשחק.</Translation>
    <Translation Language="ms">Berikan rakan anda bonus pendaftaran {0}. Dapatkan {0} dalam wang permainan.</Translation>
    <Translation Language="pt">Dê aos seus amigos um bônus de inscrição de {0}. Receba {0} em dinheiro de jogo.</Translation>
    <Translation Language="ru">Подарите своим друзьям бонус за регистрацию в размере {0}. Получите {0} игровых денег.</Translation>
    <Translation Language="th">มอบโบนัสสมัครสมาชิก {0} ให้เพื่อนของคุณ รับเงินสำหรับเล่น {0}</Translation>
    <Translation Language="uk">Дайте своїм друзям бонус за реєстрацію {0}. Отримайте {0} у грошах для гри.</Translation>
    <Translation Language="vi">Tặng bạn bè của bạn {0} tiền thưởng khi đăng ký. Nhận {0} tiền chơi.</Translation>
  </Translations>
</Dictionary>