<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f6841698-5581-4efc-b906-2ae07477a77e" Alias="Got it!" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Got it!</Translation>
    <Translation Language="es">¡Entendido!</Translation>
    <Translation Language="fr">Compris !`</Translation>
    <Translation Language="he">הבנתי!</Translation>
    <Translation Language="ms">Faham!</Translation>
    <Translation Language="pt">Entendido!</Translation>
    <Translation Language="ru">Понял!</Translation>
    <Translation Language="th">เข้าใจแล้ว!</Translation>
    <Translation Language="uk">Зрозуміло!</Translation>
    <Translation Language="vi">Đã hiểu!</Translation>
  </Translations>
</Dictionary>