<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2f103c5f-562d-499a-82a7-51aa9c15b3c7" Alias="h ago" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">h</Translation>
    <Translation Language="es">h</Translation>
    <Translation Language="fr">h</Translation>
    <Translation Language="he">ש</Translation>
    <Translation Language="ms">h</Translation>
    <Translation Language="pt">h</Translation>
    <Translation Language="ru">ч</Translation>
    <Translation Language="th">h</Translation>
    <Translation Language="uk">ч</Translation>
    <Translation Language="vi">h</Translation>
  </Translations>
</Dictionary>