<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0579013a-79db-4d9e-bc43-fec12f3acc84" Alias="Header - Menu - Login" Level="2">
  <Info>
    <Parent>Header - Menu</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Login</Translation>
    <Translation Language="es">Iniciar sesión</Translation>
    <Translation Language="fr">Connexion</Translation>
    <Translation Language="he">התחברות</Translation>
    <Translation Language="ms">Log masuk</Translation>
    <Translation Language="pt">Iniciar sessão</Translation>
    <Translation Language="ru">Войти</Translation>
    <Translation Language="th">เข้าสู่ระบบ</Translation>
    <Translation Language="uk">Увійти</Translation>
    <Translation Language="vi">Đăng nhập</Translation>
  </Translations>
</Dictionary>