<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="dac3aa25-ce9d-4e25-ac4e-50f0ad4b63a6" Alias="Header - User - Sign Out" Level="2">
  <Info>
    <Parent>Header - User</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Sign Out</Translation>
    <Translation Language="es">Desconectar</Translation>
    <Translation Language="fr">Se déconnecter</Translation>
    <Translation Language="he">התנתק</Translation>
    <Translation Language="ms">Log Keluar</Translation>
    <Translation Language="pt">Sair</Translation>
    <Translation Language="ru">Выйти</Translation>
    <Translation Language="th">ออกจากระบบ</Translation>
    <Translation Language="uk">Вийти</Translation>
    <Translation Language="vi">Đăng xuất</Translation>
  </Translations>
</Dictionary>