<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0fe15749-35bd-4495-ae39-221bb294fc92" Alias="Header - User - Your Balance" Level="2">
  <Info>
    <Parent>Header - User</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Your balance:</Translation>
    <Translation Language="es">Tu balance:</Translation>
    <Translation Language="fr">Votre solde:</Translation>
    <Translation Language="he">היתרה שלך:</Translation>
    <Translation Language="ms">Baki anda:</Translation>
    <Translation Language="pt">O seu saldo:</Translation>
    <Translation Language="ru">Ваш баланс:</Translation>
    <Translation Language="th">ยอดคงเหลือของคุณ:</Translation>
    <Translation Language="uk">Ваш баланс:</Translation>
    <Translation Language="vi">Số dư của bạn:</Translation>
  </Translations>
</Dictionary>