<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e41af20d-1225-4f1a-b749-389e42705837" Alias="Home Page - Get Free Spins - Collect Bonus" Level="2">
  <Info>
    <Parent>Home Page - Get Free Spins</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Collect Bonus</Translation>
    <Translation Language="es">Recoger bono</Translation>
    <Translation Language="fr">Récupérer le bonus</Translation>
    <Translation Language="he">אסוף בונוס</Translation>
    <Translation Language="ms">Kutip Bonus</Translation>
    <Translation Language="pt">Coletar Bônus</Translation>
    <Translation Language="ru">Получить бонус</Translation>
    <Translation Language="th">รับโบนัส</Translation>
    <Translation Language="uk">Отримати бонус</Translation>
    <Translation Language="vi">Thu thập Thưởng Bonus</Translation>
  </Translations>
</Dictionary>