<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8c9d86c3-f0ea-4d70-84fa-3abadb59cb9d" Alias="Home Page - Get Free Spins - Purchase 50+ Coins" Level="2">
  <Info>
    <Parent>Home Page - Get Free Spins</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Purchase 50+ Coins</Translation>
    <Translation Language="es">Compra 50+ monedas</Translation>
    <Translation Language="fr">Achetez 50+ pièces</Translation>
    <Translation Language="he">רכוש 50+ מטבעות</Translation>
    <Translation Language="ms">Beli 50+ Syiling</Translation>
    <Translation Language="pt">Compre 50+ Moedas</Translation>
    <Translation Language="ru">Купите 50+ монет</Translation>
    <Translation Language="th">ซื้อเหรียญ 50+ เหรียญ</Translation>
    <Translation Language="uk">Купіть 50+ монет</Translation>
    <Translation Language="vi">Mua 50+ Xu</Translation>
  </Translations>
</Dictionary>