<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="03e54285-34cf-4c0e-8b48-99d44a07cfd0" Alias="Home Page - Get Free Spins - Slot machine" Level="2">
  <Info>
    <Parent>Home Page - Get Free Spins</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Slot machine</Translation>
    <Translation Language="es">Máquina tragamonedas</Translation>
    <Translation Language="fr">Machine à sous</Translation>
    <Translation Language="he">מכונת מזל</Translation>
    <Translation Language="ms">Mesin slot</Translation>
    <Translation Language="pt">Caça-níqueis</Translation>
    <Translation Language="ru">Игровой автомат</Translation>
    <Translation Language="th">สล็อตแมชชีน</Translation>
    <Translation Language="uk">Ігровий автомат</Translation>
    <Translation Language="vi">Máy đánh bạc</Translation>
  </Translations>
</Dictionary>