<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5d4502f0-a37a-47b1-b53e-1215320ef6dc" Alias="Home Page - Get Free Spins - Get 3 Bonus Spins!" Level="2">
  <Info>
    <Parent>Home Page - Get Free Spins</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Get 100 extra Coins!</Translation>
    <Translation Language="es">¡Obtén 100 monedas extra!</Translation>
    <Translation Language="fr">Obtenez 100 pièces supplémentaires !</Translation>
    <Translation Language="he">קבל 100 מטבעות נוספים!</Translation>
    <Translation Language="ms">Dapatkan 100 Syiling tambahan!</Translation>
    <Translation Language="pt">Ganhe 100 Moedas extra!</Translation>
    <Translation Language="ru">Получите 100 дополнительных монет!</Translation>
    <Translation Language="th">รับเหรียญพิเศษ 100 เหรียญ!</Translation>
    <Translation Language="uk">Отримайте 100 додаткових монет!</Translation>
    <Translation Language="vi">Nhận 100 xu bổ sung!</Translation>
  </Translations>
</Dictionary>