<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="868eeca2-676c-4502-9900-4872fca1a459" Alias="Home Page - Get Free Spins - On All Slot Games!" Level="2">
  <Info>
    <Parent>Home Page - Get Free Spins</Parent>
  </Info>
  <Translations>
    <Translation Language="en">For All Slot Games</Translation>
    <Translation Language="es">Para todos los juegos de tragamonedas</Translation>
    <Translation Language="fr">Pour tous les jeux de machines à sous</Translation>
    <Translation Language="he">לכל משחקי הסלוטים</Translation>
    <Translation Language="ms">Untuk Semua Permainan Slot</Translation>
    <Translation Language="pt">Para Todos os Jogos de Slots</Translation>
    <Translation Language="ru">Для всех слот-игр</Translation>
    <Translation Language="th">สำหรับเกมสล็อตทั้งหมด</Translation>
    <Translation Language="uk">Для всіх слот-ігор</Translation>
    <Translation Language="vi">Dành cho tất cả trò chơi slot</Translation>
  </Translations>
</Dictionary>