<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bd4d610e-fffc-4293-b410-1508bb579336" Alias="How it works?" Level="1">
  <Info>
    <Parent>Account Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">How it works?</Translation>
    <Translation Language="es">¿Cómo funciona?</Translation>
    <Translation Language="fr">Comment ça fonctionne?</Translation>
    <Translation Language="he">איך זה עובד?</Translation>
    <Translation Language="ms">Bagaimana ia berfungsi?</Translation>
    <Translation Language="pt">Como funciona?</Translation>
    <Translation Language="ru">Как это работает?</Translation>
    <Translation Language="th">ทำงานอย่างไร?</Translation>
    <Translation Language="uk">Як це працює?</Translation>
    <Translation Language="vi">Cách thức hoạt động như thế nào?</Translation>
  </Translations>
</Dictionary>