<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="005ad955-785d-4249-baac-a2fe49e87737" Alias="How many coins would you like to purchase?" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">How many coins would you like to purchase?</Translation>
    <Translation Language="es">How many coins would you like to purchase?</Translation>
    <Translation Language="fr">How many coins would you like to purchase?</Translation>
    <Translation Language="he">How many coins would you like to purchase?</Translation>
    <Translation Language="ms">How many coins would you like to purchase?</Translation>
    <Translation Language="pt">How many coins would you like to purchase?</Translation>
    <Translation Language="ru">How many coins would you like to purchase?</Translation>
    <Translation Language="th">How many coins would you like to purchase?</Translation>
    <Translation Language="uk">How many coins would you like to purchase?</Translation>
    <Translation Language="vi">How many coins would you like to purchase?</Translation>
  </Translations>
</Dictionary>