<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="68b494d7-05c3-48c7-b830-9f52754c34eb" Alias="How it works URL (account)" Level="1">
  <Info>
    <Parent>Account Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">/blog/en/page/affiliate </Translation>
    <Translation Language="es">/blog/es/page/affiliate</Translation>
    <Translation Language="fr">/blog/fr/page/affiliate</Translation>
    <Translation Language="he">/blog/he/page/affiliate</Translation>
    <Translation Language="ms">/blog/ms/page/affiliate</Translation>
    <Translation Language="pt">/blog/pt/page/affiliate</Translation>
    <Translation Language="ru">/blog/ru/page/affiliate</Translation>
    <Translation Language="th">/blog/en/page/affiliate</Translation>
    <Translation Language="uk">/blog/uk/page/affiliate</Translation>
    <Translation Language="vi">/blog/en/page/affiliate</Translation>
  </Translations>
</Dictionary>