<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="944bd607-d774-4cc6-8bb5-2bcf84a6ffd4" Alias="How to Play" Level="1">
  <Info>
    <Parent>Game Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">How to Play</Translation>
    <Translation Language="es">Cómo jugar</Translation>
    <Translation Language="fr">Comment jouer</Translation>
    <Translation Language="he">איך משחקים</Translation>
    <Translation Language="ms">Cara Bermain</Translation>
    <Translation Language="pt">Como Jogar</Translation>
    <Translation Language="ru">Как играть</Translation>
    <Translation Language="th">วิธีเล่น</Translation>
    <Translation Language="uk">Як грати</Translation>
    <Translation Language="vi">Cách chơi</Translation>
  </Translations>
</Dictionary>