<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="43f85534-38d9-4b6c-8947-a51d3d1e9bed" Alias="I authorize you to charge a random amount between $1 and $2." Level="2">
  <Info>
    <Parent>Page 2</Parent>
  </Info>
  <Translations>
    <Translation Language="en">I authorize you to charge a random amount between $1 and $2.</Translation>
    <Translation Language="es">Autorizo a cargar un importe aleatorio entre 1 $ y 2 $.</Translation>
    <Translation Language="fr">J'autorise le débit d'un montant aléatoire entre 1 $ et 2 $.</Translation>
    <Translation Language="he">אני מאשר לך לחייב סכום אקראי בין 1$ ל-2$.</Translation>
    <Translation Language="ms">Saya memberi kebenaran kepada anda untuk mengenakan caj jumlah rawak antara $1 dan $2.</Translation>
    <Translation Language="pt">Autorizo você a cobrar um valor aleatório entre US$1 e US$2.</Translation>
    <Translation Language="ru">С вашего счета будет списана случайная сумма от 1 до 2 долларов.</Translation>
    <Translation Language="th">ฉันอนุญาตให้คุณเรียกเก็บเงินเป็นจำนวนเงินแบบสุ่มระหว่าง $1 และ $2.</Translation>
    <Translation Language="uk">Я надаю дозвіл на стягнення випадкової суми від 1 до 2 доларів.</Translation>
    <Translation Language="vi">Tôi ủy quyền cho bạn tính phí một số tiền ngẫu nhiên trong khoảng từ $1 đến $2.</Translation>
  </Translations>
</Dictionary>