<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="df75f862-33e7-458c-9c9d-4cb16f96362a" Alias="I was charged" Level="2">
  <Info>
    <Parent>Page 3</Parent>
  </Info>
  <Translations>
    <Translation Language="en">I was charged:</Translation>
    <Translation Language="es">Me han cobrado:</Translation>
    <Translation Language="fr">J'ai été débité:</Translation>
    <Translation Language="he">חוֹיְבְתִּי:</Translation>
    <Translation Language="ms">Saya telah dicaj:</Translation>
    <Translation Language="pt">Fui cobrado:</Translation>
    <Translation Language="ru">Мне было начислено:</Translation>
    <Translation Language="th">ฉันถูกเรียกเก็บเงิน:</Translation>
    <Translation Language="uk">Мені стягнули:</Translation>
    <Translation Language="vi">Tôi đã bị tính phí:</Translation>
  </Translations>
</Dictionary>