<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ca7e0cab-367e-41ef-90f0-c41babd0352f" Alias="Idenity Verification" Level="2">
  <Info>
    <Parent>Page 1</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Idenity Verification</Translation>
    <Translation Language="es">Verificación de identidad</Translation>
    <Translation Language="fr">Vérification d'identité</Translation>
    <Translation Language="he">אימות זהות</Translation>
    <Translation Language="ms">Pengesahan Identiti</Translation>
    <Translation Language="pt">Verificação de identidade</Translation>
    <Translation Language="ru">Проверка личности</Translation>
    <Translation Language="th">การยืนยันตัวตน</Translation>
    <Translation Language="uk">Перевірка особистості</Translation>
    <Translation Language="vi">Xác minh danh tính</Translation>
  </Translations>
</Dictionary>