<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5bc3a3b1-ab95-4070-88f6-fec00f2e89b2" Alias="Identity Verification Page" Level="0">
  <Info />
  <Translations>
    <Translation Language="en"></Translation>
    <Translation Language="es"></Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="he"></Translation>
    <Translation Language="ru"></Translation>
    <Translation Language="uk"></Translation>
  </Translations>
</Dictionary>