<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ec079ecc-81e8-4cd3-8c6f-ee9ab6e71215" Alias="If you select wrong" Level="1">
  <Info>
    <Parent>Withdraw Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">&lt;span&gt;If you select wrong method, &lt;a href="/withdraw"&gt;Return&lt;/a&gt; and select another method.&lt;/span&gt;</Translation>
    <Translation Language="es">&lt;span&gt;Si selecciona un método incorrecto, &lt;a href="/sp/withdraw"&gt;Regrese&lt;/a&gt; y seleccione otro método.&lt;/span&gt;</Translation>
    <Translation Language="fr">&lt;span&gt;Si vous sélectionnez une mauvaise méthode, &lt;a href="/fr/withdraw"&gt;Retour&lt;/a&gt; et sélectionnez une autre méthode.&lt;/span&gt;</Translation>
    <Translation Language="he">&lt;span&gt;אם בחרת בשיטה שגויה, &lt;a href="/he/withdraw"&gt;החזר&lt;/a&gt; ובחר בשיטה אחרת.&lt;/span&gt;</Translation>
    <Translation Language="ms">&lt;span&gt;Jika anda memilih kaedah yang salah, &lt;a href="/withdraw"&gt;Kembali&lt;/a&gt; dan pilih kaedah lain.&lt;/span&gt;</Translation>
    <Translation Language="pt">&lt;span&gt;Se selecionar o método errado, &lt;a href="/withdraw"&gt;Voltar&lt;/a&gt; e selecione outro método.&lt;/span&gt;</Translation>
    <Translation Language="ru">&lt;span&gt;Если вы выбрали неверный метод, &lt;a href="/ru/withdraw"&gt;вернитесь&lt;/a&gt; и выберите другой метод.&lt;/span&gt;</Translation>
    <Translation Language="th">&lt;span&gt;หากคุณเลือกวิธีการผิด &lt;a href="/withdraw"&gt;กลับ&lt;/a&gt; และเลือกวิธีการอื่น&lt;/span&gt;</Translation>
    <Translation Language="uk">&lt;span&gt;Якщо ви вибрали неправильний метод, &lt;a href="/uk/withdraw"&gt;поверніться&lt;/a&gt; та виберіть інший метод.&lt;/span&gt;</Translation>
    <Translation Language="vi">&lt;span&gt;Nếu bạn chọn sai phương thức, &lt;a href="/withdraw"&gt;Quay lại&lt;/a&gt; và chọn phương thức khác.&lt;/span&gt;</Translation>
  </Translations>
</Dictionary>