<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4ab1c8a0-62ba-417a-a4f6-0cf18168e0cf" Alias="Image can't be smaller than 200x200 pixels" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Image can't be smaller than 200x200 pixels</Translation>
    <Translation Language="es">Image can't be smaller than 200x200 pixels</Translation>
    <Translation Language="fr">Image can't be smaller than 200x200 pixels</Translation>
    <Translation Language="he">Image can't be smaller than 200x200 pixels</Translation>
    <Translation Language="ms">Image can't be smaller than 200x200 pixels</Translation>
    <Translation Language="pt">Image can't be smaller than 200x200 pixels</Translation>
    <Translation Language="ru">Image can't be smaller than 200x200 pixels</Translation>
    <Translation Language="th">Image can't be smaller than 200x200 pixels</Translation>
    <Translation Language="uk">Image can't be smaller than 200x200 pixels</Translation>
    <Translation Language="vi">Image can't be smaller than 200x200 pixels</Translation>
  </Translations>
</Dictionary>