<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1e96c3bd-c1f2-423d-8cfb-55ca3162c1ee" Alias="Image can't be smaller than 200x200 pixels or can't be larger than 5000x5000 pixels" Level="2">
  <Info>
    <Parent>Page 2</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Image can't be smaller than 200x200 pixels or can't be larger than 2400x2400 pixels</Translation>
    <Translation Language="es">"La imagen no puede ser más pequeña que 200x200 píxeles ni más grande que 2400x2400 píxeles</Translation>
    <Translation Language="fr">L'image ne peut pas être plus petite que 200x200 pixels ou plus grande que 2400x2400 pixels.</Translation>
    <Translation Language="he">התמונה לא יכולה להיות קטנה מ-200x200 פיקסלים או גדולה מ-2400x2400פיקסלים.</Translation>
    <Translation Language="ms">Imej tidak boleh lebih kecil daripada 200x200 piksel atau lebih besar daripada 2400x2400 piksel</Translation>
    <Translation Language="pt">A imagem não pode ser menor que 200x200 pixels nem maior que 2400x2400 pixels</Translation>
    <Translation Language="ru">Изображение не может быть меньше 200x200 пикселей или больше 2400x2400 пикселей</Translation>
    <Translation Language="th">รูปภาพต้องมีขนาดไม่เล็กกว่า 200x200 พิกเซล หรือไม่ใหญ่กว่า 2400x2400 พิกเซล</Translation>
    <Translation Language="uk">Зображення не може бути меншим за 200x200 пікселів або більшим за 2400x2400 пікселів</Translation>
    <Translation Language="vi">Hình ảnh không được nhỏ hơn 200x200 pixel hoặc không được lớn hơn 2400x2400 pixel</Translation>
  </Translations>
</Dictionary>