<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e4303980-7705-4686-9a4b-4c97921cc537" Alias="Input your email address" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Input your email address</Translation>
    <Translation Language="es">Input your email address</Translation>
    <Translation Language="fr">Input your email address</Translation>
    <Translation Language="he">Input your email address</Translation>
    <Translation Language="ms">Input your email address</Translation>
    <Translation Language="pt">Input your email address</Translation>
    <Translation Language="ru">Input your email address</Translation>
    <Translation Language="th">Input your email address</Translation>
    <Translation Language="uk">Input your email address</Translation>
    <Translation Language="vi">Input your email address</Translation>
  </Translations>
</Dictionary>