<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="27a12bfb-be80-4e69-bc39-23318f9de6bb" Alias="Invalid username or password." Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Invalid username or password.</Translation>
    <Translation Language="es">Nombre de usuario o contraseña no válidos.</Translation>
    <Translation Language="fr">Nom d’utilisateur ou mot de passe invalide.</Translation>
    <Translation Language="he">שם משתמש או סיסמה לא חוקיים.</Translation>
    <Translation Language="ms">Nama pengguna atau kata laluan tidak sah.</Translation>
    <Translation Language="pt">Nome de usuário ou senha inválidos.</Translation>
    <Translation Language="ru">Неверное имя пользователя или пароль.</Translation>
    <Translation Language="th">ชื่อผู้ใช้หรือรหัสผ่านไม่ถูกต้อง</Translation>
    <Translation Language="uk">Неправильне ім’я користувача або пароль.</Translation>
    <Translation Language="vi">Tên người dùng hoặc mật khẩu không hợp lệ.</Translation>
  </Translations>
</Dictionary>