<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a0ede44d-76f3-46a2-b59a-a490a22ace2a" Alias="Invalid phone number" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Invalid phone number</Translation>
    <Translation Language="es">Invalid phone number</Translation>
    <Translation Language="fr">Invalid phone number</Translation>
    <Translation Language="he">Invalid phone number</Translation>
    <Translation Language="ms">Invalid phone number</Translation>
    <Translation Language="pt">Invalid phone number</Translation>
    <Translation Language="ru">Invalid phone number</Translation>
    <Translation Language="th">Invalid phone number</Translation>
    <Translation Language="uk">Invalid phone number</Translation>
    <Translation Language="vi">Invalid phone number</Translation>
  </Translations>
</Dictionary>