<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d961a0c0-0d45-46d2-8325-5e3d8642513c" Alias="Last Name" Level="2">
  <Info>
    <Parent>Personal information</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Last Name</Translation>
    <Translation Language="es">Apellido</Translation>
    <Translation Language="fr">Nom de famille</Translation>
    <Translation Language="he">שם משפחה</Translation>
    <Translation Language="ms">Nama Keluarga</Translation>
    <Translation Language="pt">Sobrenome</Translation>
    <Translation Language="ru">Фамилия</Translation>
    <Translation Language="th">นามสกุล</Translation>
    <Translation Language="uk">Прізвище</Translation>
    <Translation Language="vi">Họ</Translation>
  </Translations>
</Dictionary>