<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b92d04b3-af8e-4293-a458-ae8f5dd5b8ce" Alias="Latest Winners" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Latest Winners</Translation>
    <Translation Language="es">Últimos ganadores</Translation>
    <Translation Language="fr">Derniers gagnants</Translation>
    <Translation Language="he">המנצחים האחרונים</Translation>
    <Translation Language="ms">Pemenang Terkini</Translation>
    <Translation Language="pt">Últimos vencedores</Translation>
    <Translation Language="ru">Последние выигравшие</Translation>
    <Translation Language="th">ผู้ชนะล่าสุด</Translation>
    <Translation Language="uk">Останні переможці</Translation>
    <Translation Language="vi">Những người chiến thắng mới nhất</Translation>
  </Translations>
</Dictionary>