<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c8181d9d-6b08-4816-861f-1d85ee9b7e01" Alias="(Learn more)" Level="1">
  <Info>
    <Parent>Account Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">(Learn more)</Translation>
    <Translation Language="es">(Aprender más)</Translation>
    <Translation Language="fr">(En savoir plus)</Translation>
    <Translation Language="he">(למד עוד)</Translation>
    <Translation Language="ms">(Ketahui lebih lanjut)</Translation>
    <Translation Language="pt">(Saiba mais)</Translation>
    <Translation Language="ru">(Узнать больше)</Translation>
    <Translation Language="th">(เรียนรู้เพิ่มเติม)</Translation>
    <Translation Language="uk">(Дізнатися більше)</Translation>
    <Translation Language="vi">(Tìm hiểu thêm)</Translation>
  </Translations>
</Dictionary>