<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="59647629-331f-4fd0-8d51-f4161dbb27f6" Alias="Let's get started" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Let's get started</Translation>
    <Translation Language="es">¡Empecemos!</Translation>
    <Translation Language="fr">Commençons !</Translation>
    <Translation Language="he">בואו נתחיל!</Translation>
    <Translation Language="ms">Mari kita mulakan</Translation>
    <Translation Language="pt">Vamos começar</Translation>
    <Translation Language="ru">Начнём!</Translation>
    <Translation Language="th">มาเริ่มกันเลย</Translation>
    <Translation Language="uk">Почнімо!</Translation>
    <Translation Language="vi">Hãy bắt đầu thôi</Translation>
  </Translations>
</Dictionary>