<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c32e1435-a3de-45c2-a604-ba731f205b96" Alias="Limited time offer" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">LIMITED TIME OFFER</Translation>
    <Translation Language="es">OFERTA POR TIEMPO LIMITADO</Translation>
    <Translation Language="fr">OFFRE LIMITÉE DANS LE TEMPS</Translation>
    <Translation Language="he">הצעה לזמן מוגבל</Translation>
    <Translation Language="ms">TAWARAN MASA TERHAD</Translation>
    <Translation Language="pt">OFERTA POR TEMPO LIMITADO</Translation>
    <Translation Language="ru">ОГРАНИЧЕННОЕ ПО ВРЕМЕНИ ПРЕДЛОЖЕНИЕ</Translation>
    <Translation Language="th">ข้อเสนอจำกัดเวลา</Translation>
    <Translation Language="uk">ОБМЕЖЕНА ЧАСОМ ПРОПОЗИЦІЯ</Translation>
    <Translation Language="vi">ƯU ĐÃI TRONG THỜI GIAN CÓ HẠN</Translation>
  </Translations>
</Dictionary>