<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cc6b57dc-584e-49bc-bf6b-0e1bc26964f9" Alias="Login information" Level="1">
  <Info>
    <Parent>Personal Info Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Login information</Translation>
    <Translation Language="es">Información Entrar</Translation>
    <Translation Language="fr">Informations de connexion</Translation>
    <Translation Language="he">פרטי התחברות</Translation>
    <Translation Language="ms">Maklumat log masuk</Translation>
    <Translation Language="pt">Informações de login</Translation>
    <Translation Language="ru">Информация для входа</Translation>
    <Translation Language="th">ข้อมูลการเข้าสู่ระบบ</Translation>
    <Translation Language="uk">Інформація для входу</Translation>
    <Translation Language="vi">Thông tin đăng nhập</Translation>
  </Translations>
</Dictionary>