<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c30713d6-c5b1-4226-adfe-0d015636d480" Alias="Login to invite" Level="1">
  <Info>
    <Parent>Promotions Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Login to invite</Translation>
    <Translation Language="es">Iniciar sesión para invitar</Translation>
    <Translation Language="fr">Connexion pour inviter</Translation>
    <Translation Language="he">התחברות כדי להזמין</Translation>
    <Translation Language="ms">Log masuk untuk menjemput</Translation>
    <Translation Language="pt">Inicie sessão para convidar</Translation>
    <Translation Language="ru">Пригласить</Translation>
    <Translation Language="th">เข้าสู่ระบบเพื่อเชิญ</Translation>
    <Translation Language="uk">Увійдіть, щоб запросити</Translation>
    <Translation Language="vi">Đăng nhập để mời</Translation>
  </Translations>
</Dictionary>