<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3e315dbc-f32f-4028-bf30-aa4c31a3f0f9" Alias="Logo" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Logo</Translation>
    <Translation Language="es">Logo</Translation>
    <Translation Language="fr">Logo</Translation>
    <Translation Language="he">Logo</Translation>
    <Translation Language="ms">Logo</Translation>
    <Translation Language="pt">Logo</Translation>
    <Translation Language="ru">Logo</Translation>
    <Translation Language="th">Logo</Translation>
    <Translation Language="uk">Logo</Translation>
    <Translation Language="vi">Logo</Translation>
  </Translations>
</Dictionary>