<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="11bd9537-f46d-4498-8f57-bd830c045197" Alias="Main Features" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Main Features</Translation>
    <Translation Language="es">Main Features</Translation>
    <Translation Language="fr">Main Features</Translation>
    <Translation Language="he">Main Features</Translation>
    <Translation Language="ms">Main Features</Translation>
    <Translation Language="pt">Main Features</Translation>
    <Translation Language="ru">Main Features</Translation>
    <Translation Language="th">Main Features</Translation>
    <Translation Language="uk">Main Features</Translation>
    <Translation Language="vi">Main Features</Translation>
  </Translations>
</Dictionary>