<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="14b10107-59db-4809-8fe4-cd6f3fcff502" Alias="Minimum withdrawal amount" Level="1">
  <Info>
    <Parent>Withdraw Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Minimum withdrawal amount</Translation>
    <Translation Language="es">Monto mínimo de retiro</Translation>
    <Translation Language="fr">Montant minimum de retrait</Translation>
    <Translation Language="he">סכום משיכה מינימלי</Translation>
    <Translation Language="ms">Amaun pengeluaran minimum</Translation>
    <Translation Language="pt">Valor mínimo de levantamento</Translation>
    <Translation Language="ru">Минимальная сумма вывода</Translation>
    <Translation Language="th">จำนวนเงินถอนขั้นต่ำ</Translation>
    <Translation Language="uk">Мінімальна сума для зняття</Translation>
    <Translation Language="vi">Số tiền rút tối thiểu</Translation>
  </Translations>
</Dictionary>