<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="dde8db46-73ea-44a7-a12b-4bffc6eba852" Alias="Minimum deposit amount can't be less then 20" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">The minimum deposit amount is {0}. Please enter an amount of {0} or more.</Translation>
    <Translation Language="es">El monto mínimo de depósito es {0}. Por favor, ingrese un monto de {0} o más.</Translation>
    <Translation Language="fr">Le montant minimum du dépôt est de {0}. Veuillez entrer un montant de {0} ou plus.</Translation>
    <Translation Language="he">סכום ההפקדה המינימלי הוא {0}. אנא הזן סכום של {0} או יותר.</Translation>
    <Translation Language="ms">Jumlah deposit minimum ialah {0}. Sila masukkan jumlah sebanyak {0} atau lebih.</Translation>
    <Translation Language="pt">O valor mínimo de depósito é {0}. Introduza um valor de {0} ou superior.</Translation>
    <Translation Language="ru">Минимальная сумма депозита составляет {0}. Пожалуйста, введите сумму {0} или больше.</Translation>
    <Translation Language="th">จำนวนเงินฝากขั้นต่ำคือ {0} โปรดป้อนจำนวนเงิน {0} หรือมากกว่า</Translation>
    <Translation Language="uk">Мінімальна сума депозиту становить {0}. Будь ласка, введіть суму {0} або більше.</Translation>
    <Translation Language="vi">Số tiền nạp tối thiểu là {0}. Vui lòng nhập số tiền từ {0} trở lên.</Translation>
  </Translations>
</Dictionary>