<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2542d125-8b2c-43a4-a192-e7f540036c50" Alias="More Games By" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">More Games By {0}</Translation>
    <Translation Language="es">Más juegos de {0}</Translation>
    <Translation Language="fr">Plus de jeux de {0}</Translation>
    <Translation Language="he">עוד משחקים מאת {0}</Translation>
    <Translation Language="ms">Lebih Banyak Permainan Oleh {0}</Translation>
    <Translation Language="pt">Mais jogos de {0}</Translation>
    <Translation Language="ru">Другие игры от {0}</Translation>
    <Translation Language="th">เกมเพิ่มเติมโดย {0}</Translation>
    <Translation Language="uk">Інші ігри від {0}</Translation>
    <Translation Language="vi">Thêm trò chơi khác của {0}</Translation>
  </Translations>
</Dictionary>