<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e62eafb1-127e-424b-9152-564674e20d4b" Alias="Multiplayer" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Multiplayer</Translation>
    <Translation Language="es">Multiplicador</Translation>
    <Translation Language="fr">Multiplicateur</Translation>
    <Translation Language="he">מכפיל</Translation>
    <Translation Language="ms">Berbilang pemain</Translation>
    <Translation Language="pt">Multijogador</Translation>
    <Translation Language="ru">Множитель</Translation>
    <Translation Language="th">ผู้เล่นหลายคน</Translation>
    <Translation Language="uk">Множник</Translation>
    <Translation Language="vi">Nhiều người chơi</Translation>
  </Translations>
</Dictionary>