<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9edf206b-3d31-4491-b512-81b7dc505888" Alias="Name" Level="2">
  <Info>
    <Parent>Personal information</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Name</Translation>
    <Translation Language="es">Nombre</Translation>
    <Translation Language="fr">Nom</Translation>
    <Translation Language="he">שֵׁם</Translation>
    <Translation Language="ms">Nama</Translation>
    <Translation Language="pt">Nome</Translation>
    <Translation Language="ru">Имя</Translation>
    <Translation Language="th">ชื่อ</Translation>
    <Translation Language="uk">Ім'я</Translation>
    <Translation Language="vi">Tên</Translation>
  </Translations>
</Dictionary>