<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4047d68a-590d-4f05-af90-7b0f2b2f895a" Alias="Next" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Next</Translation>
    <Translation Language="es">Siguiente</Translation>
    <Translation Language="fr">Suivant</Translation>
    <Translation Language="he">הבא</Translation>
    <Translation Language="ms">Seterusnya</Translation>
    <Translation Language="pt">Seguinte</Translation>
    <Translation Language="ru">Вперед</Translation>
    <Translation Language="th">ถัดไป</Translation>
    <Translation Language="uk">Наступний</Translation>
    <Translation Language="vi">Tiếp theo</Translation>
  </Translations>
</Dictionary>