<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7046f517-e6bf-473c-a7d4-1bd49259c26c" Alias="Not Verified" Level="1">
  <Info>
    <Parent>Personal Info Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Not Verified</Translation>
    <Translation Language="es">No verificado</Translation>
    <Translation Language="fr">Non vérifié</Translation>
    <Translation Language="he">לא אומת</Translation>
    <Translation Language="ms">Belum Disahkan</Translation>
    <Translation Language="pt">Não verificado</Translation>
    <Translation Language="ru">Не подтверждено</Translation>
    <Translation Language="th">ยังไม่ได้รับการยืนยัน</Translation>
    <Translation Language="uk">Не підтверджено</Translation>
    <Translation Language="vi">Chưa được xác minh</Translation>
  </Translations>
</Dictionary>