<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c7c75a4b-ec7f-46bf-9462-9e4781783eff" Alias="Notify Me" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Notify Me</Translation>
    <Translation Language="es">Notificarme</Translation>
    <Translation Language="fr">Me notifier</Translation>
    <Translation Language="he">עדכנו אותי</Translation>
    <Translation Language="ms">Maklumkan Saya</Translation>
    <Translation Language="pt">Notifique-me</Translation>
    <Translation Language="ru">Сообщить мне</Translation>
    <Translation Language="th">Notify Me</Translation>
    <Translation Language="uk">Notify Me</Translation>
    <Translation Language="vi">Thông báo cho tôi</Translation>
  </Translations>
</Dictionary>