<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0fd2f967-c674-49da-9c92-ba28cacfab72" Alias="Number of attempts exceeded" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Number of attempts exceeded</Translation>
    <Translation Language="es">Número de intentos excedido</Translation>
    <Translation Language="fr">Nombre de tentatives dépassé</Translation>
    <Translation Language="he">חרגת ממספר הניסיונות המותר</Translation>
    <Translation Language="ms">Bilangan percubaan telah melebihi had</Translation>
    <Translation Language="pt">Número de tentativas excedido</Translation>
    <Translation Language="ru">Превышено количество попыток</Translation>
    <Translation Language="th">จำนวนครั้งที่พยายามเกินกำหนด</Translation>
    <Translation Language="uk">Перевищено кількість спроб</Translation>
    <Translation Language="vi">Số lần thử vượt quá giới hạn</Translation>
  </Translations>
</Dictionary>