<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bd214236-4063-4712-87a6-a865ce92aed6" Alias="Offer expire in" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Offer expire in</Translation>
    <Translation Language="es">La oferta expira en</Translation>
    <Translation Language="fr">L'offre expire dans</Translation>
    <Translation Language="he">ההצעה מסתיימת בעוד</Translation>
    <Translation Language="ms">Tawaran tamat tempoh pada</Translation>
    <Translation Language="pt">A oferta expira em</Translation>
    <Translation Language="ru">Предложение истекает через</Translation>
    <Translation Language="th">ข้อเสนอจะหมดอายุใน</Translation>
    <Translation Language="uk">Пропозиція закінчується через</Translation>
    <Translation Language="vi">Ưu đãi hết hạn vào</Translation>
  </Translations>
</Dictionary>