<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="25a533d6-a11f-43f4-8bbb-e1a919277128" Alias="ON YOUR FIRST PURCHASE" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">ON YOUR FIRST PURCHASE</Translation>
    <Translation Language="es">EN TU PRIMERA COMPRA</Translation>
    <Translation Language="fr">SUR VOTRE PREMIER ACHAT</Translation>
    <Translation Language="he">ברכישה הראשונה שלך</Translation>
    <Translation Language="ms">PADA PEMBELIAN PERTAMA ANDA</Translation>
    <Translation Language="pt">NA SUA PRIMEIRA COMPRA</Translation>
    <Translation Language="ru">НА ВАШУ ПЕРВУЮ ПОКУПКУ</Translation>
    <Translation Language="th">ในการสั่งซื้อครั้งแรกของคุณ</Translation>
    <Translation Language="uk">ПІД ЧАС ВАШОЇ ПЕРШОЇ ПОКУПКИ</Translation>
    <Translation Language="vi">TRÊN LẦN MUA HÀNG ĐẦU TIÊN CỦA BẠN</Translation>
  </Translations>
</Dictionary>