<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a46bde11-45d0-44a7-b262-592ca6831d58" Alias="Open Telegram" Level="2">
  <Info>
    <Parent>VPP - Page0</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Open Telegram</Translation>
    <Translation Language="es">Abrir Telegram</Translation>
    <Translation Language="fr">Ouvrir Telegram</Translation>
    <Translation Language="he">פתח את טלגרם</Translation>
    <Translation Language="ms">Buka Telegram</Translation>
    <Translation Language="pt">Abrir o Telegram</Translation>
    <Translation Language="ru">Открыть Телеграм</Translation>
    <Translation Language="th">เปิด Telegram</Translation>
    <Translation Language="uk">Відкрити Телеграм</Translation>
    <Translation Language="vi">Mở Telegram</Translation>
  </Translations>
</Dictionary>