<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0fe84846-d755-46fc-be8c-17e892cfcbb1" Alias="OR" Level="2">
  <Info>
    <Parent>VPP - Page0</Parent>
  </Info>
  <Translations>
    <Translation Language="en">OR</Translation>
    <Translation Language="es">O</Translation>
    <Translation Language="fr">OU</Translation>
    <Translation Language="he">או</Translation>
    <Translation Language="ms">ATAU</Translation>
    <Translation Language="pt">OU</Translation>
    <Translation Language="ru">ИЛИ</Translation>
    <Translation Language="th">หรือ</Translation>
    <Translation Language="uk">АБО</Translation>
    <Translation Language="vi">HOẶC</Translation>
  </Translations>
</Dictionary>