<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="16aef489-ae9b-403f-a1d1-5d467e0a4a69" Alias="Page" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Page</Translation>
    <Translation Language="es">Page</Translation>
    <Translation Language="fr">Page</Translation>
    <Translation Language="he">Page</Translation>
    <Translation Language="ms">Page</Translation>
    <Translation Language="pt">Page</Translation>
    <Translation Language="ru">Page</Translation>
    <Translation Language="th">Page</Translation>
    <Translation Language="uk">Page</Translation>
    <Translation Language="vi">Page</Translation>
  </Translations>
</Dictionary>