<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b6e9a068-3c2a-4841-b508-b28e5eb87b3e" Alias="Password changed" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Password changed</Translation>
    <Translation Language="es">Contraseña cambiada</Translation>
    <Translation Language="fr">Mot de passe modifié</Translation>
    <Translation Language="he">הסיסמה שונתה</Translation>
    <Translation Language="ms">Kata laluan ditukar</Translation>
    <Translation Language="pt">Senha alterada</Translation>
    <Translation Language="ru">Пароль изменён</Translation>
    <Translation Language="th">เปลี่ยนรหัสผ่านแล้ว</Translation>
    <Translation Language="uk">Пароль змінено</Translation>
    <Translation Language="vi">Mật khẩu đã được thay đổi</Translation>
  </Translations>
</Dictionary>