<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b537349f-bdd9-4ae5-a754-696767bc9d0d" Alias="Passwords must be at least 6 characters" Level="2">
  <Info>
    <Parent>Login information</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Passwords must be at least 6 characters</Translation>
    <Translation Language="es">Las contraseñas deben tener al menos 6 caracteres</Translation>
    <Translation Language="fr">Les mots de passe doivent comporter au moins 6 caractères</Translation>
    <Translation Language="he">סיסמאות חייבות להיות לפחות 6 תווים</Translation>
    <Translation Language="ms">Kata laluan mestilah sekurang-kurangnya 6 aksara</Translation>
    <Translation Language="pt">As palavras-passe devem ter pelo menos 6 caracteres</Translation>
    <Translation Language="ru">Пароли должны быть не менее 6 символов</Translation>
    <Translation Language="th">รหัสผ่านต้องมีความยาวอย่างน้อย 6 ตัวอักษร</Translation>
    <Translation Language="uk">Паролі мають бути не менше 6 символів</Translation>
    <Translation Language="vi">Mật khẩu phải có ít nhất 6 ký tự</Translation>
  </Translations>
</Dictionary>