<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3ae9d327-c4b1-4dc1-90a3-d6d8952f5cdd" Alias="Password" Level="2">
  <Info>
    <Parent>Login information</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Password</Translation>
    <Translation Language="es">Contraseña</Translation>
    <Translation Language="fr">Mot de passe</Translation>
    <Translation Language="he">סיסמה</Translation>
    <Translation Language="ms">Kata laluan</Translation>
    <Translation Language="pt">Palavra-passe</Translation>
    <Translation Language="ru">Пароль</Translation>
    <Translation Language="th">รหัสผ่าน</Translation>
    <Translation Language="uk">Пароль</Translation>
    <Translation Language="vi">Mật khẩu</Translation>
  </Translations>
</Dictionary>