<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1b83e66f-b84f-4c30-909b-34561799714c" Alias="Pay with Cryptocurrency" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Pay with Cryptocurrency</Translation>
    <Translation Language="es">Pague con criptomonedas</Translation>
    <Translation Language="fr">Payez avec des cryptomonnaies</Translation>
    <Translation Language="he">שלם באמצעות מטבעות קריפטוגרפיים</Translation>
    <Translation Language="ms">Bayar dengan Mata Wang Kripto</Translation>
    <Translation Language="pt">Pagar com criptomoeda</Translation>
    <Translation Language="ru">Оплатите с помощью криптовалюты</Translation>
    <Translation Language="th">ชำระเงินด้วยสกุลเงินดิจิทัล</Translation>
    <Translation Language="uk">Оплатіть за допомогою криптовалюти</Translation>
    <Translation Language="vi">Thanh toán bằng tiền mã hóa</Translation>
  </Translations>
</Dictionary>