<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d12ad652-7fea-497b-bcee-8fb42ce833d7" Alias="Pay with Credit or Debit Card" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Pay with Credit or Debit Card</Translation>
    <Translation Language="es">Pague con tarjeta de crédito o débito</Translation>
    <Translation Language="fr">Payez par carte de crédit ou de débit</Translation>
    <Translation Language="he">שלם באמצעות כרטיס אשראי או כרטיס חיוב</Translation>
    <Translation Language="ms">Bayar dengan Kad Kredit atau Kad Debit</Translation>
    <Translation Language="pt">Pague com Cartão de Crédito ou Débito</Translation>
    <Translation Language="ru">Оплатите кредитной или дебетовой картой</Translation>
    <Translation Language="th">ชำระเงินด้วยบัตรเครดิตหรือบัตรเดบิต</Translation>
    <Translation Language="uk">Оплатіть кредитною або дебетовою карткою</Translation>
    <Translation Language="vi">Thanh toán bằng Thẻ Tín dụng hoặc Thẻ Ghi nợ</Translation>
  </Translations>
</Dictionary>