<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="39a6e3c5-787b-4156-87bd-6f82154fd939" Alias="Pay" Level="1">
  <Info>
    <Parent>Deposit Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Pay</Translation>
    <Translation Language="es">Pagar</Translation>
    <Translation Language="fr">Payer</Translation>
    <Translation Language="he">שלם</Translation>
    <Translation Language="ms">Bayar</Translation>
    <Translation Language="pt">Pagar</Translation>
    <Translation Language="ru">Оплатить</Translation>
    <Translation Language="th">ชำระเงิน</Translation>
    <Translation Language="uk">Сплатити</Translation>
    <Translation Language="vi">Thanh toán</Translation>
  </Translations>
</Dictionary>