<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6e828ec2-4fee-4ca4-b609-0bde4d5a9f57" Alias="Payment Kind" Level="1">
  <Info>
    <Parent>Withdraw Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Payment Kind</Translation>
    <Translation Language="es">Tipo de pago</Translation>
    <Translation Language="fr">Type de paiement</Translation>
    <Translation Language="he">סוג תשלום</Translation>
    <Translation Language="ms">Jenis Pembayaran</Translation>
    <Translation Language="pt">Tipo de pagamento</Translation>
    <Translation Language="ru">Вид платежа</Translation>
    <Translation Language="th">ประเภทการชำระเงิน</Translation>
    <Translation Language="uk">Вид платежу</Translation>
    <Translation Language="vi">Loại thanh toán</Translation>
  </Translations>
</Dictionary>