<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7e4676b8-0c26-462f-ab16-87ca549a6f24" Alias="Payment haven't been found" Level="1">
  <Info>
    <Parent>Transactions errors</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Payment haven't been found</Translation>
    <Translation Language="es">El pago no ha sido encontrado</Translation>
    <Translation Language="fr">Le paiement n'a pas été trouvé</Translation>
    <Translation Language="he">התשלום לא נמצא</Translation>
    <Translation Language="ms">Pembayaran belum ditemui</Translation>
    <Translation Language="pt">O pagamento não foi encontrado</Translation>
    <Translation Language="ru">Платеж не найден</Translation>
    <Translation Language="th">ไม่พบการชำระเงิน</Translation>
    <Translation Language="uk">Платіж не знайдено</Translation>
    <Translation Language="vi">Không tìm thấy thanh toán</Translation>
  </Translations>
</Dictionary>