<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b4a61fe6-860b-4136-b841-620aa4f25ff4" Alias="Payment sum can't be bigger than 10000" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Payment sum can't be bigger than 10000</Translation>
    <Translation Language="es">Payment sum can't be bigger than 10000</Translation>
    <Translation Language="fr">Payment sum can't be bigger than 10000</Translation>
    <Translation Language="he">Payment sum can't be bigger than 10000</Translation>
    <Translation Language="ms">Payment sum can't be bigger than 10000</Translation>
    <Translation Language="pt">Payment sum can't be bigger than 10000</Translation>
    <Translation Language="ru">Payment sum can't be bigger than 10000</Translation>
    <Translation Language="th">Payment sum can't be bigger than 10000</Translation>
    <Translation Language="uk">Payment sum can't be bigger than 10000</Translation>
    <Translation Language="vi">Payment sum can't be bigger than 10000</Translation>
  </Translations>
</Dictionary>