<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="78d64135-9422-4602-9ab5-5a45405929d8" Alias="Payment sum can't be less than 0" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Payment sum can't be less than 0</Translation>
    <Translation Language="es">Payment sum can't be less than 0</Translation>
    <Translation Language="fr">Payment sum can't be less than 0</Translation>
    <Translation Language="he">Payment sum can't be less than 0</Translation>
    <Translation Language="ms">Payment sum can't be less than 0</Translation>
    <Translation Language="pt">Payment sum can't be less than 0</Translation>
    <Translation Language="ru">Payment sum can't be less than 0</Translation>
    <Translation Language="th">Payment sum can't be less than 0</Translation>
    <Translation Language="uk">Payment sum can't be less than 0</Translation>
    <Translation Language="vi">Payment sum can't be less than 0</Translation>
  </Translations>
</Dictionary>