<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c9d92cc6-b263-435a-84a2-e5a3419ed7c8" Alias="Pending Verification" Level="2">
  <Info>
    <Parent>Page 1</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Pending Verification</Translation>
    <Translation Language="es">Verificación pendiente</Translation>
    <Translation Language="fr">Vérification en attente</Translation>
    <Translation Language="he">אימות ממתין</Translation>
    <Translation Language="ms">Menunggu Pengesahan</Translation>
    <Translation Language="pt">Verificação pendente</Translation>
    <Translation Language="ru">Ожидание верификации</Translation>
    <Translation Language="th">รอการตรวจสอบ</Translation>
    <Translation Language="uk">Очікування верифікації</Translation>
    <Translation Language="vi">Đang chờ xác minh</Translation>
  </Translations>
</Dictionary>