<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3535de46-f679-47ec-9239-2ae6d9b33b4a" Alias="Personal information" Level="1">
  <Info>
    <Parent>Personal Info Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Personal information</Translation>
    <Translation Language="es">Informacion personal</Translation>
    <Translation Language="fr">Informations personnelles</Translation>
    <Translation Language="he">מידע אישי</Translation>
    <Translation Language="ms">Maklumat peribadi</Translation>
    <Translation Language="pt">Informações pessoais</Translation>
    <Translation Language="ru">Персональная информация</Translation>
    <Translation Language="th">ข้อมูลส่วนบุคคล</Translation>
    <Translation Language="uk">Персональна інформація</Translation>
    <Translation Language="vi">Thông tin cá nhân</Translation>
  </Translations>
</Dictionary>