<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e3068dbf-0fe6-4986-b8ed-548d11994cec" Alias="Phone was registered successfully" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Phone was registered successfully</Translation>
    <Translation Language="es">El teléfono se registró correctamente</Translation>
    <Translation Language="fr">Le téléphone a été enregistré avec succès</Translation>
    <Translation Language="he">הטלפון נרשם בהצלחה</Translation>
    <Translation Language="ms">Telefon berjaya didaftarkan</Translation>
    <Translation Language="pt">O telefone foi registado com sucesso</Translation>
    <Translation Language="ru">Телефон был успешно зарегистрирован</Translation>
    <Translation Language="th">ลงทะเบียนโทรศัพท์สำเร็จแล้ว</Translation>
    <Translation Language="uk">Телефон успішно зареєстровано</Translation>
    <Translation Language="vi">Số điện thoại đã được đăng ký thành công</Translation>
  </Translations>
</Dictionary>