<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c1408209-0fc6-45f9-923e-aabda55adfb9" Alias="Phone number" Level="2">
  <Info>
    <Parent>Personal information</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Phone number</Translation>
    <Translation Language="es">Número de teléfono</Translation>
    <Translation Language="fr">Numéro de téléphone</Translation>
    <Translation Language="he">מספר טלפון</Translation>
    <Translation Language="ms">Nombor telefon</Translation>
    <Translation Language="pt">Número de telefone</Translation>
    <Translation Language="ru">Номер телефона</Translation>
    <Translation Language="th">หมายเลขโทรศัพท์</Translation>
    <Translation Language="uk">Номер телефону</Translation>
    <Translation Language="vi">Số điện thoại</Translation>
  </Translations>
</Dictionary>