<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="90566b8b-edd2-43f4-b43a-2219e8fe0010" Alias="Photo id" Level="2">
  <Info>
    <Parent>Page 1</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Photo id</Translation>
    <Translation Language="es">Identificación con foto</Translation>
    <Translation Language="fr">Pièce d'identité avec photo</Translation>
    <Translation Language="he">תעודת זהות עם תמונה</Translation>
    <Translation Language="ms">ID foto</Translation>
    <Translation Language="pt">ID da foto</Translation>
    <Translation Language="ru">Фотография удостоверения личности</Translation>
    <Translation Language="th">รหัสรูปภาพ</Translation>
    <Translation Language="uk">Посвідчення особи з фотографією</Translation>
    <Translation Language="vi">ID ảnh</Translation>
  </Translations>
</Dictionary>