<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ed244956-af97-40d1-9f07-95b8b1134896" Alias="PHP - Historical Look" Level="1">
  <Info>
    <Parent>Played History Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Here’s a historical look at all your transactions. The most recent appears first on the list.</Translation>
    <Translation Language="es">Aquí hay una mirada histórica a todas sus transacciones. El más reciente aparece primero en la lista.</Translation>
    <Translation Language="fr">Voici un aperçu historique de toutes vos transactions. Le plus récent apparaît en premier sur la liste.</Translation>
    <Translation Language="he">הנה מבט היסטורי על כל העסקאות שלך. העדכני ביותר מופיע ראשון ברשימה.</Translation>
    <Translation Language="ms">Berikut ialah paparan sejarah semua transaksi anda. Yang paling terkini dipaparkan terlebih dahulu dalam senarai.</Translation>
    <Translation Language="pt">Aqui está uma visão histórica de todas as suas transações. A mais recente aparece primeiro na lista.</Translation>
    <Translation Language="ru">Вот исторический взгляд на все ваши транзакции. Самые последние появляются первыми в списке.</Translation>
    <Translation Language="th">นี่คือภาพรวมประวัติธุรกรรมทั้งหมดของคุณ โดยธุรกรรมล่าสุดจะแสดงเป็นรายการแรกในลิสต์</Translation>
    <Translation Language="uk">Ось історичний погляд на всі ваші транзакції. Найостанніші з'являються першими у списку.</Translation>
    <Translation Language="vi">Dưới đây là bản tổng quan lịch sử về tất cả các giao dịch của bạn. Giao dịch gần đây nhất sẽ xuất hiện đầu tiên trong danh sách.</Translation>
  </Translations>
</Dictionary>