<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="41cefd4a-1062-4bed-9919-677d0f8e6ccc" Alias="PHP - My Transaction" Level="1">
  <Info>
    <Parent>Played History Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">MY TRANSACTION</Translation>
    <Translation Language="es">MI TRANSACCIÓN</Translation>
    <Translation Language="fr">MA TRANSACTION</Translation>
    <Translation Language="he">העסקה שלי</Translation>
    <Translation Language="ms">TRANSAKSI SAYA</Translation>
    <Translation Language="pt">MINHA TRANSAÇÃO</Translation>
    <Translation Language="ru">Моя транзакция</Translation>
    <Translation Language="th">ธุรกรรมของฉัน</Translation>
    <Translation Language="uk">МОЯ ТРАНЗАКЦІЯ</Translation>
    <Translation Language="vi">GIAO DỊCH CỦA TÔI</Translation>
  </Translations>
</Dictionary>