<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0780e280-0a54-43a5-9be1-8b8e1d1e71d5" Alias="PHP - No Transaction History" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">PHP - No Transaction History</Translation>
    <Translation Language="es">PHP - No Transaction History</Translation>
    <Translation Language="fr">PHP - No Transaction History</Translation>
    <Translation Language="he">PHP - No Transaction History</Translation>
    <Translation Language="ms">PHP - No Transaction History</Translation>
    <Translation Language="pt">PHP - No Transaction History</Translation>
    <Translation Language="ru">PHP - No Transaction History</Translation>
    <Translation Language="th">PHP - No Transaction History</Translation>
    <Translation Language="uk">PHP - No Transaction History</Translation>
    <Translation Language="vi">PHP - No Transaction History</Translation>
  </Translations>
</Dictionary>