<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="acfd676f-8fd7-479b-b727-680ff5292dfe" Alias="Pick a game to play" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Pick a game to play</Translation>
    <Translation Language="es">Pick a game to play</Translation>
    <Translation Language="fr">Pick a game to play</Translation>
    <Translation Language="he">Pick a game to play</Translation>
    <Translation Language="ms">Pick a game to play</Translation>
    <Translation Language="pt">Pick a game to play</Translation>
    <Translation Language="ru">Pick a game to play</Translation>
    <Translation Language="th">Pick a game to play</Translation>
    <Translation Language="uk">Pick a game to play</Translation>
    <Translation Language="vi">Pick a game to play</Translation>
  </Translations>
</Dictionary>