<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ae78db1f-f046-4550-9f98-de74b2788484" Alias="Played History" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Played History</Translation>
    <Translation Language="es">Historial de partidas</Translation>
    <Translation Language="fr">Historique des parties jouées</Translation>
    <Translation Language="he">היסטוריית האזנה</Translation>
    <Translation Language="ms">Sejarah Permainan</Translation>
    <Translation Language="pt">Histórico de reprodução</Translation>
    <Translation Language="ru">История игр</Translation>
    <Translation Language="th">ประวัติการเล่น</Translation>
    <Translation Language="uk">Історія відтворень</Translation>
    <Translation Language="vi">Lịch sử đã phát</Translation>
  </Translations>
</Dictionary>