<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fcc5305a-0ceb-4a93-b618-c81d94a4d9af" Alias="Please wait" Level="1">
  <Info>
    <Parent>Deposit Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Please wait</Translation>
    <Translation Language="es">Por favor, espere</Translation>
    <Translation Language="fr">Veuillez patienter</Translation>
    <Translation Language="he">נא המתן</Translation>
    <Translation Language="ms">Sila tunggu</Translation>
    <Translation Language="pt">Por favor, aguarde</Translation>
    <Translation Language="ru">Пожалуйста, подождите</Translation>
    <Translation Language="th">โปรดรอสักครู่</Translation>
    <Translation Language="uk">Будь ласка, зачекайте</Translation>
    <Translation Language="vi">Vui lòng đợi</Translation>
  </Translations>
</Dictionary>