<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ad6aea76-d15d-408a-ba31-173267a46415" Alias="Please check" Level="2">
  <Info>
    <Parent>Page 3</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Please check your credit card company statement to get the exact amount that was charged and enter it into the inputbox.</Translation>
    <Translation Language="es">Por favor, consulte el extracto de su tarjeta de crédito para obtener el monto exacto que se le ha cargado e ingréselo en el cuadro de entrada.</Translation>
    <Translation Language="fr">Veuillez consulter votre relevé de compte de carte de crédit pour obtenir le montant exact qui a été débité et saisissez-le dans le champ de saisie.</Translation>
    <Translation Language="he">נא לבדוק את הצהרת חשבון הכרטיס האשראי שלך כדי לקבל את הסכום המדויק שנחוייב ולהזין אותו בתיבת הקלט.</Translation>
    <Translation Language="ms">Sila semak penyata syarikat kad kredit anda untuk mendapatkan jumlah tepat yang telah dicaj dan masukkannya ke dalam kotak input.</Translation>
    <Translation Language="pt">Verifique o extrato da sua operadora de cartão de crédito para obter o valor exato cobrado e insira-o na caixa de entrada.</Translation>
    <Translation Language="ru">Пожалуйста, проверьте выписку своей кредитной карты, чтобы узнать точную сумму, которая была списана, и введите ее в поле ввода.</Translation>
    <Translation Language="th">โปรดตรวจสอบใบแจ้งยอดของบริษัทบัตรเครดิตของคุณเพื่อดูยอดเงินที่ถูกเรียกเก็บอย่างถูกต้อง และป้อนลงในช่องกรอกข้อมูล</Translation>
    <Translation Language="uk">Будь ласка, перевірте ваш виписку з кредитної картки, щоб отримати точну суму, яка була стягнута, і введіть її в поле введення.</Translation>
    <Translation Language="vi">Vui lòng kiểm tra sao kê của công ty thẻ tín dụng của bạn để biết số tiền chính xác đã bị tính và nhập số tiền đó vào ô nhập liệu.</Translation>
  </Translations>
</Dictionary>