<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b10f4ec4-cab7-48c9-9593-b32d7551de42" Alias="Please enter a valid email." Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Please enter a valid email.</Translation>
    <Translation Language="es">Please enter a valid email.</Translation>
    <Translation Language="fr">Please enter a valid email.</Translation>
    <Translation Language="he">Please enter a valid email.</Translation>
    <Translation Language="ms">Please enter a valid email.</Translation>
    <Translation Language="pt">Please enter a valid email.</Translation>
    <Translation Language="ru">Please enter a valid email.</Translation>
    <Translation Language="th">Please enter a valid email.</Translation>
    <Translation Language="uk">Please enter a valid email.</Translation>
    <Translation Language="vi">Please enter a valid email.</Translation>
  </Translations>
</Dictionary>