<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f116f92c-fc93-4170-b913-e926a0d637dd" Alias="Please specify the country code" Level="1">
  <Info>
    <Parent>WS Errors</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Please specify the country code</Translation>
    <Translation Language="es">Por favor, especifique el código del país</Translation>
    <Translation Language="fr">Veuillez spécifier le code du pays</Translation>
    <Translation Language="he">נא לציין את קוד המדינה</Translation>
    <Translation Language="ms">Sila nyatakan kod negara</Translation>
    <Translation Language="pt">Por favor, especifique o código do país</Translation>
    <Translation Language="ru">Пожалуйста, укажите код страны</Translation>
    <Translation Language="th">โปรดระบุรหัสประเทศ</Translation>
    <Translation Language="uk">Будь ласка, вкажіть код країни</Translation>
    <Translation Language="vi">Vui lòng chỉ định mã quốc gia</Translation>
  </Translations>
</Dictionary>