<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b84a8aba-2d78-4aee-9835-8c1bb4691d42" Alias="Please specify the phone number" Level="1">
  <Info>
    <Parent>WS Errors</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Please specify the phone number</Translation>
    <Translation Language="es">Por favor, especifique el número de teléfono</Translation>
    <Translation Language="fr">Veuillez spécifier le numéro de téléphone</Translation>
    <Translation Language="he">נא לציין את מספר הטלפון</Translation>
    <Translation Language="ms">Sila nyatakan nombor telefon</Translation>
    <Translation Language="pt">Por favor, indique o número de telefone</Translation>
    <Translation Language="ru">Пожалуйста, укажите номер телефона</Translation>
    <Translation Language="th">โปรดระบุหมายเลขโทรศัพท์</Translation>
    <Translation Language="uk">Будь ласка, вкажіть номер телефону</Translation>
    <Translation Language="vi">Vui lòng cung cấp số điện thoại</Translation>
  </Translations>
</Dictionary>