<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f7f78980-1606-4d29-8b8b-d911fb35994d" Alias="Please specify the phone number and country code" Level="1">
  <Info>
    <Parent>WS Errors</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Please specify the phone number and country code</Translation>
    <Translation Language="es">Por favor, especifique el número de teléfono y el código del país</Translation>
    <Translation Language="fr">Veuillez spécifier le numéro de téléphone et le code du pays</Translation>
    <Translation Language="he">נא לציין את מספר הטלפון וקוד המדינה</Translation>
    <Translation Language="ms">Sila nyatakan nombor telefon dan kod negara</Translation>
    <Translation Language="pt">Por favor, especifique o número de telefone e o código do país</Translation>
    <Translation Language="ru">Пожалуйста, укажите номер телефона и код страны</Translation>
    <Translation Language="th">โปรดระบุหมายเลขโทรศัพท์และรหัสประเทศ</Translation>
    <Translation Language="uk">Будь ласка, вкажіть номер телефону та код країни</Translation>
    <Translation Language="vi">Vui lòng chỉ định số điện thoại và mã quốc gia</Translation>
  </Translations>
</Dictionary>