<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ef9b8ab3-d289-43e1-875a-599f3bbfa9a6" Alias="Previous" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Previous</Translation>
    <Translation Language="es">Anterior</Translation>
    <Translation Language="fr">Précédent</Translation>
    <Translation Language="he">קודם</Translation>
    <Translation Language="ms">Sebelumnya</Translation>
    <Translation Language="pt">Anterior</Translation>
    <Translation Language="ru">Назад</Translation>
    <Translation Language="th">ก่อนหน้า</Translation>
    <Translation Language="uk">Попередній</Translation>
    <Translation Language="vi">Trước</Translation>
  </Translations>
</Dictionary>