<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4f925abc-239f-4148-a206-09ceb20a7416" Alias="Prev" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Prev</Translation>
    <Translation Language="es">Prev</Translation>
    <Translation Language="fr">Prev</Translation>
    <Translation Language="he">Prev</Translation>
    <Translation Language="ms">Prev</Translation>
    <Translation Language="pt">Prev</Translation>
    <Translation Language="ru">Prev</Translation>
    <Translation Language="th">Prev</Translation>
    <Translation Language="uk">Prev</Translation>
    <Translation Language="vi">Prev</Translation>
  </Translations>
</Dictionary>