<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="95607d5b-aca4-4c46-86b7-ffb14a01bd1e" Alias="PROCESS" Level="1">
  <Info>
    <Parent>Withdraw Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">PROCESS</Translation>
    <Translation Language="es">PROCESO</Translation>
    <Translation Language="fr">TRAITEMENT</Translation>
    <Translation Language="he">תהליך</Translation>
    <Translation Language="ms">PROSES</Translation>
    <Translation Language="pt">PROCESSO</Translation>
    <Translation Language="ru">ОБРАБОТКА</Translation>
    <Translation Language="th">ดำเนินการ</Translation>
    <Translation Language="uk">ОБРОБКА</Translation>
    <Translation Language="vi">XỬ LÝ</Translation>
  </Translations>
</Dictionary>