<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e1f168e7-c1f2-4ece-8286-e3238f477e75" Alias="Purchase Coins" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Purchase Coins</Translation>
    <Translation Language="es">Purchase Coins</Translation>
    <Translation Language="fr">Purchase Coins</Translation>
    <Translation Language="he">Purchase Coins</Translation>
    <Translation Language="ms">Purchase Coins</Translation>
    <Translation Language="pt">Purchase Coins</Translation>
    <Translation Language="ru">Purchase Coins</Translation>
    <Translation Language="th">Purchase Coins</Translation>
    <Translation Language="uk">Purchase Coins</Translation>
    <Translation Language="vi">Purchase Coins</Translation>
  </Translations>
</Dictionary>