<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="868974de-c43c-4819-8a2c-cf50e9d7d545" Alias="Re-enter password" Level="2">
  <Info>
    <Parent>Login information</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Re-enter password</Translation>
    <Translation Language="es">Escriba la contraseña otra vez</Translation>
    <Translation Language="fr">Entrez à nouveau le mot de passe</Translation>
    <Translation Language="he">תכניס מחדש סיסמה</Translation>
    <Translation Language="ms">Masukkan semula kata laluan</Translation>
    <Translation Language="pt">Reintroduza a palavra-passe</Translation>
    <Translation Language="ru">Повторно введите пароль</Translation>
    <Translation Language="th">ป้อนรหัสผ่านอีกครั้ง</Translation>
    <Translation Language="uk">Повторно введіть пароль</Translation>
    <Translation Language="vi">Nhập lại mật khẩu</Translation>
  </Translations>
</Dictionary>