<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4bfdef58-b316-4e97-aa2c-81b22ee71aeb" Alias="Read More" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Read more</Translation>
    <Translation Language="es">Leer más</Translation>
    <Translation Language="fr">En savoir plus</Translation>
    <Translation Language="he">קרא עוד</Translation>
    <Translation Language="ms">Baca lagi</Translation>
    <Translation Language="pt">Ler mais</Translation>
    <Translation Language="ru">Читать далее</Translation>
    <Translation Language="th">อ่านเพิ่มเติม</Translation>
    <Translation Language="uk">Читати далі</Translation>
    <Translation Language="vi">Đọc thêm</Translation>
  </Translations>
</Dictionary>