<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="42481208-f7ae-4441-a872-fe19f2692470" Alias="Refered:" Level="1">
  <Info>
    <Parent>Account Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Referred:</Translation>
    <Translation Language="es">Referido:</Translation>
    <Translation Language="fr">Référencé:</Translation>
    <Translation Language="he">הופנה:</Translation>
    <Translation Language="ms">Dirujuk:</Translation>
    <Translation Language="pt">Referenciado:</Translation>
    <Translation Language="ru">Рекомендаций:</Translation>
    <Translation Language="th">อ้างอิง:</Translation>
    <Translation Language="uk">Рекомендований:</Translation>
    <Translation Language="vi">Được giới thiệu:</Translation>
  </Translations>
</Dictionary>