<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b7b20066-7473-489a-b867-c99dd6340b01" Alias="Requirement" Level="2">
  <Info>
    <Parent>Page 1</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Requirement</Translation>
    <Translation Language="es">Requisito</Translation>
    <Translation Language="fr">Exigence</Translation>
    <Translation Language="he">דרישה</Translation>
    <Translation Language="ms">Keperluan</Translation>
    <Translation Language="pt">Requisito</Translation>
    <Translation Language="ru">Требование</Translation>
    <Translation Language="th">ข้อกำหนด</Translation>
    <Translation Language="uk">Вимога</Translation>
    <Translation Language="vi">Yêu cầu</Translation>
  </Translations>
</Dictionary>