<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cb250ea7-c154-4db4-9493-9b927cfb1543" Alias="Responsible Play" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Responsible Play</Translation>
    <Translation Language="es">Responsible Play</Translation>
    <Translation Language="fr">Responsible Play</Translation>
    <Translation Language="he">Responsible Play</Translation>
    <Translation Language="ms">Responsible Play</Translation>
    <Translation Language="pt">Responsible Play</Translation>
    <Translation Language="ru">Responsible Play</Translation>
    <Translation Language="th">Responsible Play</Translation>
    <Translation Language="uk">Responsible Play</Translation>
    <Translation Language="vi">Responsible Play</Translation>
  </Translations>
</Dictionary>