<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ee3d5e74-b1bc-410f-919b-0f3ba057f67c" Alias="Restore password via Telegram" Level="2">
  <Info>
    <Parent>SIP - Page1</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Restore password via Telegram</Translation>
    <Translation Language="es">Restaurar contraseña a través de Telegram</Translation>
    <Translation Language="fr">Restaurer le mot de passe via Telegram</Translation>
    <Translation Language="he">שחזר סיסמה דרך טלגרם</Translation>
    <Translation Language="ms">Pulihkan kata laluan melalui Telegram</Translation>
    <Translation Language="pt">Restaurar palavra-passe via Telegram</Translation>
    <Translation Language="ru">Восстановить пароль через Telegram</Translation>
    <Translation Language="th">กู้คืนรหัสผ่านผ่าน Telegram</Translation>
    <Translation Language="uk">Відновити пароль через Telegram</Translation>
    <Translation Language="vi">Khôi phục mật khẩu qua Telegram</Translation>
  </Translations>
</Dictionary>