<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="81fdaa88-9b77-423f-ae9f-6750616f8262" Alias="Restore password via WhatsApp" Level="1">
  <Info>
    <Parent>Sign In Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Restore password via WhatsApp</Translation>
    <Translation Language="es">Restaurar contraseña a través de WhatsApp</Translation>
    <Translation Language="fr">Restaurer le mot de passe via WhatsApp</Translation>
    <Translation Language="he">שחזור סיסמה דרך WhatsApp</Translation>
    <Translation Language="ms">Pulihkan kata laluan melalui WhatsApp</Translation>
    <Translation Language="pt">Restaurar palavra-passe via WhatsApp</Translation>
    <Translation Language="ru">Восстановить пароль через WhatsApp</Translation>
    <Translation Language="th">กู้คืนรหัสผ่านผ่าน WhatsApp</Translation>
    <Translation Language="uk">Відновити пароль через WhatsApp</Translation>
    <Translation Language="vi">Khôi phục mật khẩu qua WhatsApp</Translation>
  </Translations>
</Dictionary>