<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7e589e77-2db6-4ea2-ba31-79b2d7e1dd1a" Alias="Rules Layout" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Rules Layout</Translation>
    <Translation Language="es">Rules Layout</Translation>
    <Translation Language="fr">Rules Layout</Translation>
    <Translation Language="he">Rules Layout</Translation>
    <Translation Language="ms">Rules Layout</Translation>
    <Translation Language="pt">Rules Layout</Translation>
    <Translation Language="ru">Rules Layout</Translation>
    <Translation Language="th">Rules Layout</Translation>
    <Translation Language="uk">Rules Layout</Translation>
    <Translation Language="vi">Rules Layout</Translation>
  </Translations>
</Dictionary>