<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="953c8cbe-5065-434d-b5ae-a5c77e97f70a" Alias="Saved" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Saved</Translation>
    <Translation Language="es">Saved</Translation>
    <Translation Language="fr">Saved</Translation>
    <Translation Language="he">Saved</Translation>
    <Translation Language="ms">Saved</Translation>
    <Translation Language="pt">Saved</Translation>
    <Translation Language="ru">Saved</Translation>
    <Translation Language="th">Saved</Translation>
    <Translation Language="uk">Saved</Translation>
    <Translation Language="vi">Saved</Translation>
  </Translations>
</Dictionary>