<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="83a4d123-5e09-44ec-b553-1789c777f4c9" Alias="Scan the QR code with your phone's camera, then tap the link to start a new chat" Level="2">
  <Info>
    <Parent>VPP - Page0</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Scan the QR code with your phone's camera, then tap the link to start a new chat</Translation>
    <Translation Language="es">Escanea el código QR con la cámara de tu teléfono, luego toca el enlace para iniciar un nuevo chat</Translation>
    <Translation Language="fr">Scannez le code QR avec l'appareil photo de votre téléphone, puis appuyez sur le lien pour commencer une nouvelle conversation</Translation>
    <Translation Language="he">סרוק את קוד ה-QR באמצעות מצלמת הטלפון שלך, ואז תקשורת על הקישור כדי להתחיל בצ'אט חדש</Translation>
    <Translation Language="ms">Imbas kod QR dengan kamera telefon anda, kemudian ketik pautan untuk memulakan sembang baharu</Translation>
    <Translation Language="pt">Digitalize o código QR com a câmera do seu telefone e, em seguida, toque no link para iniciar um novo chat</Translation>
    <Translation Language="ru">Отсканируйте QR-код с помощью камеры вашего телефона, затем коснитесь ссылки, чтобы начать новый чат</Translation>
    <Translation Language="th">สแกนคิวอาร์โค้ดด้วยกล้องโทรศัพท์ของคุณ จากนั้นแตะลิงก์เพื่อเริ่มแชทใหม่</Translation>
    <Translation Language="uk">Отскануйте QR-код за допомогою камери вашого телефону, потім натисніть посилання, щоб розпочати новий чат</Translation>
    <Translation Language="vi">Quét mã QR bằng camera điện thoại của bạn, sau đó chạm vào liên kết để bắt đầu cuộc trò chuyện mới</Translation>
  </Translations>
</Dictionary>