<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="af36deaf-eb3a-4730-b13a-1ba757033190" Alias="Score" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Score</Translation>
    <Translation Language="es">Score</Translation>
    <Translation Language="fr">Score</Translation>
    <Translation Language="he">Score</Translation>
    <Translation Language="ms">Score</Translation>
    <Translation Language="pt">Score</Translation>
    <Translation Language="ru">Score</Translation>
    <Translation Language="th">Score</Translation>
    <Translation Language="uk">Score</Translation>
    <Translation Language="vi">Score</Translation>
  </Translations>
</Dictionary>