<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c2bf812b-dc5f-421c-804f-58fa1959816d" Alias="Searching" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Searching</Translation>
    <Translation Language="es">Searching</Translation>
    <Translation Language="fr">Searching</Translation>
    <Translation Language="he">Searching</Translation>
    <Translation Language="ms">Searching</Translation>
    <Translation Language="pt">Searching</Translation>
    <Translation Language="ru">Searching</Translation>
    <Translation Language="th">Searching</Translation>
    <Translation Language="uk">Searching</Translation>
    <Translation Language="vi">Searching</Translation>
  </Translations>
</Dictionary>