<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cbbf9476-e816-47c4-bebe-e3b41e941a16" Alias="SEO Default Og Description" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Join the world's premier social gaming community. Enjoy Vegas-style slots and social games for entertainment purposes only. Claim your virtual welcome pack today!</Translation>
    <Translation Language="es">Únete a la principal comunidad de juegos sociales del mundo. Disfruta de tragamonedas estilo Las Vegas y juegos sociales solo con fines de entretenimiento. ¡Reclama tu paquete de bienvenida virtual hoy!</Translation>
    <Translation Language="fr">Rejoignez la première communauté mondiale de jeux sociaux. Profitez de machines à sous de style Vegas et de jeux sociaux à des fins de divertissement uniquement. Réclamez votre pack de bienvenue virtuel dès aujourd’hui !</Translation>
    <Translation Language="he">הצטרפו לקהילת המשחקים החברתיים המובילה בעולם. תיהנו ממכונות מזל בסגנון לאס וגאס וממשחקים חברתיים למטרות בידור בלבד. תבעו את חבילת קבלת הפנים הווירטואלית שלכם עוד היום!</Translation>
    <Translation Language="ms">Sertai komuniti permainan sosial terunggul di dunia. Nikmati slot ala Vegas dan permainan sosial untuk tujuan hiburan sahaja. Tuntut pek alu-aluan maya anda hari ini!</Translation>
    <Translation Language="pt">Junte-se à principal comunidade de jogos sociais do mundo. Desfrute de caça-níqueis ao estilo de Vegas e jogos sociais apenas para fins de entretenimento. Resgate seu pacote de boas-vindas virtual hoje!</Translation>
    <Translation Language="ru">Присоединяйтесь к ведущему в мире сообществу социальных игр. Наслаждайтесь слотами в стиле Лас-Вегаса и социальными играми исключительно в развлекательных целях. Получите свой виртуальный приветственный набор уже сегодня!</Translation>
    <Translation Language="th">เข้าร่วมชุมชนเกมโซเชียลระดับแนวหน้าของโลก สนุกกับสล็อตสไตล์เวกัสและเกมโซเชียลเพื่อความบันเทิงเท่านั้น รับแพ็กต้อนรับเสมือนจริงของคุณวันนี้!</Translation>
    <Translation Language="uk">Приєднуйтеся до провідної у світі спільноти соціальних ігор. Насолоджуйтеся слотами у стилі Вегаса та соціальними іграми виключно в розважальних цілях. Отримайте свій віртуальний вітальний пакунок уже сьогодні!</Translation>
    <Translation Language="vi">Tham gia cộng đồng game xã hội hàng đầu thế giới. Tận hưởng các trò chơi slot phong cách Vegas và game xã hội chỉ dành cho mục đích giải trí. Nhận gói chào mừng ảo của bạn ngay hôm nay!</Translation>
  </Translations>
</Dictionary>