<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="aad1a4c1-fd50-4984-b8fc-05ae799088c3" Alias="SEO Default Title" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Social Casino Slots &amp; Live Social Games | PlayerClub365</Translation>
    <Translation Language="es">Tragamonedas de casino social y juegos sociales en vivo | PlayerClub365</Translation>
    <Translation Language="fr">Machines à sous de casino social et jeux sociaux en direct | PlayerClub365</Translation>
    <Translation Language="he">מכונות מזל של קזינו חברתי ומשחקים חברתיים חיים | PlayerClub365</Translation>
    <Translation Language="ms">Slot Kasino Sosial &amp; Permainan Sosial Langsung | PlayerClub365</Translation>
    <Translation Language="pt">Caça-níqueis de Cassino Social e Jogos Sociais ao Vivo | PlayerClub365</Translation>
    <Translation Language="ru">Социальное казино: слоты и живые социальные игры | PlayerClub365</Translation>
    <Translation Language="th">สล็อตคาสิโนโซเชียล &amp; เกมโซเชียลสด | PlayerClub365</Translation>
    <Translation Language="uk">Соціальні казино-слоти та живі соціальні ігри | PlayerClub365</Translation>
    <Translation Language="vi">Slot Social Casino &amp; Trò chơi xã hội trực tiếp | PlayerClub365</Translation>
  </Translations>
</Dictionary>