<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7dd95c1e-ec9f-4f75-bdd3-dda7c764ffce" Alias="SEO Default Keywords" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">social casino, free slots, social gaming, virtual rewards, slot simulators, live social games, play for fun, PlayerClub365</Translation>
    <Translation Language="es">casino social, tragamonedas gratis, juegos sociales, recompensas virtuales, simuladores de tragamonedas, juegos sociales en vivo, juega por diversión, PlayerClub365</Translation>
    <Translation Language="fr">casino social, machines à sous gratuites, jeux sociaux, récompenses virtuelles, simulateurs de machines à sous, jeux sociaux en direct, jouer pour le plaisir, PlayerClub365</Translation>
    <Translation Language="he">קזינו חברתי, מכונות מזל חינמיות, משחקים חברתיים, תגמולים וירטואליים, סימולטורים של מכונות מזל, משחקים חברתיים בשידור חי, לשחק בשביל הכיף, PlayerClub365</Translation>
    <Translation Language="ms">kasino sosial, slot percuma, permainan sosial, ganjaran maya, simulator slot, permainan sosial langsung, bermain untuk hiburan, PlayerClub365</Translation>
    <Translation Language="pt">casino social, slots grátis, jogos sociais, recompensas virtuais, simuladores de slots, jogos sociais ao vivo, jogue por diversão, PlayerClub365</Translation>
    <Translation Language="ru">социальное казино, бесплатные слоты, социальные игры, виртуальные награды, симуляторы слотов, живые социальные игры, играйте ради удовольствия, PlayerClub365</Translation>
    <Translation Language="th">คาสิโนโซเชียล, สล็อตฟรี, เกมโซเชียล, รางวัลเสมือน, โปรแกรมจำลองสล็อต, เกมโซเชียลสด, เล่นเพื่อความสนุก, PlayerClub365</Translation>
    <Translation Language="uk">соціальне казино, безкоштовні слоти, соціальні ігри, віртуальні винагороди, симулятори слотів, соціальні ігри в прямому ефірі, грайте заради розваги, PlayerClub365</Translation>
    <Translation Language="vi">sòng bạc xã hội, máy đánh bạc miễn phí, trò chơi xã hội, phần thưởng ảo, trình mô phỏng máy đánh bạc, trò chơi xã hội trực tiếp, chơi để giải trí, PlayerClub365</Translation>
  </Translations>
</Dictionary>