<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="004efd02-bfa1-48e8-8c57-c1e6578d1249" Alias="Set A New Password Page" Level="0">
  <Info />
  <Translations>
    <Translation Language="en"></Translation>
    <Translation Language="es"></Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="ru"></Translation>
    <Translation Language="uk"></Translation>
  </Translations>
</Dictionary>