<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a391abb0-4989-489a-bb66-70e7118a4d68" Alias="Sign-Up-Now-1-min" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">&lt;b&gt;Sign Up Now&lt;/b&gt;
&lt;span&gt;It only takes 1 minute&lt;/span&gt;</Translation>
    <Translation Language="es">&lt;b&gt;Regístrate ahora&lt;/b&gt;
&lt;span&gt;Solo toma 1 minuto&lt;/span&gt;</Translation>
    <Translation Language="fr">&lt;b&gt;Inscrivez-vous maintenant&lt;/b&gt;
&lt;span&gt;Ça ne prend qu’une minute&lt;/span&gt;</Translation>
    <Translation Language="he">&lt;b&gt;הירשמו עכשיו&lt;/b&gt;
&lt;span&gt;זה לוקח רק דקה&lt;/span&gt;</Translation>
    <Translation Language="ms">&lt;b&gt;Daftar Sekarang&lt;/b&gt;
&lt;span&gt;Ia hanya mengambil masa 1 minit&lt;/span&gt;</Translation>
    <Translation Language="pt">&lt;b&gt;Cadastre-se agora&lt;/b&gt;
&lt;span&gt;Leva apenas 1 minuto&lt;/span&gt;</Translation>
    <Translation Language="ru">&lt;b&gt;Зарегистрируйтесь сейчас&lt;/b&gt;
&lt;span&gt;Это займет всего 1 минуту&lt;/span&gt;</Translation>
    <Translation Language="th">&lt;b&gt;สมัครตอนนี้&lt;/b&gt;
&lt;span&gt;ใช้เวลาเพียง 1 นาที&lt;/span&gt;</Translation>
    <Translation Language="uk">&lt;b&gt;Зареєструйтесь зараз&lt;/b&gt;
&lt;span&gt;Це займе лише 1 хвилину&lt;/span&gt;</Translation>
    <Translation Language="vi">&lt;b&gt;Đăng ký ngay&lt;/b&gt;
&lt;span&gt;Chỉ mất 1 phút&lt;/span&gt;</Translation>
  </Translations>
</Dictionary>