<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="68a341e1-04c4-4811-b0ad-b8075aaf55c0" Alias="Sign In to Your PlayerClub365 Account" Level="1">
  <Info>
    <Parent>SEO</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Sign In to Your PlayerClub365 Account</Translation>
    <Translation Language="es">Inicia sesión en tu cuenta de PlayerClub365</Translation>
    <Translation Language="fr">Connectez-vous à votre compte PlayerClub365</Translation>
    <Translation Language="he">התחבר לחשבון PlayerClub365 שלך</Translation>
    <Translation Language="ms">Daftar Masuk ke Akaun PlayerClub365 Anda</Translation>
    <Translation Language="pt">Inicie sessão na sua conta PlayerClub365</Translation>
    <Translation Language="ru">Войдите в свой аккаунт PlayerClub365</Translation>
    <Translation Language="th">ลงชื่อเข้าใช้บัญชี PlayerClub365 ของคุณ</Translation>
    <Translation Language="uk">Увійдіть у свій акаунт PlayerClub365</Translation>
    <Translation Language="vi">Đăng nhập vào tài khoản PlayerClub365 của bạn</Translation>
  </Translations>
</Dictionary>