<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3054b9fa-9403-4628-b8f0-33415437ca7d" Alias="Sign Up Page" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Create Account</Translation>
    <Translation Language="es">Crear una cuenta</Translation>
    <Translation Language="fr">Créer un compte</Translation>
    <Translation Language="he">צור חשבון</Translation>
    <Translation Language="ms">Cipta Akaun</Translation>
    <Translation Language="pt">Criar conta</Translation>
    <Translation Language="ru">Зарегистрироваться</Translation>
    <Translation Language="th">สร้างบัญชี</Translation>
    <Translation Language="uk">Створити обліковий запис</Translation>
    <Translation Language="vi">Tạo tài khoản</Translation>
  </Translations>
</Dictionary>