<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="406b0f24-04be-466a-8134-6ea371c43e05" Alias="SIP - Continue Button " Level="0">
  <Info />
  <Translations>
    <Translation Language="en">SIP - Continue Button </Translation>
    <Translation Language="es">SIP - Continue Button </Translation>
    <Translation Language="fr">SIP - Continue Button </Translation>
    <Translation Language="he">SIP - Continue Button </Translation>
    <Translation Language="ms">SIP - Continue Button </Translation>
    <Translation Language="pt">SIP - Continue Button </Translation>
    <Translation Language="ru">SIP - Continue Button </Translation>
    <Translation Language="th">SIP - Continue Button </Translation>
    <Translation Language="uk">SIP - Continue Button </Translation>
    <Translation Language="vi">SIP - Continue Button </Translation>
  </Translations>
</Dictionary>