<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e4446f2d-469e-4545-ba3b-bedd9e5599a2" Alias="SIP - Page0 - Set a new password (New password)" Level="1">
  <Info>
    <Parent>Set A New Password Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">New password</Translation>
    <Translation Language="es">Nueva contraseña</Translation>
    <Translation Language="fr">Nouveau mot de passe</Translation>
    <Translation Language="he">סיסמה חדשה</Translation>
    <Translation Language="ms">Kata laluan baharu</Translation>
    <Translation Language="pt">Nova palavra-passe</Translation>
    <Translation Language="ru">Новый пароль</Translation>
    <Translation Language="th">รหัสผ่านใหม่</Translation>
    <Translation Language="uk">Новий пароль</Translation>
    <Translation Language="vi">Mật khẩu mới</Translation>
  </Translations>
</Dictionary>