<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8169bd6d-d75a-432a-b281-07955ed10fa5" Alias="SIP - Agree" Level="1">
  <Info>
    <Parent>Sign In Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">By continuing, You agree PlayerClub365
&lt;a href="/blog/en/page/terms-and-conditions" class="agree_link" target="_blank"&gt;Conditions of Use&lt;/a&gt;
 and
&lt;a href="/blog/en/page/privacy-for-online-casino" class="agree_link" target="_blank"&gt;Privacy Notice&lt;/a&gt;</Translation>
    <Translation Language="es">Al continuar, acepta PlayerClub365
&lt;a href="/blog/es/page/terms-and-conditions" class="agree_link" target="_blank"&gt;Condiciones de uso&lt;/a&gt;
  y
&lt;a href="/blog/es/page/privacy-for-online-casino" class="agree_link" target="_blank"&gt;Aviso de privacidad&lt;/a&gt;</Translation>
    <Translation Language="fr">En continuant, vous acceptez PlayerClub365
&lt;a href="/blog/fr/page/terms-and-conditions" class="agree_link" target="_blank"&gt;Conditions d'utilisation&lt;/a&gt;
  et
&lt;a href="/blog/fr/page/privacy-for-online-casino" class="agree_link" target="_blank"&gt;Avis de confidentialité&lt;/a&gt;</Translation>
    <Translation Language="he">על ידי המשך, אתה מסכים ל-PlayerClub365
&lt;a href="/blog/he/page/terms-and-conditions" class="agree_link" target="_blank"&gt;תנאי שימוש&lt;/a &gt;
 ו
&lt;a href="/blog/he/page/privacy-for-online-casino" class="agree_link" target="_blank"&gt;הודעת פרטיות&lt;/a&gt;</Translation>
    <Translation Language="ms">Dengan meneruskan, Anda bersetuju dengan PlayerClub365
&lt;a href="/blog/en/page/terms-and-conditions" class="agree_link" target="_blank"&gt;Syarat Penggunaan&lt;/a&gt;
 dan
&lt;a href="/blog/en/page/privacy-for-online-casino" class="agree_link" target="_blank"&gt;Notis Privasi&lt;/a&gt;</Translation>
    <Translation Language="pt">Ao continuar, você concorda com o PlayerClub365
&lt;a href="/blog/en/page/terms-and-conditions" class="agree_link" target="_blank"&gt;Condições de Uso&lt;/a&gt;
 e
&lt;a href="/blog/en/page/privacy-for-online-casino" class="agree_link" target="_blank"&gt;Aviso de Privacidade&lt;/a&gt;</Translation>
    <Translation Language="ru">Продолжая, Вы соглашаетесь на PlayerClub365
&lt;a href="/blog/ru/page/terms-and-conditions" class="agree_link" target="_blank"&gt;Условия использования&lt;/a&gt;
и
&lt;a href="/blog/ru/page/privacy-for-online-casino" class="agree_link" target="_blank"&gt;Уведомление о конфиденциальности&lt;/a&gt;</Translation>
    <Translation Language="th">เมื่อดำเนินการต่อ แสดงว่าคุณยอมรับ PlayerClub365
&lt;a href="/blog/en/page/terms-and-conditions" class="agree_link" target="_blank"&gt;เงื่อนไขการใช้งาน&lt;/a&gt;
 และ
&lt;a href="/blog/en/page/privacy-for-online-casino" class="agree_link" target="_blank"&gt;ประกาศความเป็นส่วนตัว&lt;/a&gt;</Translation>
    <Translation Language="uk">Продовжуючи, ви погоджуєтеся з PlayerClub365
&lt;a href="/blog/uk/page/terms-and-conditions" class="agree_link" target="_blank"&gt;Умови використання&lt;/a&gt;
  і
&lt;a href="/blog/uk/page/privacy-for-online-casino" class="agree_link" target="_blank"&gt;Примітка про конфіденційність&lt;/a&gt;</Translation>
    <Translation Language="vi">Bằng cách tiếp tục, Bạn đồng ý với PlayerClub365
&lt;a href="/blog/en/page/terms-and-conditions" class="agree_link" target="_blank"&gt;Điều kiện sử dụng&lt;/a&gt;
 và
&lt;a href="/blog/en/page/privacy-for-online-casino" class="agree_link" target="_blank"&gt;Thông báo về quyền riêng tư&lt;/a&gt;</Translation>
  </Translations>
</Dictionary>