<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7939dec2-989c-4436-a65c-e420e9afa95b" Alias="SIP - Page0 - Set a new password (Change)" Level="1">
  <Info>
    <Parent>Set A New Password Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Change</Translation>
    <Translation Language="es">Cambiar</Translation>
    <Translation Language="fr">Changement</Translation>
    <Translation Language="he">שינוי</Translation>
    <Translation Language="ms">Ubah</Translation>
    <Translation Language="pt">Alterar</Translation>
    <Translation Language="ru">Изменить</Translation>
    <Translation Language="th">เปลี่ยน</Translation>
    <Translation Language="uk">Зміна</Translation>
    <Translation Language="vi">Thay đổi</Translation>
  </Translations>
</Dictionary>