<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="10fb6936-aa8e-46cc-94f7-3581e8038b3f" Alias="SIP - Page1 - Phone" Level="2">
  <Info>
    <Parent>SIP - Page1</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Your phone number:</Translation>
    <Translation Language="es">Su número de teléfono:</Translation>
    <Translation Language="fr">Votre numéro de téléphone:</Translation>
    <Translation Language="he">מספר הטלפון שלך:</Translation>
    <Translation Language="ms">Nombor telefon anda:</Translation>
    <Translation Language="pt">O seu número de telefone:</Translation>
    <Translation Language="ru">Ваш номер телефона:</Translation>
    <Translation Language="th">หมายเลขโทรศัพท์ของคุณ:</Translation>
    <Translation Language="uk">Ваш номер телефону:</Translation>
    <Translation Language="vi">Số điện thoại của bạn:</Translation>
  </Translations>
</Dictionary>