<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="158d2089-34c2-4138-840a-74b362a1504e" Alias="SIP - Page0 Need Help Url" Level="2">
  <Info>
    <Parent>SIP - Page0</Parent>
  </Info>
  <Translations>
    <Translation Language="en">/blog/en/page/online-casino-contact</Translation>
    <Translation Language="es">/blog/es/page/online-casino-contact</Translation>
    <Translation Language="fr">/blog/fr/page/online-casino-contact</Translation>
    <Translation Language="he">/blog/he/page/online-casino-contact</Translation>
    <Translation Language="ms">/blog/en/page/online-casino-contact</Translation>
    <Translation Language="pt">/blog/pt/pagina/contacto-casino-online</Translation>
    <Translation Language="ru">/blog/ru/page/online-casino-contact</Translation>
    <Translation Language="th">/blog/th/page/online-casino-contact</Translation>
    <Translation Language="uk">/blog/uk/page/online-casino-contact</Translation>
    <Translation Language="vi">/blog/en/page/online-casino-contact</Translation>
  </Translations>
</Dictionary>