<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c5bfd53b-be1f-439f-bb29-94d3854738c8" Alias="SIP - Page1 - Password" Level="2">
  <Info>
    <Parent>SIP - Page1</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Password:</Translation>
    <Translation Language="es">Clave:</Translation>
    <Translation Language="fr">Mot de passe:</Translation>
    <Translation Language="he">סיסמה:</Translation>
    <Translation Language="ms">Kata laluan:</Translation>
    <Translation Language="pt">Palavra-passe:</Translation>
    <Translation Language="ru">Пароль:</Translation>
    <Translation Language="th">รหัสผ่าน:</Translation>
    <Translation Language="uk">Пароль:</Translation>
    <Translation Language="vi">Mật khẩu:</Translation>
  </Translations>
</Dictionary>