<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f00df708-e705-470d-be98-c906e94e08c4" Alias="SIP - Need Help Url" Level="1">
  <Info>
    <Parent>Sign In Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">/blog/en/page/online-casino-contact</Translation>
    <Translation Language="es">/blog/es/page/online-casino-contact</Translation>
    <Translation Language="fr">/blog/fr/page/online-casino-contact</Translation>
    <Translation Language="he">/blog/he/page/online-casino-contact</Translation>
    <Translation Language="ms">/blog/en/page/hubungi-kasino-dalam-talian</Translation>
    <Translation Language="pt">/blog/pt/page/contato-de-cassino-online</Translation>
    <Translation Language="ru">/blog/ru/page/online-casino-contact</Translation>
    <Translation Language="th">/blog/en/page/online-casino-contact</Translation>
    <Translation Language="uk">/blog/uk/page/online-casino-contact</Translation>
    <Translation Language="vi">/blog/en/page/online-casino-contact</Translation>
  </Translations>
</Dictionary>