<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="46cd2beb-1ec1-4926-bfcc-8e422746fb29" Alias="SIP - Page0 - Set a new password (Password must)" Level="1">
  <Info>
    <Parent>Set A New Password Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Password must be at least 6 characters</Translation>
    <Translation Language="es">La contraseña debe tener al menos 6 caracteres</Translation>
    <Translation Language="fr">Le mot de passe doit être au moins de 6 caractères</Translation>
    <Translation Language="he">סיסמא חייבת להיות לפחות בת 6 תווים</Translation>
    <Translation Language="ms">Kata laluan mestilah sekurang-kurangnya 6 aksara</Translation>
    <Translation Language="pt">A palavra-passe deve ter pelo menos 6 caracteres</Translation>
    <Translation Language="ru">Пароль должен быть не менее 6 символов</Translation>
    <Translation Language="th">รหัสผ่านต้องมีอย่างน้อย 6 อักขระ</Translation>
    <Translation Language="uk">Пароль має бути не менше 6 символів</Translation>
    <Translation Language="vi">Mật khẩu phải có ít nhất 6 ký tự</Translation>
  </Translations>
</Dictionary>