<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="85a19920-8b5e-49f8-822c-7db48bc95d45" Alias="SIP - Page0" Level="1">
  <Info>
    <Parent>Sign In Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Sign In</Translation>
    <Translation Language="es">Registrarse</Translation>
    <Translation Language="fr">S'identifier</Translation>
    <Translation Language="he">להתחבר</Translation>
    <Translation Language="ms">Log Masuk</Translation>
    <Translation Language="pt">Iniciar sessão</Translation>
    <Translation Language="ru">Войти</Translation>
    <Translation Language="th">ลงชื่อเข้าใช้</Translation>
    <Translation Language="uk">Увійти</Translation>
    <Translation Language="vi">Đăng nhập</Translation>
  </Translations>
</Dictionary>