<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d7864a7d-0868-4507-a2f7-0b1b689de1cb" Alias="SIP - Continue Button" Level="1">
  <Info>
    <Parent>Sign In Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Continue</Translation>
    <Translation Language="es">Continuar</Translation>
    <Translation Language="fr">Continuer</Translation>
    <Translation Language="he">לְהַמשִׁיך</Translation>
    <Translation Language="ms">Teruskan</Translation>
    <Translation Language="pt">Continuar</Translation>
    <Translation Language="ru">Продолжить</Translation>
    <Translation Language="th">ดำเนินการต่อ</Translation>
    <Translation Language="uk">Продовжуйте</Translation>
    <Translation Language="vi">Tiếp tục</Translation>
  </Translations>
</Dictionary>