<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0709bd62-9260-48c3-8194-af292547bf46" Alias="SIP - Page1" Level="1">
  <Info>
    <Parent>Sign In Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Welcome Back {name},</Translation>
    <Translation Language="es">Bienvenido de nuevo {name},</Translation>
    <Translation Language="fr">Content de te revoir {name},</Translation>
    <Translation Language="he">ברוך הבא חזרה {name},</Translation>
    <Translation Language="ms">Selamat kembali {name},</Translation>
    <Translation Language="pt">Bem-vindo(a) de volta {name},</Translation>
    <Translation Language="ru">Добро пожаловать {name},</Translation>
    <Translation Language="th">ยินดีต้อนรับกลับ {name},</Translation>
    <Translation Language="uk">З поверненням {name},</Translation>
    <Translation Language="vi">Chào mừng bạn trở lại {name},</Translation>
  </Translations>
</Dictionary>