<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c9780b82-ae22-40db-9312-2a63b7ef4635" Alias="SIP - Need Help" Level="1">
  <Info>
    <Parent>Sign In Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Need help?</Translation>
    <Translation Language="es">¿Necesitas ayuda?</Translation>
    <Translation Language="fr">Besoin d'aide?</Translation>
    <Translation Language="he">זקוק לעזרה?</Translation>
    <Translation Language="ms">Perlukan bantuan?</Translation>
    <Translation Language="pt">Precisa de ajuda?</Translation>
    <Translation Language="ru">Нужна помощь?</Translation>
    <Translation Language="th">ต้องการความช่วยเหลือใช่ไหม?</Translation>
    <Translation Language="uk">Потрібна допомога?</Translation>
    <Translation Language="vi">Cần trợ giúp?</Translation>
  </Translations>
</Dictionary>