<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a88cb07e-70bc-4fad-aa32-f63f8f1ad3ab" Alias="SIP - Page1 Need Help Url" Level="2">
  <Info>
    <Parent>SIP - Page1</Parent>
  </Info>
  <Translations>
    <Translation Language="en">/blog/en/page/online-casino-contact</Translation>
    <Translation Language="es">/blog/es/page/online-casino-contact</Translation>
    <Translation Language="fr">/blog/fr/page/online-casino-contact</Translation>
    <Translation Language="he">/blog/he/page/Contact-player1</Translation>
    <Translation Language="ms">/blog/en/page/hubungi-kasino-dalam-talian</Translation>
    <Translation Language="pt">/blog/pt/page/online-casino-contact</Translation>
    <Translation Language="ru">/blog/ru/page/online-casino-contact</Translation>
    <Translation Language="th">/blog/en/page/online-casino-contact</Translation>
    <Translation Language="uk">/blog/uk/page/online-casino-contact</Translation>
    <Translation Language="vi">/blog/en/page/online-casino-contact</Translation>
  </Translations>
</Dictionary>