<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ae047d52-8792-49cb-81ec-de6d18231ce4" Alias="SIP - Page1 - Forgot Password" Level="2">
  <Info>
    <Parent>SIP - Page1</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Forgot your password?</Translation>
    <Translation Language="es">¿Olvidaste tu contraseña?</Translation>
    <Translation Language="fr">Mot de passe oublié?</Translation>
    <Translation Language="he">שכחת ססמה?</Translation>
    <Translation Language="ms">Lupa kata laluan anda?</Translation>
    <Translation Language="pt">Esqueceu-se da sua palavra-passe?</Translation>
    <Translation Language="ru">Забыли свой пароль?</Translation>
    <Translation Language="th">ลืมรหัสผ่านของคุณใช่ไหม?</Translation>
    <Translation Language="uk">Забули свій пароль?</Translation>
    <Translation Language="vi">Quên mật khẩu?</Translation>
  </Translations>
</Dictionary>