<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="544d486b-6bae-4844-88d6-8bf41e697e85" Alias="SIP - Page0 - Phone" Level="2">
  <Info>
    <Parent>SIP - Page0</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Enter your phone number</Translation>
    <Translation Language="es">Ingresa tu número de teléfono</Translation>
    <Translation Language="fr">Entrez votre numéro de téléphone</Translation>
    <Translation Language="he">הקלד את מספר הטלפון שלך:</Translation>
    <Translation Language="ms">Masukkan nombor telefon anda</Translation>
    <Translation Language="pt">Insira o seu número de telefone</Translation>
    <Translation Language="ru">Введите ваш номер телефона</Translation>
    <Translation Language="th">ป้อนหมายเลขโทรศัพท์ของคุณ</Translation>
    <Translation Language="uk">Введіть свій номер телефону</Translation>
    <Translation Language="vi">Nhập số điện thoại của bạn</Translation>
  </Translations>
</Dictionary>