<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e44866c7-3992-4745-bdef-8a1b1914a0e5" Alias="SIP - Page1 - Change" Level="2">
  <Info>
    <Parent>SIP - Page1</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Change</Translation>
    <Translation Language="es">Cambio</Translation>
    <Translation Language="fr">Changer</Translation>
    <Translation Language="he">שינוי</Translation>
    <Translation Language="ms">Ubah</Translation>
    <Translation Language="pt">Alterar</Translation>
    <Translation Language="ru">Изменить</Translation>
    <Translation Language="th">เปลี่ยนแปลง</Translation>
    <Translation Language="uk">Змінити</Translation>
    <Translation Language="vi">Thay đổi</Translation>
  </Translations>
</Dictionary>