<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e877492f-465e-44ac-a398-071bbc7c47f0" Alias="SIP - Page0 - Set a new password" Level="1">
  <Info>
    <Parent>Set A New Password Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Set a new password</Translation>
    <Translation Language="es">Establecer una nueva contraseña</Translation>
    <Translation Language="fr">Définir un nouveau mot de passe</Translation>
    <Translation Language="he">הגדר סיסמה חדשה</Translation>
    <Translation Language="ms">Tetapkan kata laluan baharu</Translation>
    <Translation Language="pt">Definir uma nova palavra-passe</Translation>
    <Translation Language="ru">Установить новый пароль</Translation>
    <Translation Language="th">ตั้งรหัสผ่านใหม่</Translation>
    <Translation Language="uk">Встановіть новий пароль</Translation>
    <Translation Language="vi">Đặt mật khẩu mới</Translation>
  </Translations>
</Dictionary>