<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="197365a6-d603-4777-a1fc-dc87398ed004" Alias="State" Level="2">
  <Info>
    <Parent>Address information</Parent>
  </Info>
  <Translations>
    <Translation Language="en">State</Translation>
    <Translation Language="es">Estado</Translation>
    <Translation Language="fr">État</Translation>
    <Translation Language="he">מדינה</Translation>
    <Translation Language="ms">Negeri</Translation>
    <Translation Language="pt">Estado</Translation>
    <Translation Language="ru">Область</Translation>
    <Translation Language="th">สถานะ</Translation>
    <Translation Language="uk">Область</Translation>
    <Translation Language="vi">Tiểu bang</Translation>
  </Translations>
</Dictionary>