<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cb370a2d-6cb8-4934-9849-90e3330e3a38" Alias="Status" Level="2">
  <Info>
    <Parent>Page 1</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Status</Translation>
    <Translation Language="es">Estado</Translation>
    <Translation Language="fr">Statut</Translation>
    <Translation Language="he">סטטוס</Translation>
    <Translation Language="ms">Status</Translation>
    <Translation Language="pt">Status</Translation>
    <Translation Language="ru">Статус</Translation>
    <Translation Language="th">สถานะ</Translation>
    <Translation Language="uk">Статус</Translation>
    <Translation Language="vi">Trạng thái</Translation>
  </Translations>
</Dictionary>