<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="87750261-1524-43af-beed-4a437564cba1" Alias="Street" Level="2">
  <Info>
    <Parent>Address information</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Street</Translation>
    <Translation Language="es">Calle</Translation>
    <Translation Language="fr">Rue</Translation>
    <Translation Language="he">רְחוֹב</Translation>
    <Translation Language="ms">Jalan</Translation>
    <Translation Language="pt">Rua</Translation>
    <Translation Language="ru">Улица</Translation>
    <Translation Language="th">ถนน</Translation>
    <Translation Language="uk">Вулиця</Translation>
    <Translation Language="vi">Đường phố</Translation>
  </Translations>
</Dictionary>