<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cbf6fe95-7e6c-4fce-887e-7b31bab46531" Alias="Submit payment" Level="2">
  <Info>
    <Parent>Page 2</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Submit payment</Translation>
    <Translation Language="es">Enviar pago</Translation>
    <Translation Language="fr">Soumettre le paiement</Translation>
    <Translation Language="he">שלם בכרטיס אשראי</Translation>
    <Translation Language="ms">Hantar pembayaran</Translation>
    <Translation Language="pt">Enviar pagamento</Translation>
    <Translation Language="ru">Подтвердить платеж</Translation>
    <Translation Language="th">ส่งการชำระเงิน</Translation>
    <Translation Language="uk">Відправити платіж</Translation>
    <Translation Language="vi">Gửi thanh toán</Translation>
  </Translations>
</Dictionary>