<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="45c41cc5-eb7a-478d-a1ea-3f3b4d60b7d9" Alias="SUP - Page0" Level="1">
  <Info>
    <Parent>Sign Up Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Create account</Translation>
    <Translation Language="es">Crear una cuenta</Translation>
    <Translation Language="fr">Créer un compte</Translation>
    <Translation Language="he">צור חשבון</Translation>
    <Translation Language="ms">Cipta akaun</Translation>
    <Translation Language="pt">Criar conta</Translation>
    <Translation Language="ru">Зарегистрироваться</Translation>
    <Translation Language="th">สร้างบัญชี</Translation>
    <Translation Language="uk">Створити обліковий запис</Translation>
    <Translation Language="vi">Tạo tài khoản</Translation>
  </Translations>
</Dictionary>