<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fb775fb7-4a63-4987-8d02-31dbf85d45d5" Alias="Telegram more info link" Level="1">
  <Info>
    <Parent>Account Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">/blog/en/post/enable-notifications-via-telegram</Translation>
    <Translation Language="es">/blog/es/post/enable-notifications-via-telegram</Translation>
    <Translation Language="fr">/blog/fr/post/enable-notifications-via-telegram</Translation>
    <Translation Language="he">/blog/he/post/enable-notifications-via-telegram</Translation>
    <Translation Language="ms">/blog/en/post/aktifkan-notifikasi-melalui-telegram</Translation>
    <Translation Language="pt">/blog/pt/post/ativar-notificacoes-via-telegram</Translation>
    <Translation Language="ru">/blog/ru/post/enable-notifications-via-telegram</Translation>
    <Translation Language="th">/blog/th/post/enable-notifications-via-telegram</Translation>
    <Translation Language="uk">/blog/uk/post/enable-notifications-via-telegram</Translation>
    <Translation Language="vi">/blog/en/bai-viet/bat-thong-bao-qua-telegram</Translation>
  </Translations>
</Dictionary>