<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="54474393-ad54-4958-9354-a1dd1c1c48f1" Alias="The transaction is in the process of being refunded" Level="1">
  <Info>
    <Parent>Transactions errors</Parent>
  </Info>
  <Translations>
    <Translation Language="en">The transaction is in the process of being refunded</Translation>
    <Translation Language="es">La transacción está en proceso de ser reembolsada</Translation>
    <Translation Language="fr">La transaction est en cours de remboursement</Translation>
    <Translation Language="he">העסקה נמצאת בתהליך החזר כספי</Translation>
    <Translation Language="ms">Transaksi sedang dalam proses pemulangan dana</Translation>
    <Translation Language="pt">A transação está em processo de reembolso</Translation>
    <Translation Language="ru">Транзакция находится в процессе возврата средств</Translation>
    <Translation Language="th">ธุรกรรมอยู่ระหว่างดำเนินการคืนเงิน</Translation>
    <Translation Language="uk">Транзакція знаходиться у процесі повернення коштів</Translation>
    <Translation Language="vi">Giao dịch đang trong quá trình được hoàn tiền</Translation>
  </Translations>
</Dictionary>