<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a8e59512-08f2-40ca-aa86-2c6a25418e6e" Alias="The funds will be transferred to the following payout method" Level="1">
  <Info>
    <Parent>Withdraw Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">The funds will be transferred to the following payout method:</Translation>
    <Translation Language="es">Los fondos se transferirán al siguiente método de pago:</Translation>
    <Translation Language="fr">Les fonds seront transférés selon la méthode de paiement suivante:</Translation>
    <Translation Language="he">הכספים יועברו לפי השיטת תשלום הבאה:</Translation>
    <Translation Language="ms">Dana akan dipindahkan ke kaedah pembayaran berikut:</Translation>
    <Translation Language="pt">Os fundos serão transferidos para o seguinte método de pagamento:</Translation>
    <Translation Language="ru">Средства будут перечислены по следующему методу выплат:</Translation>
    <Translation Language="th">เงินจะถูกโอนไปยังวิธีการรับเงินต่อไปนี้:</Translation>
    <Translation Language="uk">Кошти будуть переведені за наступним методом виплати:</Translation>
    <Translation Language="vi">Số tiền sẽ được chuyển đến phương thức thanh toán sau:</Translation>
  </Translations>
</Dictionary>