<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="46dd40eb-ddeb-4a56-8a9a-18dfd324375c" Alias="There was error processing your payment" Level="1">
  <Info>
    <Parent>WS Errors</Parent>
  </Info>
  <Translations>
    <Translation Language="en">There was error processing your payment</Translation>
    <Translation Language="es">Hubo un error al procesar su pago</Translation>
    <Translation Language="fr">Une erreur est survenue lors du traitement de votre paiement</Translation>
    <Translation Language="he">הייתה שגיאה בעיבוד התשלום שלך</Translation>
    <Translation Language="ms">Terdapat ralat semasa memproses pembayaran anda</Translation>
    <Translation Language="pt">Ocorreu um erro ao processar o seu pagamento</Translation>
    <Translation Language="ru">При обработке вашего платежа произошла ошибка</Translation>
    <Translation Language="th">เกิดข้อผิดพลาดในการประมวลผลการชำระเงินของคุณ</Translation>
    <Translation Language="uk">Під час обробки вашого платежу виникла помилка</Translation>
    <Translation Language="vi">Đã xảy ra lỗi khi xử lý thanh toán của bạn</Translation>
  </Translations>
</Dictionary>