<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="aea0e5b1-1050-425b-a8bd-bed00aad6797" Alias="Time" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Time</Translation>
    <Translation Language="es">Tiempo</Translation>
    <Translation Language="fr">Temps</Translation>
    <Translation Language="he">זמן</Translation>
    <Translation Language="ms">Masa</Translation>
    <Translation Language="pt">Hora</Translation>
    <Translation Language="ru">Время</Translation>
    <Translation Language="th">เวลา</Translation>
    <Translation Language="uk">Час</Translation>
    <Translation Language="vi">Thời gian</Translation>
  </Translations>
</Dictionary>