<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fbf730c1-f5ee-4e66-b03f-35f367ca233b" Alias="Tips for New Players" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Tips for New Players</Translation>
    <Translation Language="es">Tips for New Players</Translation>
    <Translation Language="fr">Tips for New Players</Translation>
    <Translation Language="he">Tips for New Players</Translation>
    <Translation Language="ms">Tips for New Players</Translation>
    <Translation Language="pt">Tips for New Players</Translation>
    <Translation Language="ru">Tips for New Players</Translation>
    <Translation Language="th">Tips for New Players</Translation>
    <Translation Language="uk">Tips for New Players</Translation>
    <Translation Language="vi">Tips for New Players</Translation>
  </Translations>
</Dictionary>