<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6afecf80-ed8b-49af-b4fe-bd571b33f5be" Alias="To confirm" Level="2">
  <Info>
    <Parent>Page 2</Parent>
  </Info>
  <Translations>
    <Translation Language="en">To confirm that you are the authorized owner of the credit card, we will charge a random amount between $1 and $2 to your card. This charge will appear on your credit card statement within a few days.</Translation>
    <Translation Language="es">Para confirmar que usted es el propietario autorizado de la tarjeta de crédito, cargaremos un importe aleatorio entre 1 $ y 2 $ en su tarjeta. Este cargo aparecerá en el extracto de su tarjeta de crédito en unos días.</Translation>
    <Translation Language="fr">Pour confirmer que vous êtes le propriétaire autorisé de la carte de crédit, nous facturerons un montant aléatoire entre 1 $ et 2 $ sur votre carte. Cette charge apparaîtra sur votre relevé de carte de crédit dans quelques jours.</Translation>
    <Translation Language="he">כדי לאמת שאתה הבעלים המורשה של כרטיס האשראי, אנחנו נחייב סכום אקראי בין 1$ ל-2$ לכרטיס שלך. החיוב יופיע בתנועות האשראי שלך בתוך כמה ימים.</Translation>
    <Translation Language="ms">Untuk mengesahkan bahawa anda ialah pemilik kad kredit yang sah, kami akan mengenakan amaun rawak antara $1 dan $2 pada kad anda. Caj ini akan tertera pada penyata kad kredit anda dalam beberapa hari.</Translation>
    <Translation Language="pt">Para confirmar que você é o proprietário autorizado do cartão de crédito, cobraremos um valor aleatório entre US$ 1 e US$ 2 no seu cartão. Essa cobrança aparecerá no extrato do seu cartão de crédito em alguns dias.</Translation>
    <Translation Language="ru">Для подтверждения, что вы являетесь уполномоченным владельцем кредитной карты, мы списываем случайную сумму от 1 до 2 долларов с вашей карты. Этот платеж будет отражен в выписке по кредитной карте через несколько дней.</Translation>
    <Translation Language="th">เพื่อยืนยันว่าคุณเป็นเจ้าของบัตรเครดิตที่ได้รับอนุญาต เราจะเรียกเก็บเงินจำนวนสุ่มระหว่าง $1 ถึง $2 จากบัตรของคุณ การเรียกเก็บเงินนี้จะปรากฏในใบแจ้งยอดบัตรเครดิตของคุณภายในไม่กี่วัน</Translation>
    <Translation Language="uk">Для підтвердження, що ви є уповноваженим власником кредитної картки, ми стягнемо випадкову суму від 1 до 2 доларів з вашої картки. Цей платіж з'явиться в виписці з кредитної картки протягом декількох днів.</Translation>
    <Translation Language="vi">Để xác nhận rằng bạn là chủ sở hữu được ủy quyền của thẻ tín dụng, chúng tôi sẽ tính phí một khoản ngẫu nhiên từ $1 đến $2 vào thẻ của bạn. Khoản phí này sẽ xuất hiện trên bảng sao kê thẻ tín dụng của bạn trong vòng vài ngày.</Translation>
  </Translations>
</Dictionary>