<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="72c02507-d139-4bd4-a27e-e2c7d5d1e65d" Alias="Top Multipliers" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Top Multipliers</Translation>
    <Translation Language="es">Los mejores multiplicadores</Translation>
    <Translation Language="fr">Meilleurs multiplicateurs</Translation>
    <Translation Language="he">המכפילים המובילים</Translation>
    <Translation Language="ms">Pengganda Teratas</Translation>
    <Translation Language="pt">Maiores multiplicadores</Translation>
    <Translation Language="ru">Лучшие множители</Translation>
    <Translation Language="th">ตัวคูณยอดนิยม</Translation>
    <Translation Language="uk">Найкращі множники</Translation>
    <Translation Language="vi">Hệ số nhân hàng đầu</Translation>
  </Translations>
</Dictionary>