<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="02cd6c62-c9f0-4a3b-a5ec-4e21133bbb31" Alias="Topic 3 Phone Verification" Level="2">
  <Info>
    <Parent>F.A.Q Phone Verification</Parent>
  </Info>
  <Translations>
    <Translation Language="en"></Translation>
    <Translation Language="es"></Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="he"></Translation>
    <Translation Language="ru"></Translation>
    <Translation Language="uk"></Translation>
  </Translations>
</Dictionary>