<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fd32d61b-9fce-4550-98a7-ddb4f2511bce" Alias="Topic 2 Phone Verification" Level="2">
  <Info>
    <Parent>F.A.Q Phone Verification</Parent>
  </Info>
  <Translations>
    <Translation Language="en"></Translation>
    <Translation Language="es"></Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="he"></Translation>
    <Translation Language="ru"></Translation>
    <Translation Language="uk"></Translation>
  </Translations>
</Dictionary>