<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="62f6574c-8f23-4d74-86fd-82c27487db8d" Alias="Topic 5 Phone Verification" Level="2">
  <Info>
    <Parent>F.A.Q Phone Verification</Parent>
  </Info>
  <Translations>
    <Translation Language="en"></Translation>
    <Translation Language="es"></Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="he"></Translation>
    <Translation Language="ru"></Translation>
    <Translation Language="uk"></Translation>
  </Translations>
</Dictionary>