<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a786abd1-f218-4478-84ec-4ff51793c1cd" Alias="Topic 4 Phone Verification" Level="2">
  <Info>
    <Parent>F.A.Q Phone Verification</Parent>
  </Info>
  <Translations>
    <Translation Language="en"></Translation>
    <Translation Language="es"></Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="he"></Translation>
    <Translation Language="ru"></Translation>
    <Translation Language="uk"></Translation>
  </Translations>
</Dictionary>