<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9cd02906-68cc-4b48-bb33-5c0b21fde363" Alias="Transaction haven't been found" Level="1">
  <Info>
    <Parent>Transactions errors</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Transaction haven't been found</Translation>
    <Translation Language="es">La transacción no ha sido encontrada</Translation>
    <Translation Language="fr">La transaction n'a pas été trouvée</Translation>
    <Translation Language="he">העסקה לא נמצאה</Translation>
    <Translation Language="ms">Transaksi tidak ditemui</Translation>
    <Translation Language="pt">A transação não foi encontrada</Translation>
    <Translation Language="ru">Транзакция не найдена</Translation>
    <Translation Language="th">ไม่พบธุรกรรม</Translation>
    <Translation Language="uk">Транзакцію не знайдено</Translation>
    <Translation Language="vi">Không tìm thấy giao dịch nào</Translation>
  </Translations>
</Dictionary>