<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c8ad7484-b5f5-4251-9b63-3e233bf7dcf4" Alias="Transaction payment diverges from expected payment sum. Please refresh page and try creating a new payment" Level="1">
  <Info>
    <Parent>Transactions errors</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Transaction payment diverges from expected payment sum. Please refresh page and try creating a new payment</Translation>
    <Translation Language="es">El pago de la transacción difiere de la suma de pago esperada. Por favor, actualice la página e intente crear un nuevo pago</Translation>
    <Translation Language="fr">Le paiement de la transaction diffère de la somme de paiement attendue. Veuillez actualiser la page et essayer de créer un nouveau paiement</Translation>
    <Translation Language="he">תשלום העסקה שונה מסכום התשלום המצופה. אנא רענן את העמוד ונסה ליצור תשלום חדש</Translation>
    <Translation Language="ms">Bayaran transaksi berbeza daripada jumlah bayaran yang dijangkakan. Sila segar semula halaman dan cuba buat bayaran baharu</Translation>
    <Translation Language="pt">O pagamento da transação diverge da soma de pagamento esperada. Atualize a página e tente criar um novo pagamento</Translation>
    <Translation Language="ru">Платеж по транзакции отличается от ожидаемой суммы платежа. Пожалуйста, обновите страницу и попробуйте создать новый платеж</Translation>
    <Translation Language="th">ยอดชำระเงินของธุรกรรมไม่ตรงกับยอดรวมการชำระเงินที่คาดไว้ โปรดรีเฟรชหน้าและลองสร้างการชำระเงินใหม่</Translation>
    <Translation Language="uk">Платіж за транзакцією відрізняється від очікуваної суми платежу. Будь ласка, оновіть сторінку та спробуйте створити новий платіж</Translation>
    <Translation Language="vi">Thanh toán giao dịch khác với tổng số tiền thanh toán dự kiến. Vui lòng làm mới trang và thử tạo một khoản thanh toán mới</Translation>
  </Translations>
</Dictionary>