<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b78e9b2f-a114-42ba-b5a6-6feb6b050ba7" Alias="Transaction have expired. Please try creating a new one" Level="1">
  <Info>
    <Parent>Transactions errors</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Transaction have expired. Please try creating a new one</Translation>
    <Translation Language="es">La transacción ha expirado. Por favor, intente crear una nueva</Translation>
    <Translation Language="fr">La transaction a expiré. Veuillez essayer de créer une nouvelle</Translation>
    <Translation Language="he">העסקה פגה תוקף. אנא נסה ליצור חדשה</Translation>
    <Translation Language="ms">Transaksi telah tamat tempoh. Sila cuba buat yang baharu</Translation>
    <Translation Language="pt">A transação expirou. Por favor, tente criar uma nova</Translation>
    <Translation Language="ru">Срок транзакции истек. Пожалуйста, попробуйте создать новую</Translation>
    <Translation Language="th">ธุรกรรมหมดอายุแล้ว โปรดลองสร้างรายการใหม่</Translation>
    <Translation Language="uk">Термін дії транзакції сплив. Будь ласка, спробуйте створити нову</Translation>
    <Translation Language="vi">Giao dịch đã hết hạn. Vui lòng thử tạo giao dịch mới</Translation>
  </Translations>
</Dictionary>