<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="36d0d3c6-b580-400e-88ad-7a6eeb3054a1" Alias="Transaction have been cancelled. Please try creating a new one" Level="1">
  <Info>
    <Parent>Transactions errors</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Transaction have been cancelled. Please try creating a new one</Translation>
    <Translation Language="es">La transacción ha sido cancelada. Por favor, intente crear una nueva</Translation>
    <Translation Language="fr">La transaction a été annulée. Veuillez essayer d'en créer une nouvelle</Translation>
    <Translation Language="he">העסקה בוטלה. אנא נסה ליצור חדשה</Translation>
    <Translation Language="ms">Transaksi telah dibatalkan. Sila cuba buat yang baharu.</Translation>
    <Translation Language="pt">A transação foi cancelada. Tente criar uma nova.</Translation>
    <Translation Language="ru">Транзакция была отменена. Пожалуйста, попробуйте создать новую</Translation>
    <Translation Language="th">ธุรกรรมถูกยกเลิกแล้ว โปรดลองสร้างรายการใหม่อีกครั้ง</Translation>
    <Translation Language="uk">Транзакцію скасовано. Будь ласка, спробуйте створити нову</Translation>
    <Translation Language="vi">Giao dịch đã bị hủy. Vui lòng thử tạo giao dịch mới</Translation>
  </Translations>
</Dictionary>