<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="22e49b75-d795-4280-9a5f-0ec6cd5c4f02" Alias="Transaction status pooling was to long. Please try refreshing the page" Level="1">
  <Info>
    <Parent>Transactions errors</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Transaction status pooling was to long. Please try refreshing the page </Translation>
    <Translation Language="es">La agrupación del estado de la transacción fue demasiado larga. Por favor, intente refrescar la página</Translation>
    <Translation Language="fr">Le regroupement du statut de la transaction a été trop long. Veuillez essayer de rafraîchir la page</Translation>
    <Translation Language="he">איסוף סטטוס העסקה נמשך זמן רב מדי. אנא נסה לרענן את הדף</Translation>
    <Translation Language="ms">Pengumpulan status transaksi mengambil masa terlalu lama. Sila cuba muat semula halaman</Translation>
    <Translation Language="pt">O tempo de consulta do estado da transação foi demasiado longo. Por favor, tente atualizar a página</Translation>
    <Translation Language="ru">Проверка статуса транзакции заняла слишком много времени. Пожалуйста, попробуйте обновить страницу</Translation>
    <Translation Language="th">การดึงสถานะธุรกรรมใช้เวลานานเกินไป โปรดลองรีเฟรชหน้าอีกครั้ง</Translation>
    <Translation Language="uk">Збір статусу транзакції тривав занадто довго. Будь ласка, спробуйте оновити сторінку</Translation>
    <Translation Language="vi">Thời gian kiểm tra trạng thái giao dịch quá lâu. Vui lòng thử tải lại trang</Translation>
  </Translations>
</Dictionary>