<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="95ea3ab4-7c9b-4fc7-8750-a7e3a90b883a" Alias="Transaction ID" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Transaction ID</Translation>
    <Translation Language="es">Transaction ID</Translation>
    <Translation Language="fr">Transaction ID</Translation>
    <Translation Language="he">Transaction ID</Translation>
    <Translation Language="ms">Transaction ID</Translation>
    <Translation Language="pt">Transaction ID</Translation>
    <Translation Language="ru">Transaction ID</Translation>
    <Translation Language="th">Transaction ID</Translation>
    <Translation Language="uk">Transaction ID</Translation>
    <Translation Language="vi">Transaction ID</Translation>
  </Translations>
</Dictionary>