<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="770a3b47-95f7-4a53-87e5-f3309c25865f" Alias="Transaction has not been completed and still opened. Please try creating a new one or refresh the page for status check" Level="1">
  <Info>
    <Parent>Transactions errors</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Transaction has not been completed and still opened. Please try creating a new one or refresh the page for status check.</Translation>
    <Translation Language="es">La transacción no se ha completado y sigue abierta. Intenta crear una nueva o actualiza la página para verificar el estado.</Translation>
    <Translation Language="fr">La transaction n'a pas été complétée et reste ouverte. Veuillez essayer de créer une nouvelle transaction ou rafraîchir la page pour vérifier l'état.</Translation>
    <Translation Language="he">העסקה לא הושלמה והיא עדיין פתוחה. נא לנסות ליצור עסקה חדשה או לרענן את הדף כדי לבדוק את הסטטוס.</Translation>
    <Translation Language="ms">Transaksi belum selesai dan masih terbuka. Sila cuba buat yang baharu atau muat semula halaman untuk semakan status.</Translation>
    <Translation Language="pt">A transação não foi concluída e ainda está aberta. Por favor, tente criar uma nova ou atualize a página para verificar o status.</Translation>
    <Translation Language="ru">Транзакция не была завершена и всё ещё открыта. Пожалуйста, попробуйте создать новую или обновите страницу для проверки статуса.</Translation>
    <Translation Language="th">ธุรกรรมยังไม่เสร็จสมบูรณ์และยังคงเปิดอยู่ โปรดลองสร้างรายการใหม่หรือรีเฟรชหน้าเพื่อตรวจสอบสถานะ</Translation>
    <Translation Language="uk">Транзакція не була завершена і досі відкрита. Спробуйте створити нову або оновіть сторінку, щоб перевірити статус.</Translation>
    <Translation Language="vi">Giao dịch chưa được hoàn tất và vẫn đang mở. Vui lòng thử tạo giao dịch mới hoặc làm mới trang để kiểm tra trạng thái.</Translation>
  </Translations>
</Dictionary>