<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c4599eeb-d425-4efe-9bf5-f420237277f6" Alias="Transactions errors" Level="0">
  <Info />
  <Translations>
    <Translation Language="en"></Translation>
    <Translation Language="es"></Translation>
    <Translation Language="fr"></Translation>
    <Translation Language="he"></Translation>
    <Translation Language="ru"></Translation>
    <Translation Language="uk"></Translation>
  </Translations>
</Dictionary>