<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2a85ea1a-2de2-4153-a08e-8f45fefc7de5" Alias="Transactions" Level="1">
  <Info>
    <Parent>Withdraw Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Transactions</Translation>
    <Translation Language="es">Transacciones</Translation>
    <Translation Language="fr">Transactions</Translation>
    <Translation Language="he">עסקאות</Translation>
    <Translation Language="ms">Transaksi</Translation>
    <Translation Language="pt">Transações</Translation>
    <Translation Language="ru">Транзакции</Translation>
    <Translation Language="th">ธุรกรรม</Translation>
    <Translation Language="uk">Транзакції</Translation>
    <Translation Language="vi">Giao dịch</Translation>
  </Translations>
</Dictionary>