<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1ab075fb-6a9d-44da-8c9d-1e0bf7ad9928" Alias="Type" Level="1">
  <Info>
    <Parent>Subscriptions Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Type</Translation>
    <Translation Language="es">Tipo</Translation>
    <Translation Language="fr">Type</Translation>
    <Translation Language="he">סוג</Translation>
    <Translation Language="ms">Taip</Translation>
    <Translation Language="pt">Tipo</Translation>
    <Translation Language="ru">Тип</Translation>
    <Translation Language="th">ประเภท</Translation>
    <Translation Language="uk">Тип</Translation>
    <Translation Language="vi">Loại</Translation>
  </Translations>
</Dictionary>