<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b2c6bb38-6f77-46d6-862b-d3d8c31095f5" Alias="Unknown" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Unknown</Translation>
    <Translation Language="es">Unknown</Translation>
    <Translation Language="fr">Unknown</Translation>
    <Translation Language="he">Unknown</Translation>
    <Translation Language="ms">Unknown</Translation>
    <Translation Language="pt">Unknown</Translation>
    <Translation Language="ru">Unknown</Translation>
    <Translation Language="th">Unknown</Translation>
    <Translation Language="uk">Unknown</Translation>
    <Translation Language="vi">Unknown</Translation>
  </Translations>
</Dictionary>