<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="83926605-a39c-4daf-94fb-a02baaf1d3f3" Alias="Update failed" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Update failed</Translation>
    <Translation Language="es">Update failed</Translation>
    <Translation Language="fr">Update failed</Translation>
    <Translation Language="he">Update failed</Translation>
    <Translation Language="ms">Update failed</Translation>
    <Translation Language="pt">Update failed</Translation>
    <Translation Language="ru">Update failed</Translation>
    <Translation Language="th">Update failed</Translation>
    <Translation Language="uk">Update failed</Translation>
    <Translation Language="vi">Update failed</Translation>
  </Translations>
</Dictionary>