<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2e907a11-20e6-4beb-8650-9f5f2480d734" Alias="Upload" Level="2">
  <Info>
    <Parent>Page 1</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Upload</Translation>
    <Translation Language="es">Subir</Translation>
    <Translation Language="fr">Télécharger</Translation>
    <Translation Language="he">העלה</Translation>
    <Translation Language="ms">Muat naik</Translation>
    <Translation Language="pt">Carregar</Translation>
    <Translation Language="ru">Загрузить</Translation>
    <Translation Language="th">อัปโหลด</Translation>
    <Translation Language="uk">Завантажити</Translation>
    <Translation Language="vi">Tải lên</Translation>
  </Translations>
</Dictionary>