<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cb6f92d2-0c92-4c86-9210-ca62df0d7eb5" Alias="Use a new Credit \ Debit card" Level="1">
  <Info>
    <Parent>Deposit Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Use a Credit \ Debit card</Translation>
    <Translation Language="es">Usa una tarjeta de crédito \ débito</Translation>
    <Translation Language="fr">Utilisez une carte de crédit \ débit</Translation>
    <Translation Language="he">השתמש בכרטיס אשראי \ חיוב</Translation>
    <Translation Language="ms">Gunakan kad Kredit \ Debit</Translation>
    <Translation Language="pt">Use um cartão de crédito \ débito</Translation>
    <Translation Language="ru">Используйте кредитную \ дебетовую карту</Translation>
    <Translation Language="th">ใช้บัตรเครดิต \ บัตรเดบิต</Translation>
    <Translation Language="uk">Використовуйте кредитну \ дебетову картку</Translation>
    <Translation Language="vi">Sử dụng thẻ tín dụng \ thẻ ghi nợ</Translation>
  </Translations>
</Dictionary>