<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c4c3350a-a4d6-4681-ba0e-60a755380cf6" Alias="User" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">User</Translation>
    <Translation Language="es">Usuario</Translation>
    <Translation Language="fr">Utilisateur</Translation>
    <Translation Language="he">משתמש</Translation>
    <Translation Language="ms">Pengguna</Translation>
    <Translation Language="pt">Utilizador</Translation>
    <Translation Language="ru">Пользователь</Translation>
    <Translation Language="th">ผู้ใช้</Translation>
    <Translation Language="uk">Користувач</Translation>
    <Translation Language="vi">Người dùng</Translation>
  </Translations>
</Dictionary>