<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c31c09a7-23ac-4892-8e34-309b2a8f7de0" Alias="User already exists" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">User already exists</Translation>
    <Translation Language="es">El usuario ya existe</Translation>
    <Translation Language="fr">L’utilisateur existe déjà</Translation>
    <Translation Language="he">המשתמש כבר קיים</Translation>
    <Translation Language="ms">Pengguna sudah wujud</Translation>
    <Translation Language="pt">O utilizador já existe</Translation>
    <Translation Language="ru">Пользователь уже существует</Translation>
    <Translation Language="th">ผู้ใช้นี้มีอยู่แล้ว</Translation>
    <Translation Language="uk">Користувач уже існує</Translation>
    <Translation Language="vi">Người dùng đã tồn tại</Translation>
  </Translations>
</Dictionary>