<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5b3528ec-eb02-4d2a-a37b-80830259ecf2" Alias="Valid until" Level="1">
  <Info>
    <Parent>Deposit Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Valid until</Translation>
    <Translation Language="es">Válido hasta</Translation>
    <Translation Language="fr">Valide jusqu'au</Translation>
    <Translation Language="he">תקפה עד</Translation>
    <Translation Language="ms">Sah sehingga</Translation>
    <Translation Language="pt">Válido até</Translation>
    <Translation Language="ru">Действительна до</Translation>
    <Translation Language="th">ใช้ได้จนถึง</Translation>
    <Translation Language="uk">Дійсний до</Translation>
    <Translation Language="vi">Có hiệu lực đến hết</Translation>
  </Translations>
</Dictionary>