<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="af9668a8-6f3c-4808-832f-2846ba165e49" Alias="VEP - Page1 - Enter new email" Level="2">
  <Info>
    <Parent>VEP - Page1</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Enter a new email address</Translation>
    <Translation Language="es">Introduce una nueva dirección de correo electrónico</Translation>
    <Translation Language="fr">Saisissez une nouvelle adresse e-mail</Translation>
    <Translation Language="he">הזן כתובת דוא"ל חדשה</Translation>
    <Translation Language="ms">Masukkan alamat e-mel baharu</Translation>
    <Translation Language="pt">Insira um novo endereço de e-mail</Translation>
    <Translation Language="ru">Введите новый адрес электронной почты</Translation>
    <Translation Language="th">ป้อนที่อยู่อีเมลใหม่</Translation>
    <Translation Language="uk">Введіть нову електронну адресу</Translation>
    <Translation Language="vi">Nhập địa chỉ email mới</Translation>
  </Translations>
</Dictionary>