<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="46f8b8c3-7d0c-41a5-94f6-efcd1cad0bdf" Alias="VEP - Page0 - Email problem" Level="2">
  <Info>
    <Parent>VEP - Page0</Parent>
  </Info>
  <Translations>
    <Translation Language="en">We encountered a problem confirming your email. Please try again.</Translation>
    <Translation Language="es">Encontramos un problema al confirmar su correo electrónico. Inténtalo de nuevo.</Translation>
    <Translation Language="fr">Nous avons rencontré un problème lors de la confirmation de votre e-mail. Veuillez réessayer.</Translation>
    <Translation Language="he">נתקלנו בבעיה באישור הדוא"ל שלך. בבקשה נסה שוב.</Translation>
    <Translation Language="ms">Kami menghadapi masalah untuk mengesahkan e-mel anda. Sila cuba lagi.</Translation>
    <Translation Language="pt">Encontrámos um problema ao confirmar o seu e-mail. Por favor, tente novamente.</Translation>
    <Translation Language="ru">Мы столкнулись с проблемой подтверждения вашего адреса электронной почты. Пожалуйста, попробуйте еще раз.</Translation>
    <Translation Language="th">เราพบปัญหาในการยืนยันอีเมลของคุณ โปรดลองอีกครั้ง</Translation>
    <Translation Language="uk">Ми зіткнулися з проблемою підтвердження вашої електронної пошти. Будь ласка спробуйте ще раз.</Translation>
    <Translation Language="vi">Chúng tôi đã gặp sự cố khi xác nhận email của bạn. Vui lòng thử lại.</Translation>
  </Translations>
</Dictionary>