<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a86bba99-61b3-45f0-b556-3183da897e91" Alias="VEP - Page1 - Later Confirm" Level="2">
  <Info>
    <Parent>VEP - Page1</Parent>
  </Info>
  <Translations>
    <Translation Language="en">An latter with a confirmation code will be sent to this email address</Translation>
    <Translation Language="es">Se enviará un último con un código de confirmación a esta dirección de correo electrónico.</Translation>
    <Translation Language="fr">Un dernier avec un code de confirmation sera envoyé à cette adresse email</Translation>
    <Translation Language="he">אחרון עם קוד אישור יישלח לכתובת דוא"ל זו</Translation>
    <Translation Language="ms">Sepucuk surat dengan kod pengesahan akan dihantar ke alamat e-mel ini</Translation>
    <Translation Language="pt">Uma carta com um código de confirmação será enviada para este endereço de e-mail</Translation>
    <Translation Language="ru">На этот адрес электронной почты будет отправлено письмо с кодом подтверждения.</Translation>
    <Translation Language="th">จดหมายพร้อมรหัสยืนยันจะถูกส่งไปยังที่อยู่อีเมลนี้</Translation>
    <Translation Language="uk">Останній із кодом підтвердження буде надіслано на цю електронну адресу</Translation>
    <Translation Language="vi">Một thư có mã xác nhận sẽ được gửi đến địa chỉ email này</Translation>
  </Translations>
</Dictionary>