<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="de030ea7-2c00-4b5c-9d7a-b3e0537eec78" Alias="VEP - Need Help Link" Level="1">
  <Info>
    <Parent>Verify Email Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">/blog/en/post/why-verify-your-email-on-our-site </Translation>
    <Translation Language="es">/blog/es/post/why-verify-your-email-on-our-site </Translation>
    <Translation Language="fr">/blog/fr/post/why-verify-your-email-on-our-site </Translation>
    <Translation Language="he">/blog/he/post/why-verify-your-email-on-our-site </Translation>
    <Translation Language="ms">/blog/en/post/mengapa-sahkan-e-mel-anda-di-laman-kami</Translation>
    <Translation Language="pt">/blog/pt/post/por-que-verificar-seu-e-mail-em-nosso-site</Translation>
    <Translation Language="ru">/blog/ru/post/why-verify-your-email-on-our-site </Translation>
    <Translation Language="th">/blog/th/post/ทำไมต้องยืนยันอีเมลของคุณบนเว็บไซต์ของเรา</Translation>
    <Translation Language="uk">/blog/uk/post/why-verify-your-email-on-our-site </Translation>
    <Translation Language="vi">/blog/vi/post/tai-sao-xac-minh-email-cua-ban-tren-trang-web-cua-chung-toi</Translation>
  </Translations>
</Dictionary>