<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="806fc466-157e-41e2-9590-3e1b5b060c64" Alias="VEP - Page0 - Email verified 1" Level="2">
  <Info>
    <Parent>VEP - Page0</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Thank you for verifying your email address.</Translation>
    <Translation Language="es">Gracias por verificar tu dirección de correo electrónico.</Translation>
    <Translation Language="fr">Merci d'avoir vérifié votre adresse e-mail.</Translation>
    <Translation Language="he">תודה שאימתת את כתובת האימייל שלך.</Translation>
    <Translation Language="ms">Terima kasih kerana mengesahkan alamat e-mel anda.</Translation>
    <Translation Language="pt">Obrigado por verificar o seu endereço de e-mail.</Translation>
    <Translation Language="ru">Спасибо за подтверждение вашего адреса электронной почты.</Translation>
    <Translation Language="th">ขอบคุณที่ยืนยันที่อยู่อีเมลของคุณแล้ว</Translation>
    <Translation Language="uk">Дякуємо за підтвердження вашої електронної адреси.</Translation>
    <Translation Language="vi">Cảm ơn bạn đã xác minh địa chỉ email của mình.</Translation>
  </Translations>
</Dictionary>