<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c1dd40fc-afe9-49f8-a25e-ed1d8e7338ac" Alias="VEP - Page1 - Title" Level="2">
  <Info>
    <Parent>VEP - Page1</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Changing the email address</Translation>
    <Translation Language="es">Cambiar la dirección de correo electrónico</Translation>
    <Translation Language="fr">Modification de l'adresse e-mail</Translation>
    <Translation Language="he">שינוי כתובת המייל</Translation>
    <Translation Language="ms">Menukar alamat e-mel</Translation>
    <Translation Language="pt">Alterar o endereço de e-mail</Translation>
    <Translation Language="ru">Изменение адреса электронной почты</Translation>
    <Translation Language="th">การเปลี่ยนแปลงที่อยู่อีเมล</Translation>
    <Translation Language="uk">Зміна електронної адреси</Translation>
    <Translation Language="vi">Thay đổi địa chỉ email</Translation>
  </Translations>
</Dictionary>