<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bb8fb3da-b93a-4e5a-9d13-f889d9432a15" Alias="VEP - Need Help" Level="1">
  <Info>
    <Parent>Verify Email Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Need help?</Translation>
    <Translation Language="es">¿Necesitas ayuda?</Translation>
    <Translation Language="fr">Besoin d'aide?</Translation>
    <Translation Language="he">זקוק לעזרה?</Translation>
    <Translation Language="ms">Perlukan bantuan?</Translation>
    <Translation Language="pt">Precisa de ajuda?</Translation>
    <Translation Language="ru">Нужна помощь?</Translation>
    <Translation Language="th">ต้องการความช่วยเหลือไหม?</Translation>
    <Translation Language="uk">Потрібна допомога?</Translation>
    <Translation Language="vi">Cần trợ giúp?</Translation>
  </Translations>
</Dictionary>