<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e707abcd-0516-434b-a1bb-53735460dea6" Alias="Verify with Telegram" Level="2">
  <Info>
    <Parent>VPP - Page0</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Verify with Telegram</Translation>
    <Translation Language="es">Verificar con Telegram</Translation>
    <Translation Language="fr">Vérifier avec Telegram</Translation>
    <Translation Language="he">אמת את מספר הטלפון שלך דרך טלגראם </Translation>
    <Translation Language="ms">Sahkan dengan Telegram</Translation>
    <Translation Language="pt">Verificar com o Telegram</Translation>
    <Translation Language="ru">Подтвердить с помощью Telegram</Translation>
    <Translation Language="th">ยืนยันด้วย Telegram</Translation>
    <Translation Language="uk">Перевірити за допомогою Telegram</Translation>
    <Translation Language="vi">Xác minh bằng Telegram</Translation>
  </Translations>
</Dictionary>