<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="01f51a8a-aadf-4af0-bc65-1f33defd7a8d" Alias="Verification" Level="1">
  <Info>
    <Parent>Account Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Verification</Translation>
    <Translation Language="es">Verificación</Translation>
    <Translation Language="fr">Vérification</Translation>
    <Translation Language="he">אימות</Translation>
    <Translation Language="ms">Pengesahan</Translation>
    <Translation Language="pt">Verificação</Translation>
    <Translation Language="ru">Верификация</Translation>
    <Translation Language="th">การยืนยัน</Translation>
    <Translation Language="uk">Верифікація</Translation>
    <Translation Language="vi">Xác minh</Translation>
  </Translations>
</Dictionary>