<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e9f91652-4134-4197-8896-d824d3bb9280" Alias="Verify" Level="2">
  <Info>
    <Parent>Page 1</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Verify</Translation>
    <Translation Language="es">Verificar</Translation>
    <Translation Language="fr">Vérifier</Translation>
    <Translation Language="he">אמת</Translation>
    <Translation Language="ms">Sahkan</Translation>
    <Translation Language="pt">Verificar</Translation>
    <Translation Language="ru">Подтвердить</Translation>
    <Translation Language="th">ยืนยัน</Translation>
    <Translation Language="uk">Підтвердити</Translation>
    <Translation Language="vi">Xác minh</Translation>
  </Translations>
</Dictionary>