<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="be2f75d6-e6db-4543-8b36-f7da5039db5c" Alias="Verified" Level="1">
  <Info>
    <Parent>Personal Info Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Verified</Translation>
    <Translation Language="es">Verificado</Translation>
    <Translation Language="fr">Vérifié</Translation>
    <Translation Language="he">מְאוּמָת</Translation>
    <Translation Language="ms">Disahkan</Translation>
    <Translation Language="pt">Verificado</Translation>
    <Translation Language="ru">Проверено</Translation>
    <Translation Language="th">ยืนยันแล้ว</Translation>
    <Translation Language="uk">Перевірено</Translation>
    <Translation Language="vi">Đã xác minh</Translation>
  </Translations>
</Dictionary>