<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="95b3cf91-6d5b-44cc-ad36-712ac1d1863d" Alias="Verify with Whatsapp" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Verify with Whatsapp</Translation>
    <Translation Language="es">Verificar con WhatsApp</Translation>
    <Translation Language="fr">Vérifiez avec WhatsApp</Translation>
    <Translation Language="he">אימות באמצעות WhatsApp</Translation>
    <Translation Language="ms">Sahkan dengan WhatsApp</Translation>
    <Translation Language="pt">Verificar com o WhatsApp</Translation>
    <Translation Language="ru">Подтвердите с помощью WhatsApp</Translation>
    <Translation Language="th">ยืนยันด้วย WhatsApp</Translation>
    <Translation Language="uk">Підтвердити через WhatsApp</Translation>
    <Translation Language="vi">Xác minh bằng Whatsapp</Translation>
  </Translations>
</Dictionary>