<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fd948ede-2a43-4646-a0cb-fa82e7c9bed6" Alias="Verification amount is not match" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Verification amount is not match</Translation>
    <Translation Language="es">El importe de verificación no coincide</Translation>
    <Translation Language="fr">Le montant de vérification ne correspond pas</Translation>
    <Translation Language="he">סכום האימות אינו תואם</Translation>
    <Translation Language="ms">Jumlah pengesahan tidak sepadan</Translation>
    <Translation Language="pt">O valor de verificação não corresponde</Translation>
    <Translation Language="ru">Сумма для подтверждения не совпадает</Translation>
    <Translation Language="th">จำนวนเงินสำหรับการตรวจสอบไม่ตรงกัน</Translation>
    <Translation Language="uk">Сума підтвердження не збігається</Translation>
    <Translation Language="vi">Số tiền xác minh không khớp</Translation>
  </Translations>
</Dictionary>