<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="78bcc851-878e-46db-9618-f1030dff6735" Alias="View" Level="1">
  <Info>
    <Parent>Account Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">View</Translation>
    <Translation Language="es">Ver</Translation>
    <Translation Language="fr">Voir</Translation>
    <Translation Language="he">הצג</Translation>
    <Translation Language="ms">Paparan</Translation>
    <Translation Language="pt">Ver</Translation>
    <Translation Language="ru">Просмотреть</Translation>
    <Translation Language="th">ดู</Translation>
    <Translation Language="uk">Переглянути</Translation>
    <Translation Language="vi">Xem</Translation>
  </Translations>
</Dictionary>