<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="84627d2a-7424-419f-b5e5-52301b62ad98" Alias="View my referal links URL" Level="1">
  <Info>
    <Parent>Personal Info Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">https://affiliates.playerclub365.com/affiliates/en/creative?lid=</Translation>
    <Translation Language="es">https://affiliates.playerclub365.com/affiliates/sp/creative?lid=</Translation>
    <Translation Language="fr">https://affiliates.playerclub365.com/affiliates/fr/creative?lid=</Translation>
    <Translation Language="he">https://affiliates.playerclub365.com/affiliates/he/creative?lid=</Translation>
    <Translation Language="ms">https://affiliates.playerclub365.com/affiliates/ms/creative?lid=</Translation>
    <Translation Language="pt">https://affiliates.playerclub365.com/affiliates/pt/creative?lid=</Translation>
    <Translation Language="ru">https://affiliates.playerclub365.com/affiliates/ru/creative?lid=</Translation>
    <Translation Language="th">https://affiliates.playerclub365.com/affiliates/th/creative?lid=</Translation>
    <Translation Language="uk">https://affiliates.playerclub365.com/affiliates/uk/creative?lid=</Translation>
    <Translation Language="vi">https://affiliates.playerclub365.com/affiliates/vi/creative?lid=</Translation>
  </Translations>
</Dictionary>