<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="05e26b6b-c57c-4e11-99c9-1894fa958f4a" Alias="View my referral links" Level="1">
  <Info>
    <Parent>Account Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">View my referral links</Translation>
    <Translation Language="es">Ver mis enlaces de referencia</Translation>
    <Translation Language="fr">Voir mes liens de parrainage</Translation>
    <Translation Language="he">צפה בקישורי ההפניה שלי</Translation>
    <Translation Language="ms">Lihat pautan rujukan saya</Translation>
    <Translation Language="pt">Ver os meus links de indicação</Translation>
    <Translation Language="ru">Посмотреть мои ссылки для приглашения</Translation>
    <Translation Language="th">ดู링ก์แนะนำของฉัน</Translation>
    <Translation Language="uk">Переглянути мої посилання на запрошення</Translation>
    <Translation Language="vi">Xem các liên kết giới thiệu của tôi</Translation>
  </Translations>
</Dictionary>