<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="538fe0be-1b8b-449a-8d82-389c3bb052e9" Alias="View All" Level="1">
  <Info>
    <Parent>Account Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">View All</Translation>
    <Translation Language="es">Ver todo</Translation>
    <Translation Language="fr">Voir tout</Translation>
    <Translation Language="he">הצג הכל</Translation>
    <Translation Language="ms">Lihat Semua</Translation>
    <Translation Language="pt">Ver tudo</Translation>
    <Translation Language="ru">Показать все</Translation>
    <Translation Language="th">ดูทั้งหมด</Translation>
    <Translation Language="uk">Показати все</Translation>
    <Translation Language="vi">Xem tất cả</Translation>
  </Translations>
</Dictionary>