<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ce8ce9ff-60fa-41ca-ae04-d8b9fd23422e" Alias="View URL" Level="1">
  <Info>
    <Parent>Personal Info Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">https://affiliates.playerclub365.com/affiliates/en/customers?lid=</Translation>
    <Translation Language="es">https://affiliates.playerclub365.com/affiliates/sp/customers?lid=</Translation>
    <Translation Language="fr">https://affiliates.playerclub365.com/affiliates/fr/customers?lid=</Translation>
    <Translation Language="he">https://affiliates.playerclub365.com/affiliates/he/customers?lid=</Translation>
    <Translation Language="ms">https://affiliates.playerclub365.com/affiliates/ms/customers?lid=</Translation>
    <Translation Language="pt">https://affiliates.playerclub365.com/affiliates/pt/customers?lid=</Translation>
    <Translation Language="ru">https://affiliates.playerclub365.com/affiliates/ru/customers?lid=</Translation>
    <Translation Language="th">https://affiliates.playerclub365.com/affiliates/th/customers?lid=</Translation>
    <Translation Language="uk">https://affiliates.playerclub365.com/affiliates/uk/customers?lid=</Translation>
    <Translation Language="vi">https://affiliates.playerclub365.com/affiliates/vi/customers?lid=</Translation>
  </Translations>
</Dictionary>