<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7c26a411-e63e-4190-9fe7-c039adf83394" Alias="VPP - Invalid Phone Number" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">VPP - Invalid Phone Number</Translation>
    <Translation Language="es">VPP - Invalid Phone Number</Translation>
    <Translation Language="fr">VPP - Invalid Phone Number</Translation>
    <Translation Language="he">VPP - Invalid Phone Number</Translation>
    <Translation Language="ms">VPP - Invalid Phone Number</Translation>
    <Translation Language="pt">VPP - Invalid Phone Number</Translation>
    <Translation Language="ru">VPP - Invalid Phone Number</Translation>
    <Translation Language="th">VPP - Invalid Phone Number</Translation>
    <Translation Language="uk">VPP - Invalid Phone Number</Translation>
    <Translation Language="vi">VPP - Invalid Phone Number</Translation>
  </Translations>
</Dictionary>