<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="62ed0843-bea1-4fbf-86d3-283e20e6d7fa" Alias="VPP - Phone Already Registered" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">VPP - Phone Already Registered</Translation>
    <Translation Language="es">VPP - Phone Already Registered</Translation>
    <Translation Language="fr">VPP - Phone Already Registered</Translation>
    <Translation Language="he">VPP - Phone Already Registered</Translation>
    <Translation Language="ms">VPP - Phone Already Registered</Translation>
    <Translation Language="pt">VPP - Phone Already Registered</Translation>
    <Translation Language="ru">VPP - Phone Already Registered</Translation>
    <Translation Language="th">VPP - Phone Already Registered</Translation>
    <Translation Language="uk">VPP - Phone Already Registered</Translation>
    <Translation Language="vi">VPP - Phone Already Registered</Translation>
  </Translations>
</Dictionary>