<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1e1b0230-ba60-4254-a329-1b667e97bb2b" Alias="VPP - Need Help Url" Level="2">
  <Info>
    <Parent>VPP - Need Help</Parent>
  </Info>
  <Translations>
    <Translation Language="en">/blog/en/post/phone-verification-assistance</Translation>
    <Translation Language="es">/blog/es/post/phone-verification-assistance</Translation>
    <Translation Language="fr">/blog/fr/post/phone-verification-assistance</Translation>
    <Translation Language="he">/blog/he/post/phone-verification-assistance</Translation>
    <Translation Language="ms">/blog/en/post/bantuan-pengesahan-telefon</Translation>
    <Translation Language="pt">/blog/pt/post/assistencia-na-verificacao-telefonica</Translation>
    <Translation Language="ru">/blog/ru/post/phone-verification-assistance</Translation>
    <Translation Language="th">/blog/en/post/ความช่วยเหลือในการยืนยันหมายเลขโทรศัพท์</Translation>
    <Translation Language="uk">/blog/uk/post/phone-verification-assistance</Translation>
    <Translation Language="vi">/blog/vi/post/ho-tro-xac-minh-so-dien-thoai</Translation>
  </Translations>
</Dictionary>