<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ef8e5f26-d960-48f0-b574-92f250aa68f3" Alias="VPP-Page01-Code" Level="2">
  <Info>
    <Parent>VPP - Page0</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Enter 6-digit code</Translation>
    <Translation Language="es">Ingrese el código de 6 dígitos</Translation>
    <Translation Language="fr">Entrez le code à 6 chiffres</Translation>
    <Translation Language="he">הקלד קוד בן 6 ספרות</Translation>
    <Translation Language="ms">Masukkan kod 6 digit</Translation>
    <Translation Language="pt">Insira o código de 6 dígitos</Translation>
    <Translation Language="ru">Введите 6-значный код</Translation>
    <Translation Language="th">กรอกรหัส 6 หลัก</Translation>
    <Translation Language="uk">Введіть 6-значний код</Translation>
    <Translation Language="vi">Nhập mã gồm 6 chữ số</Translation>
  </Translations>
</Dictionary>