<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d0c05d3b-f4fd-4172-9c4f-76df368883f0" Alias="VPP - Page0" Level="1">
  <Info>
    <Parent>Verify Phone Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">SMS Verification</Translation>
    <Translation Language="es">Verificación SMS</Translation>
    <Translation Language="fr">Vérification SMS</Translation>
    <Translation Language="he">אימות מספר טלפון בסמס</Translation>
    <Translation Language="ms">Pengesahan SMS</Translation>
    <Translation Language="pt">Verificação por SMS</Translation>
    <Translation Language="ru">SMS-подтверждение</Translation>
    <Translation Language="th">การยืนยันทาง SMS</Translation>
    <Translation Language="uk">SMS підтвердження</Translation>
    <Translation Language="vi">Xác minh SMS</Translation>
  </Translations>
</Dictionary>