<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4b63dae9-7063-41da-8d10-f27cc9a9b303" Alias="VPP - Page0 - We Send" Level="2">
  <Info>
    <Parent>VPP - Page0</Parent>
  </Info>
  <Translations>
    <Translation Language="en">We send SMS to</Translation>
    <Translation Language="es">Nosotros enviamos SMS a</Translation>
    <Translation Language="fr">Nous envoyons des SMS à</Translation>
    <Translation Language="he">אנחנו שולחים SMS ל</Translation>
    <Translation Language="ms">Kami menghantar SMS kepada</Translation>
    <Translation Language="pt">Enviamos SMS para</Translation>
    <Translation Language="ru">Мы отправим смс на</Translation>
    <Translation Language="th">เราส่ง SMS ไปยัง</Translation>
    <Translation Language="uk">Відправляємо смс на</Translation>
    <Translation Language="vi">Chúng tôi gửi SMS tới</Translation>
  </Translations>
</Dictionary>