<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e419a1f3-0302-48c5-a169-5d779fe1f73d" Alias="VPP - Message Not Found" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">VPP - Message Not Found</Translation>
    <Translation Language="es">VPP - Message Not Found</Translation>
    <Translation Language="fr">VPP - Message Not Found</Translation>
    <Translation Language="he">VPP - Message Not Found</Translation>
    <Translation Language="ms">VPP - Message Not Found</Translation>
    <Translation Language="pt">VPP - Message Not Found</Translation>
    <Translation Language="ru">VPP - Message Not Found</Translation>
    <Translation Language="th">VPP - Message Not Found</Translation>
    <Translation Language="uk">VPP - Message Not Found</Translation>
    <Translation Language="vi">VPP - Message Not Found</Translation>
  </Translations>
</Dictionary>