<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5a31d1ff-ee55-4299-aecc-cb85f46eaec3" Alias="VPP - Invalid Verification Code" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">VPP - Invalid Verification Code</Translation>
    <Translation Language="es">VPP - Invalid Verification Code</Translation>
    <Translation Language="fr">VPP - Invalid Verification Code</Translation>
    <Translation Language="he">VPP - Invalid Verification Code</Translation>
    <Translation Language="ms">VPP - Invalid Verification Code</Translation>
    <Translation Language="pt">VPP - Invalid Verification Code</Translation>
    <Translation Language="ru">VPP - Invalid Verification Code</Translation>
    <Translation Language="th">VPP - Invalid Verification Code</Translation>
    <Translation Language="uk">VPP - Invalid Verification Code</Translation>
    <Translation Language="vi">VPP - Invalid Verification Code</Translation>
  </Translations>
</Dictionary>