<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5d1a4d90-f158-4d8e-a3c8-8f2cb3ae62b5" Alias="VPP - Page0 - Send Again Button" Level="2">
  <Info>
    <Parent>VPP - Page0</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Send Again</Translation>
    <Translation Language="es">Enviar de nuevo</Translation>
    <Translation Language="fr">Envoyer à nouveau</Translation>
    <Translation Language="he">שלח שוב</Translation>
    <Translation Language="ms">Hantar Semula</Translation>
    <Translation Language="pt">Enviar novamente</Translation>
    <Translation Language="ru">Отправить еще раз</Translation>
    <Translation Language="th">ส่งอีกครั้ง</Translation>
    <Translation Language="uk">Надіслати ще раз</Translation>
    <Translation Language="vi">Gửi lại</Translation>
  </Translations>
</Dictionary>