<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="be68a22c-1428-4636-9d80-91956abe1793" Alias="VPP - Invalid Credentials" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">VPP - Invalid Credentials</Translation>
    <Translation Language="es">VPP - Invalid Credentials</Translation>
    <Translation Language="fr">VPP - Invalid Credentials</Translation>
    <Translation Language="he">VPP - Invalid Credentials</Translation>
    <Translation Language="ms">VPP - Invalid Credentials</Translation>
    <Translation Language="pt">VPP - Invalid Credentials</Translation>
    <Translation Language="ru">VPP - Invalid Credentials</Translation>
    <Translation Language="th">VPP - Invalid Credentials</Translation>
    <Translation Language="uk">VPP - Invalid Credentials</Translation>
    <Translation Language="vi">VPP - Invalid Credentials</Translation>
  </Translations>
</Dictionary>