<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2108a973-d5ce-4d23-95a8-a432c9fc21c9" Alias="VPP - Mobile Not Found" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">VPP - Mobile Not Found</Translation>
    <Translation Language="es">VPP - Mobile Not Found</Translation>
    <Translation Language="fr">VPP - Mobile Not Found</Translation>
    <Translation Language="he">VPP - Mobile Not Found</Translation>
    <Translation Language="ms">VPP - Mobile Not Found</Translation>
    <Translation Language="pt">VPP - Mobile Not Found</Translation>
    <Translation Language="ru">VPP - Mobile Not Found</Translation>
    <Translation Language="th">VPP - Mobile Not Found</Translation>
    <Translation Language="uk">VPP - Mobile Not Found</Translation>
    <Translation Language="vi">VPP - Mobile Not Found</Translation>
  </Translations>
</Dictionary>