<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="009ce344-ef23-4c58-87cc-4a4e012b37dd" Alias="VPP - Page0 - Change Button" Level="2">
  <Info>
    <Parent>VPP - Page0</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Change</Translation>
    <Translation Language="es">Cambio</Translation>
    <Translation Language="fr">Changer</Translation>
    <Translation Language="he">שנה מספר טלפון</Translation>
    <Translation Language="ms">Tukar</Translation>
    <Translation Language="pt">Alterar</Translation>
    <Translation Language="ru">Изменить</Translation>
    <Translation Language="th">เปลี่ยน</Translation>
    <Translation Language="uk">Змінити</Translation>
    <Translation Language="vi">Thay đổi</Translation>
  </Translations>
</Dictionary>