<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="574d180f-cb69-4488-a72d-4816ea521ec5" Alias="VPP - User Not Found" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">VPP - User Not Found</Translation>
    <Translation Language="es">VPP - User Not Found</Translation>
    <Translation Language="fr">VPP - User Not Found</Translation>
    <Translation Language="he">VPP - User Not Found</Translation>
    <Translation Language="ms">VPP - User Not Found</Translation>
    <Translation Language="pt">VPP - User Not Found</Translation>
    <Translation Language="ru">VPP - User Not Found</Translation>
    <Translation Language="th">VPP - User Not Found</Translation>
    <Translation Language="uk">VPP - User Not Found</Translation>
    <Translation Language="vi">VPP - User Not Found</Translation>
  </Translations>
</Dictionary>