<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ba60d772-551c-4529-93d5-6fa7c18fc67a" Alias="VPP - Page0 - Code" Level="2">
  <Info>
    <Parent>VPP - Page0</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Enter 4-digit code</Translation>
    <Translation Language="es">Ingrese el código de 4 dígitos</Translation>
    <Translation Language="fr">Entrez le code à 4 chiffres</Translation>
    <Translation Language="he">הזן קוד בן 4 ספרות</Translation>
    <Translation Language="ms">Masukkan kod 4 digit</Translation>
    <Translation Language="pt">Introduza o código de 4 dígitos</Translation>
    <Translation Language="ru">Введите 4-значный код</Translation>
    <Translation Language="th">กรอกรหัส 4 หลัก</Translation>
    <Translation Language="uk">Введіть 4-значний код</Translation>
    <Translation Language="vi">Nhập mã gồm 4 chữ số</Translation>
  </Translations>
</Dictionary>