<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c5addbcb-2697-4730-abf5-eb315214fe02" Alias="VPP - Page0 - Continue Button" Level="2">
  <Info>
    <Parent>VPP - Page0</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Continue</Translation>
    <Translation Language="es">Continuar</Translation>
    <Translation Language="fr">Continuer</Translation>
    <Translation Language="he">המשך</Translation>
    <Translation Language="ms">Teruskan</Translation>
    <Translation Language="pt">Continuar</Translation>
    <Translation Language="ru">Продолжить</Translation>
    <Translation Language="th">ต่อไป</Translation>
    <Translation Language="uk">Продовжуйте</Translation>
    <Translation Language="vi">Tiếp tục</Translation>
  </Translations>
</Dictionary>