<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5c69e7cd-e883-4436-8ea0-1d408b2f1029" Alias="VPP - Auth Failed" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">VPP - Auth Failed</Translation>
    <Translation Language="es">VPP - Auth Failed</Translation>
    <Translation Language="fr">VPP - Auth Failed</Translation>
    <Translation Language="he">VPP - Auth Failed</Translation>
    <Translation Language="ms">VPP - Auth Failed</Translation>
    <Translation Language="pt">VPP - Auth Failed</Translation>
    <Translation Language="ru">VPP - Auth Failed</Translation>
    <Translation Language="th">VPP - Auth Failed</Translation>
    <Translation Language="uk">VPP - Auth Failed</Translation>
    <Translation Language="vi">VPP - Auth Failed</Translation>
  </Translations>
</Dictionary>