<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="06c6d461-b79f-4db4-b350-6b73bd49f945" Alias="VPP - Unexpected Error" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">VPP - Unexpected Error</Translation>
    <Translation Language="es">VPP - Unexpected Error</Translation>
    <Translation Language="fr">VPP - Unexpected Error</Translation>
    <Translation Language="he">VPP - Unexpected Error</Translation>
    <Translation Language="ms">VPP - Unexpected Error</Translation>
    <Translation Language="pt">VPP - Unexpected Error</Translation>
    <Translation Language="ru">VPP - Unexpected Error</Translation>
    <Translation Language="th">VPP - Unexpected Error</Translation>
    <Translation Language="uk">VPP - Unexpected Error</Translation>
    <Translation Language="vi">VPP - Unexpected Error</Translation>
  </Translations>
</Dictionary>