<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9d761f7f-a2d5-440d-9546-eb4a051e0a1c" Alias="We have sent an WhatsApp to" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">We have sent an WhatsApp to</Translation>
    <Translation Language="es">Hemos enviado un WhatsApp a</Translation>
    <Translation Language="fr">Nous avons envoyé un WhatsApp à</Translation>
    <Translation Language="he">שלחנו הודעת WhatsApp אל</Translation>
    <Translation Language="ms">Kami telah menghantar WhatsApp kepada</Translation>
    <Translation Language="pt">Enviámos uma mensagem de WhatsApp para</Translation>
    <Translation Language="ru">Мы отправили WhatsApp на</Translation>
    <Translation Language="th">เราได้ส่ง WhatsApp ไปยัง</Translation>
    <Translation Language="uk">Ми надіслали повідомлення у WhatsApp на</Translation>
    <Translation Language="vi">Chúng tôi đã gửi một tin nhắn WhatsApp đến</Translation>
  </Translations>
</Dictionary>