<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b3bcb6a6-5e84-4b16-9378-e41798627f82" Alias="We have sent an SMS to" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">We have sent an SMS to</Translation>
    <Translation Language="es">Hemos enviado un SMS a</Translation>
    <Translation Language="fr">Nous avons envoyé un SMS à</Translation>
    <Translation Language="he">שלחנו הודעת SMS אל</Translation>
    <Translation Language="ms">Kami telah menghantar SMS kepada</Translation>
    <Translation Language="pt">Enviámos um SMS para</Translation>
    <Translation Language="ru">Мы отправили SMS на</Translation>
    <Translation Language="th">เราได้ส่ง SMS ไปยัง</Translation>
    <Translation Language="uk">Ми надіслали SMS на</Translation>
    <Translation Language="vi">Chúng tôi đã gửi một tin nhắn SMS tới</Translation>
  </Translations>
</Dictionary>