<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f8b37314-6883-4d04-afd7-e2fdfe1dff32" Alias="Welcome Back" Level="1">
  <Info>
    <Parent>Account Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Welcome Back</Translation>
    <Translation Language="es">Bienvenido de nuevo</Translation>
    <Translation Language="fr">Bienvenue de retour</Translation>
    <Translation Language="he">ברוך הבא</Translation>
    <Translation Language="ms">Selamat Kembali</Translation>
    <Translation Language="pt">Bem-vindo de volta</Translation>
    <Translation Language="ru">С возвращением</Translation>
    <Translation Language="th">ยินดีต้อนรับกลับมา</Translation>
    <Translation Language="uk">Ласкаво просимо назад</Translation>
    <Translation Language="vi">Chào mừng bạn quay trở lại</Translation>
  </Translations>
</Dictionary>