<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3eba0ebb-a907-4a9c-aabc-bab935d85538" Alias="WELCOME OFFER" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">WELCOME OFFER</Translation>
    <Translation Language="es">OFERTA DE BIENVENIDA</Translation>
    <Translation Language="fr">OFFRE DE BIENVENUE</Translation>
    <Translation Language="he">הצעת הצטרפות</Translation>
    <Translation Language="ms">TAWARAN SELAMAT DATANG</Translation>
    <Translation Language="pt">OFERTA DE BOAS-VINDAS</Translation>
    <Translation Language="ru">ПРИВЕТСТВЕННОЕ ПРЕДЛОЖЕНИЕ</Translation>
    <Translation Language="th">ข้อเสนอต้อนรับ</Translation>
    <Translation Language="uk">ВІТАЛЬНА ПРОПОЗИЦІЯ</Translation>
    <Translation Language="vi">ƯU ĐÃI CHÀO MỪNG</Translation>
  </Translations>
</Dictionary>