<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="473b4259-3694-4675-8b6c-7b107591db88" Alias="We're working on something amazing!" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">We're working on something amazing!</Translation>
    <Translation Language="es">¡Estamos trabajando en algo increíble!</Translation>
    <Translation Language="fr">Nous travaillons sur quelque chose d’incroyable !</Translation>
    <Translation Language="he">אנחנו עובדים על משהו מדהים!</Translation>
    <Translation Language="ms">Kami sedang mengusahakan sesuatu yang menakjubkan!</Translation>
    <Translation Language="pt">Estamos trabalhando em algo incrível!</Translation>
    <Translation Language="ru">Мы работаем над чем-то потрясающим!</Translation>
    <Translation Language="th">เรากำลังทำงานกับสิ่งที่น่าทึ่งอยู่!</Translation>
    <Translation Language="uk">Ми працюємо над чимось неймовірним!</Translation>
    <Translation Language="vi">Chúng tôi đang thực hiện một điều tuyệt vời!</Translation>
  </Translations>
</Dictionary>