<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4e55fb8b-aebc-45d2-bb5f-6256088ee191" Alias="What our players say" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">What our players say</Translation>
    <Translation Language="es">Lo que dicen nuestros jugadores</Translation>
    <Translation Language="fr">Ce que disent nos joueurs</Translation>
    <Translation Language="he">מה השחקנים שלנו אומרים</Translation>
    <Translation Language="ms">Apa yang pemain kami katakan</Translation>
    <Translation Language="pt">O que os nossos jogadores dizem</Translation>
    <Translation Language="ru">Что говорят наши игроки</Translation>
    <Translation Language="th">ผู้เล่นของเราพูดว่าอะไร</Translation>
    <Translation Language="uk">Що кажуть наші гравці</Translation>
    <Translation Language="vi">Người chơi của chúng tôi nói gì</Translation>
  </Translations>
</Dictionary>