<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1f160498-c065-4075-ae15-cc7934e64018" Alias="Why Choose PlayerClub365" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Why Choose PlayerClub365</Translation>
    <Translation Language="es">Why Choose PlayerClub365</Translation>
    <Translation Language="fr">Why Choose PlayerClub365</Translation>
    <Translation Language="he">Why Choose PlayerClub365</Translation>
    <Translation Language="ms">Why Choose PlayerClub365</Translation>
    <Translation Language="pt">Why Choose PlayerClub365</Translation>
    <Translation Language="ru">Why Choose PlayerClub365</Translation>
    <Translation Language="th">Why Choose PlayerClub365</Translation>
    <Translation Language="uk">Why Choose PlayerClub365</Translation>
    <Translation Language="vi">Why Choose PlayerClub365</Translation>
  </Translations>
</Dictionary>