<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6d4428e8-f6a6-4a53-8323-7018cdab4fa0" Alias="Win" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Win</Translation>
    <Translation Language="es">Win</Translation>
    <Translation Language="fr">Win</Translation>
    <Translation Language="he">Win</Translation>
    <Translation Language="ms">Win</Translation>
    <Translation Language="pt">Win</Translation>
    <Translation Language="ru">Win</Translation>
    <Translation Language="th">Win</Translation>
    <Translation Language="uk">Win</Translation>
    <Translation Language="vi">Win</Translation>
  </Translations>
</Dictionary>