<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="843a5b2a-7a45-4ae2-ad59-9df3ed756051" Alias="Withdraw" Level="1">
  <Info>
    <Parent>Account Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Withdraw</Translation>
    <Translation Language="es">Retirar</Translation>
    <Translation Language="fr">Retrait</Translation>
    <Translation Language="he">משיכה</Translation>
    <Translation Language="ms">Pengeluaran</Translation>
    <Translation Language="pt">Levantar</Translation>
    <Translation Language="ru">Вывод</Translation>
    <Translation Language="th">ถอนออก</Translation>
    <Translation Language="uk">Вивід</Translation>
    <Translation Language="vi">Rút tiền</Translation>
  </Translations>
</Dictionary>