<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9b4a5e47-ff22-4296-82c8-007939688a96" Alias="Withdrawal of funds by" Level="1">
  <Info>
    <Parent>Withdraw Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Withdraw of funds {}</Translation>
    <Translation Language="es">Retiro de fondos {}</Translation>
    <Translation Language="fr">Retrait de fonds {}</Translation>
    <Translation Language="he">משיכת כספים {}</Translation>
    <Translation Language="ms">Pengeluaran dana {}</Translation>
    <Translation Language="pt">Levantamento de fundos {}</Translation>
    <Translation Language="ru">Вывод средств {}</Translation>
    <Translation Language="th">ถอนเงิน {}</Translation>
    <Translation Language="uk">Вивід коштів {}</Translation>
    <Translation Language="vi">Rút tiền {}</Translation>
  </Translations>
</Dictionary>