<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ad30759b-5594-4bd1-96b1-4e8595650d98" Alias="Withdraw commission" Level="1">
  <Info>
    <Parent>Withdraw Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Withdraw commission:</Translation>
    <Translation Language="es">Comisión de retiro:</Translation>
    <Translation Language="fr">Commission de retrait :</Translation>
    <Translation Language="he">משיכת עמלה:</Translation>
    <Translation Language="ms">Keluarkan komisen:</Translation>
    <Translation Language="pt">Retirar comissão:</Translation>
    <Translation Language="ru">Комиссия на вывод:</Translation>
    <Translation Language="th">ถอนคอมมิชชั่น:</Translation>
    <Translation Language="uk">Зняти комісію:</Translation>
    <Translation Language="vi">Rút hoa hồng:</Translation>
  </Translations>
</Dictionary>