<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="221ee4d3-61dc-4e5c-b368-983d39d288fb" Alias="Yes" Level="1">
  <Info>
    <Parent>WPCB</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Yes</Translation>
    <Translation Language="es">Sí</Translation>
    <Translation Language="fr">Oui</Translation>
    <Translation Language="he">כן</Translation>
    <Translation Language="ms">Ya</Translation>
    <Translation Language="pt">Sim</Translation>
    <Translation Language="ru">Да</Translation>
    <Translation Language="th">ใช่</Translation>
    <Translation Language="uk">Так</Translation>
    <Translation Language="vi">Có</Translation>
  </Translations>
</Dictionary>