<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="560dc268-b972-4a53-99de-2a555877a8a7" Alias="You should confirm you passport to withdraw funds" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">You should confirm you passport to withdraw funds</Translation>
    <Translation Language="es">Debe confirmar su pasaporte para retirar fondos</Translation>
    <Translation Language="fr">Vous devriez confirmer votre passeport pour retirer des fonds</Translation>
    <Translation Language="he">עליך לאשר את הדרכון שלך כדי למשוך כספים</Translation>
    <Translation Language="ms">Anda perlu mengesahkan pasport anda untuk mengeluarkan dana</Translation>
    <Translation Language="pt">Deve confirmar o seu passaporte para levantar fundos</Translation>
    <Translation Language="ru">Вам следует подтвердить свой паспорт, чтобы вывести средства</Translation>
    <Translation Language="th">คุณควรยืนยันหนังสือเดินทางของคุณเพื่อถอนเงิน</Translation>
    <Translation Language="uk">Ви повинні підтвердити свій паспорт, щоб вивести кошти</Translation>
    <Translation Language="vi">Bạn nên xác nhận hộ chiếu của mình để rút tiền</Translation>
  </Translations>
</Dictionary>