<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0111cda2-7148-4f08-a751-46385f4273e4" Alias="You have successfully deposited" Level="1">
  <Info>
    <Parent>Withdraw Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">You have successfully deposited</Translation>
    <Translation Language="es">Has realizado un depósito con éxito</Translation>
    <Translation Language="fr">Vous avez effectué un dépôt avec succès</Translation>
    <Translation Language="he">הפקדת בהצלחה</Translation>
    <Translation Language="ms">Anda telah berjaya membuat deposit</Translation>
    <Translation Language="pt">Depósito efetuado com sucesso</Translation>
    <Translation Language="ru">Вы успешно внесли депозит</Translation>
    <Translation Language="th">คุณได้ฝากเงินสำเร็จแล้ว</Translation>
    <Translation Language="uk">Ви успішно здійснили внесок</Translation>
    <Translation Language="vi">Bạn đã nạp tiền thành công</Translation>
  </Translations>
</Dictionary>