<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="80498201-e17a-436b-843a-ef67f07d33de" Alias="You have successfully withdraw" Level="1">
  <Info>
    <Parent>Withdraw Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">You have successfully withdraw</Translation>
    <Translation Language="es">Has retirado con éxito</Translation>
    <Translation Language="fr">Vous avez réussi votre retrait</Translation>
    <Translation Language="he">פרשת בהצלחה</Translation>
    <Translation Language="ms">Anda telah berjaya membuat pengeluaran</Translation>
    <Translation Language="pt">Você realizou o saque com sucesso</Translation>
    <Translation Language="ru">Вы успешно вывели</Translation>
    <Translation Language="th">คุณได้ถอนเงินสำเร็จแล้ว</Translation>
    <Translation Language="uk">Ви успішно зняли рахунок</Translation>
    <Translation Language="vi">Bạn đã rút tiền thành công</Translation>
  </Translations>
</Dictionary>