<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="83c19ea5-3c49-4fb7-b3c6-7a57dabaa37e" Alias="Your winnings balance" Level="1">
  <Info>
    <Parent>Account Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Your winnings balance</Translation>
    <Translation Language="es">Tu saldo de ganancias</Translation>
    <Translation Language="fr">Votre solde de gains</Translation>
    <Translation Language="he">היתרת זכיות שלך</Translation>
    <Translation Language="ms">Baki kemenangan anda</Translation>
    <Translation Language="pt">O seu saldo de ganhos</Translation>
    <Translation Language="ru">Ваш баланс выигрышей</Translation>
    <Translation Language="th">ยอดเงินรางวัลของคุณ</Translation>
    <Translation Language="uk">Ваш баланс виграшів
</Translation>
    <Translation Language="vi">Số dư tiền thắng của bạn</Translation>
  </Translations>
</Dictionary>