<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9c85a0a1-bce1-4553-af2b-edd34ea1708f" Alias="Your available balance" Level="1">
  <Info>
    <Parent>Account Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Your available balance</Translation>
    <Translation Language="es">Tu saldo disponible</Translation>
    <Translation Language="fr">Votre solde disponible</Translation>
    <Translation Language="he">היתרה הזמינה שלך</Translation>
    <Translation Language="ms">Baki tersedia anda</Translation>
    <Translation Language="pt">O seu saldo disponível</Translation>
    <Translation Language="ru">Ваш доступный баланс</Translation>
    <Translation Language="th">ยอดคงเหลือที่คุณมีอยู่</Translation>
    <Translation Language="uk">Ваш доступний баланс</Translation>
    <Translation Language="vi">Số dư khả dụng của bạn</Translation>
  </Translations>
</Dictionary>