<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7744adc1-7a7f-4be3-9e2d-95fa240ea65c" Alias="Your Account Balance" Level="1">
  <Info>
    <Parent>Withdraw Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Your Account Balance:</Translation>
    <Translation Language="es">Saldo de su cuenta:</Translation>
    <Translation Language="fr">Solde de votre compte:</Translation>
    <Translation Language="he">יתרת החשבון שלך:</Translation>
    <Translation Language="ms">Baki Akaun Anda:</Translation>
    <Translation Language="pt">O saldo da sua conta:</Translation>
    <Translation Language="ru">Баланс вашего счета:</Translation>
    <Translation Language="th">ยอดคงเหลือในบัญชีของคุณ:</Translation>
    <Translation Language="uk">Баланс вашого рахунку:</Translation>
    <Translation Language="vi">Số dư tài khoản của bạn:</Translation>
  </Translations>
</Dictionary>