<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="86860708-855c-4c32-8bf2-fe54c36cca60" Alias="Your ID (Passport or driver's license)" Level="2">
  <Info>
    <Parent>Page 1</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Your ID (Passport or driver's license)</Translation>
    <Translation Language="es">Tu identificación (pasaporte o licencia de conducir)</Translation>
    <Translation Language="fr">Votre pièce d'identité (passeport ou permis de conduire)</Translation>
    <Translation Language="he">תעודת הזהות שלך (דרכון או רשיון נהיגה)</Translation>
    <Translation Language="ms">ID anda (Pasport atau lesen memandu)</Translation>
    <Translation Language="pt">O seu documento de identificação (passaporte ou carta de condução)</Translation>
    <Translation Language="ru">Ваше удостоверение личности (паспорт или водительское удостоверение)</Translation>
    <Translation Language="th">บัตรประจำตัวของคุณ (หนังสือเดินทางหรือใบขับขี่)</Translation>
    <Translation Language="uk">Ваше посвідчення особи (паспорт або посвідчення водія)</Translation>
    <Translation Language="vi">Giấy tờ tùy thân của bạn (Hộ chiếu hoặc giấy phép lái xe)</Translation>
  </Translations>
</Dictionary>