<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="41592d7d-eafe-4bdd-9ec4-ff4d51751fb2" Alias="Your winnings:" Level="1">
  <Info>
    <Parent>Account Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Your winnings:</Translation>
    <Translation Language="es">Tus ganancias:</Translation>
    <Translation Language="fr">Vos gains:</Translation>
    <Translation Language="he">הרווחים שלך:</Translation>
    <Translation Language="ms">Kemenangan anda:</Translation>
    <Translation Language="pt">Os seus ganhos:</Translation>
    <Translation Language="ru">Ваши выигрыши:</Translation>
    <Translation Language="th">เงินรางวัลของคุณ:</Translation>
    <Translation Language="uk">Ваші виграші:</Translation>
    <Translation Language="vi">Tiền thắng của bạn:</Translation>
  </Translations>
</Dictionary>