<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8c218879-887a-4448-b34e-31c97dbbdca7" Alias="Your payment was declined" Level="1">
  <Info>
    <Parent>Transactions errors</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Your payment was declined</Translation>
    <Translation Language="es">Su pago fue rechazado</Translation>
    <Translation Language="fr">Votre paiement a été refusé</Translation>
    <Translation Language="he">התשלום שלך נדחה</Translation>
    <Translation Language="ms">Pembayaran anda telah ditolak</Translation>
    <Translation Language="pt">O seu pagamento foi recusado</Translation>
    <Translation Language="ru">Ваш платеж отклонен</Translation>
    <Translation Language="th">การชำระเงินของคุณถูกปฏิเสธ</Translation>
    <Translation Language="uk">Ваш платіж був відхилений</Translation>
    <Translation Language="vi">Thanh toán của bạn đã bị từ chối</Translation>
  </Translations>
</Dictionary>