<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="607746af-e992-4dc8-9c3c-d27919369a13" Alias="Your bank country" Level="1">
  <Info>
    <Parent>Withdraw Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Your bank country</Translation>
    <Translation Language="es">País de tu banco</Translation>
    <Translation Language="fr">Votre pays de la banque</Translation>
    <Translation Language="he">המדינה של הבנק שלך</Translation>
    <Translation Language="ms">Negara bank anda</Translation>
    <Translation Language="pt">O país do seu banco</Translation>
    <Translation Language="ru">Страна вашего банка</Translation>
    <Translation Language="th">ประเทศของธนาคารของคุณ</Translation>
    <Translation Language="uk">Країна вашого банку</Translation>
    <Translation Language="vi">Quốc gia ngân hàng của bạn</Translation>
  </Translations>
</Dictionary>