<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7a661669-ee13-4ea9-a8cf-4cebd2855356" Alias="Your email has been updated." Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Your email has been updated.</Translation>
    <Translation Language="es">Your email has been updated.</Translation>
    <Translation Language="fr">Your email has been updated.</Translation>
    <Translation Language="he">Your email has been updated.</Translation>
    <Translation Language="ms">Your email has been updated.</Translation>
    <Translation Language="pt">Your email has been updated.</Translation>
    <Translation Language="ru">Your email has been updated.</Translation>
    <Translation Language="th">Your email has been updated.</Translation>
    <Translation Language="uk">Your email has been updated.</Translation>
    <Translation Language="vi">Your email has been updated.</Translation>
  </Translations>
</Dictionary>