<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3cd33249-1ede-44ea-9eb1-17565501dccb" Alias="Your affiliate profits:" Level="1">
  <Info>
    <Parent>Account Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Your affiliate profits:</Translation>
    <Translation Language="es">Tus beneficios de afiliado:</Translation>
    <Translation Language="fr">Vos profits d'affiliation :
</Translation>
    <Translation Language="he">רווחי השותפות שלך:</Translation>
    <Translation Language="ms">Keuntungan afiliasi anda:</Translation>
    <Translation Language="pt">Os seus lucros de afiliado:</Translation>
    <Translation Language="ru">Ваши прибыли от партнерства:</Translation>
    <Translation Language="th">กำไรจากพันธมิตรของคุณ:</Translation>
    <Translation Language="uk">Ваші прибутки від партнерства:</Translation>
    <Translation Language="vi">Lợi nhuận liên kết của bạn:</Translation>
  </Translations>
</Dictionary>