<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6c07bc9b-3612-4fc9-848b-48c30ff0fc85" Alias="Your email address" Level="1">
  <Info>
    <Parent>Verify Email Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Your email address</Translation>
    <Translation Language="es">Tu dirección de correo electrónico</Translation>
    <Translation Language="fr">Votre adresse e-mail</Translation>
    <Translation Language="he">כתובת הדוא"ל שלך</Translation>
    <Translation Language="ms">Alamat e-mel anda</Translation>
    <Translation Language="pt">O seu endereço de e-mail</Translation>
    <Translation Language="ru">Ваш адрес электронной почты</Translation>
    <Translation Language="th">ที่อยู่อีเมลของคุณ</Translation>
    <Translation Language="uk">Ваша адреса електронної пошти</Translation>
    <Translation Language="vi">Địa chỉ email của bạn</Translation>
  </Translations>
</Dictionary>