<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2f54125f-2dc2-4fd6-a0cd-0266fc8c2eef" Alias="ZIP/Post Code" Level="2">
  <Info>
    <Parent>Address information</Parent>
  </Info>
  <Translations>
    <Translation Language="en">ZIP/Post Code</Translation>
    <Translation Language="es">Código Postal/ZIP</Translation>
    <Translation Language="fr">Code postal</Translation>
    <Translation Language="he">מיקוד</Translation>
    <Translation Language="ms">Poskod/Poskod ZIP</Translation>
    <Translation Language="pt">CEP/Código Postal</Translation>
    <Translation Language="ru">Почтовый индекс</Translation>
    <Translation Language="th">รหัสไปรษณีย์</Translation>
    <Translation Language="uk">Поштовий індекс</Translation>
    <Translation Language="vi">Mã bưu chính</Translation>
  </Translations>
</Dictionary>