<?xml version="1.0" encoding="utf-8"?>
<Domain Key="87baadb7-0000-0000-0000-000000000000" Alias="/fr/landing">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>fr</Language>
    <Root Key="71f262d7-b10e-4609-a057-36edbfa4a352">/Home/Sign In</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>