<?xml version="1.0" encoding="utf-8"?>
<Domain Key="992c9cb0-0000-0000-0000-000000000000" Alias="/he/landing">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>he</Language>
    <Root Key="71f262d7-b10e-4609-a057-36edbfa4a352">/Home/Sign In</Root>
    <SortOrder>2</SortOrder>
  </Info>
</Domain>