<?xml version="1.0" encoding="utf-8"?>
<Domain Key="eff76fce-0000-0000-0000-000000000000" Alias="/landing">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en</Language>
    <Root Key="71f262d7-b10e-4609-a057-36edbfa4a352">/Home/Sign In</Root>
    <SortOrder>3</SortOrder>
  </Info>
</Domain>