<?xml version="1.0" encoding="utf-8"?>
<Domain Key="566558b2-0000-0000-0000-000000000000" Alias="/ru/landing">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>ru</Language>
    <Root Key="71f262d7-b10e-4609-a057-36edbfa4a352">/Home/Sign In</Root>
    <SortOrder>4</SortOrder>
  </Info>
</Domain>