@using System.Globalization
@using System.Threading
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<VerifyPhonePage>

@{
    var strTitle = Umbraco.GetDictionaryValue($"VPP - Page{Model.ActivePageIndex}");
}

<section>
    <div class="row align-items-start mx-0 mt-60 ">
        <div class="">
            <h1 class="verify-title">@Html.Raw(strTitle)</h1>
        </div>
        <div class="ml-auto">
            <a class="link-22-14" href="@Umbraco.GetDictionaryValue("VPP - Need Help Url")">
                @Umbraco.GetDictionaryValue("VPP - Need Help") <span class="ml-2 pl-1" style="font-size:1.2em;">&rsaquo;</span>
            </a>
        </div>
    </div>
</section>
