<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9fabd77-5b89-447a-b4dc-e28325b9750d" Alias="500Error" Level="2">
  <Info>
    <Parent Key="de9b1a0c-0e2d-4cf5-8e15-d2a53144d177">Home</Parent>
    <Path>/Home/Error</Path>
    <Trashed>false</Trashed>
    <ContentType>errorPage</ContentType>
    <CreateDate>2025-12-07T17:43:49</CreateDate>
    <NodeName Default="500Error" />
    <SortOrder>37</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="73171f9a-075b-45e7-a2a7-0983f21ad6e2">ErrorPage</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>