<?xml version="1.0" encoding="utf-8"?>
<Content Key="c3f96fab-20d0-484a-924f-94a97aa6fa9c" Alias="Deposit" Level="2">
  <Info>
    <Parent Key="de9b1a0c-0e2d-4cf5-8e15-d2a53144d177">Home</Parent>
    <Path>/Home/Deposit</Path>
    <Trashed>false</Trashed>
    <ContentType>deposite</ContentType>
    <CreateDate>2022-11-29T03:19:33</CreateDate>
    <NodeName Default="Deposit" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="516da0db-1172-4f7b-8653-0a75ba2e0b54">DepositPage</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>