<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1ef09e6-a428-42c9-9b50-4b432a62458e" Alias="Identity" Level="2">
  <Info>
    <Parent Key="de9b1a0c-0e2d-4cf5-8e15-d2a53144d177">Home</Parent>
    <Path>/Home/Identity</Path>
    <Trashed>false</Trashed>
    <ContentType>identityVerifyPage</ContentType>
    <CreateDate>2022-11-29T03:37:58</CreateDate>
    <NodeName Default="Identity" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f4edc208-aeeb-4319-8d64-cef423f8ff45">IdentityVerifyPage</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>