<?xml version="1.0" encoding="utf-8"?>
<Content Key="0003fb6c-d689-4161-a977-e6de1ef42ce3" Alias="Payment Success" Level="2">
  <Info>
    <Parent Key="de9b1a0c-0e2d-4cf5-8e15-d2a53144d177">Home</Parent>
    <Path>/Home/PaymentSuccess</Path>
    <Trashed>false</Trashed>
    <ContentType>paymentSuccessPage</ContentType>
    <CreateDate>2023-01-18T16:27:43</CreateDate>
    <NodeName Default="Payment Success" />
    <SortOrder>25</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>