<?xml version="1.0" encoding="utf-8"?>
<Content Key="0f430c6d-b3c5-41e9-b75f-78bc27dd4240" Alias="Personal Info" Level="2">
  <Info>
    <Parent Key="de9b1a0c-0e2d-4cf5-8e15-d2a53144d177">Home</Parent>
    <Path>/Home/PersonalInfo</Path>
    <Trashed>false</Trashed>
    <ContentType>personalInfoPage</ContentType>
    <CreateDate>2022-11-29T03:33:08</CreateDate>
    <NodeName Default="Personal Info" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f739a5c7-afe4-4d99-8a9f-1351349bc610">PersonaInfoPage</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>