<?xml version="1.0" encoding="utf-8"?>
<Content Key="b23dde53-043d-4949-82e6-74d359aab5ea" Alias="Played History" Level="2">
  <Info>
    <Parent Key="de9b1a0c-0e2d-4cf5-8e15-d2a53144d177">Home</Parent>
    <Path>/Home/PlayedHistory</Path>
    <Trashed>false</Trashed>
    <ContentType>playedHistoryPage</ContentType>
    <CreateDate>2022-11-29T03:42:05</CreateDate>
    <NodeName Default="Played History" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="35d99d1a-73ae-4229-9b81-6345d5fc9494">HistoryPlayedPage</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>