<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c0a9d88-b12d-447e-9d03-70e15cf451b4" Alias="Promotions" Level="2">
  <Info>
    <Parent Key="de9b1a0c-0e2d-4cf5-8e15-d2a53144d177">Home</Parent>
    <Path>/Home/Promotions</Path>
    <Trashed>false</Trashed>
    <ContentType>promotionsPage</ContentType>
    <CreateDate>2023-03-09T16:28:31</CreateDate>
    <NodeName Default="Promotions" />
    <SortOrder>30</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>