<?xml version="1.0" encoding="utf-8"?>
<Content Key="a3ab714c-289d-49b3-a3da-4c18c1f2fb96" Alias="Set-Password" Level="2">
  <Info>
    <Parent Key="de9b1a0c-0e2d-4cf5-8e15-d2a53144d177">Home</Parent>
    <Path>/Home/SetPassword</Path>
    <Trashed>false</Trashed>
    <ContentType>newPassword</ContentType>
    <CreateDate>2023-02-23T18:52:25</CreateDate>
    <NodeName Default="Set-Password" />
    <SortOrder>28</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="86ff388f-2822-48f5-aad1-de8d3e3602ee">NewPassword</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>