<?xml version="1.0" encoding="utf-8"?>
<Content Key="71f262d7-b10e-4609-a057-36edbfa4a352" Alias="Sign In" Level="2">
  <Info>
    <Parent Key="de9b1a0c-0e2d-4cf5-8e15-d2a53144d177">Home</Parent>
    <Path>/Home/SignIn</Path>
    <Trashed>false</Trashed>
    <ContentType>signInPage</ContentType>
    <CreateDate>2022-05-24T20:40:51</CreateDate>
    <NodeName Default="Sign In" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1698d619-e10d-4f39-b706-524ed392d005">SignInPage</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>