<?xml version="1.0" encoding="utf-8"?>
<Content Key="a8b39984-9005-44a6-a876-011f48379831" Alias="signup-verification" Level="2">
  <Info>
    <Parent Key="de9b1a0c-0e2d-4cf5-8e15-d2a53144d177">Home</Parent>
    <Path>/Home/signupVerification</Path>
    <Trashed>false</Trashed>
    <ContentType>signupVerfication</ContentType>
    <CreateDate>2023-01-06T18:15:43</CreateDate>
    <NodeName Default="signup-verification" />
    <SortOrder>24</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a2d973df-fe97-499d-8180-f55e61d8d434">signupVerfication1</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>