<?xml version="1.0" encoding="utf-8"?>
<Content Key="0edbca09-bae0-4405-9853-2ee648235923" Alias="Successfull" Level="2">
  <Info>
    <Parent Key="de9b1a0c-0e2d-4cf5-8e15-d2a53144d177">Home</Parent>
    <Path>/Home/Successfull</Path>
    <Trashed>false</Trashed>
    <ContentType>succesfullWithdraw</ContentType>
    <CreateDate>2023-05-17T02:54:06</CreateDate>
    <NodeName Default="Successfull" />
    <SortOrder>34</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0ab6a675-2419-4dc7-9712-21d2f0e268c5">Succesfull</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>