<?xml version="1.0" encoding="utf-8"?>
<Content Key="7bbf1328-3d84-41d4-b0bc-2322e6f691cd" Alias="Test 500" Level="2">
  <Info>
    <Parent Key="de9b1a0c-0e2d-4cf5-8e15-d2a53144d177">Home</Parent>
    <Path>/Home/Test500</Path>
    <Trashed>false</Trashed>
    <ContentType>test500Page</ContentType>
    <CreateDate>2022-06-08T13:42:48</CreateDate>
    <NodeName Default="Test 500" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a0e56c35-c905-45d2-a661-645aa0eff501">Test500Page</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>