<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c05a699-cfbb-422f-b8cb-77ba7e018fc4" Alias="Verify Phone" Level="2">
  <Info>
    <Parent Key="de9b1a0c-0e2d-4cf5-8e15-d2a53144d177">Home</Parent>
    <Path>/Home/VerifyPhone</Path>
    <Trashed>false</Trashed>
    <ContentType>verifyPhonePage</ContentType>
    <CreateDate>2022-05-31T13:30:16</CreateDate>
    <NodeName Default="Verify Phone" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8d60726b-edc9-41a4-b631-c4d3d40ba913">VerifyPhonePage</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>