<?xml version="1.0" encoding="utf-8"?>
<Content Key="73d54489-f479-4c36-bff1-022c2c9c131e" Alias="Verify Email" Level="2">
  <Info>
    <Parent Key="de9b1a0c-0e2d-4cf5-8e15-d2a53144d177">Home</Parent>
    <Path>/Home/VerifyEmail</Path>
    <Trashed>false</Trashed>
    <ContentType>verifyEmailPagee</ContentType>
    <CreateDate>2025-10-29T15:43:32</CreateDate>
    <NodeName Default="Verify Email" />
    <SortOrder>36</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9cc9ef2b-eed2-42db-82a0-49c700bb17b8">VerifyEmailPage</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>